@model Research
@using Utl
@using Entity
@Html.ValidationSummary(true)
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
 
    <div class="editor-label">
        @Html.LabelFor(model =>  model.Contents)
    </div>
    <div class="editor-field">
        @Html.Telerik().EditorFor(model => model.Contents)
        @Html.ValidationMessageFor(model => model.Contents)
    </div>
</fieldset>


