@model Research
@using Utl
@using Entity
@Html.ValidationSummary(true)
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
 
    <div class="editor-label">
        @Html.LabelFor(model =>  model.Contents)
    </div>
    <div class="editor-field">
        @Html.Telerik().EditorFor(model => model.Contents)
        @Html.ValidationMessageFor(model => model.Contents)
    </div>

     <div class="editor-label">
        @Html.Label("调研图片")
    </div>
     <div class="editor-field">
        @{if (Model != null)
          {
            <img  alt="上传文件" width="300" height="200" src=@Url.Action("ShowImage", "Image", new { id = Model.ImageID }) />
          }
        }
        @Html.Telerik().Upload().Async(a=>a.AutoUpload(true)).Name("attachments").Multiple(false)
    </div>
</fieldset>


