@using Entity
@using Utl
@model Project
<fieldset>
    <legend>@SR.Form</legend>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.IsActived)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsActived)
        @Html.ValidationMessageFor(model => model.IsActived)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectCode)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ProjectCode)
        @Html.ValidationMessageFor(model => model.ProjectCode)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.StartDate)
    </div>
    <div class="editor-field">
        @Html.Telerik().DatePickerFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.EndDate)
    </div>
    <div class="editor-field">
        @Html.Telerik().DatePickerFor(model => model.EndDate)
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Manager)
    </div>
    <div class="editor-field">
         @Html.Telerik().ComboBoxFor(model => model.Manager).BindTo(new SelectList(Employee.GetEmplyeeByLVL(ManagerRequired.LVL), "UserName", "UserName"))
        @Html.ValidationMessageFor(model => model.Manager)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.TeamLeader)
    </div>
    <div class="editor-field">
         
        @Html.Telerik().ComboBoxFor(model => model.TeamLeader).BindTo(new SelectList(Employee.GetEmplyeeByLVL(LeaderRequired.LVL), "UserName", "UserName"))
        @Html.ValidationMessageFor(model => model.TeamLeader)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Target)
    </div>
    <div class="editor-field">
        @Html.Telerik().CurrencyTextBoxFor(model => model.Target)
        @Html.ValidationMessageFor(model => model.Target)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.SaleBrief)
    </div>
    <div class="editor-field">
        @Html.Telerik().EditorFor(model => model.SaleBrief)
        @Html.ValidationMessageFor(model => model.SaleBrief)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Others)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Others)
        @Html.ValidationMessageFor(model => model.Others)
    </div>
</fieldset>
