@{
    ViewBag.Title = "Distribution";
}
@using Entity
@using Utl
@model List<Member>
@Html.Partial("contenttitle", "字头分配")
@helper CompanysTree()
    {
    <div class="zimu_left">
        <h2>
            备选字母</h2>
        <ul class="charatacter connectedSortable"  style=" width:100%; min-height:300px">
            @if (ViewBag.DC != null)
            {
                var dc = (List<string>)ViewBag.DC;
                foreach (var c in dc)
                {
                <li>@c</li> 
                }
            }
           
        </ul>
         <input type="submit" style=" margin:62px;"  value="提交"   />
    </div>
}
@helper Members()
    {
        var Members = CH.GetAllData<Member>(i => i.ProjectID == (int)ViewBag.ProjectID);
    <div class="zimu_right">
        @if (Members != null)
        {
            foreach (var m in Members)
            {
            <div>
                <h3>@m.Name:</h3>
                <ul class="drop-container connectedSortable pane" mid=@m.ID>
                    @foreach (var c in m.CharactersSet)
                    {
               
                        <li>@c<input name="mc" type="hidden" value=@m.ID|@c />
                        </li> 
                    }
                </ul>
            </div>
            }
        }
    </div>
        
           

       

   
}
<div class="xiangmu_2">
    <div class="yuanjiao">
    </div>
    <div class="xiangmu_3">
     @{ Html.BeginForm(); }
     <div> @CompanysTree()
        
        
       
        @Members()
         </div>
          
        @Html.Hidden("ProjectID", (int)ViewBag.ProjectID)
       
    
       
        @{ Html.EndForm(); }
    </div>
     
    <div class="yuanjiao_2">
    </div>
</div>
<style type="text/css" type="text/css">
    #TreeView
    {
        height: 24em;
        padding: .5em;
    }
    .drop-container
    {
        height: 8em;
        overflow: auto;
        margin-left: 15px;
        border-width: 1px;
        border-style: solid;
        width: 93%;
        padding-top: 15px;
    }
    .charatacter
    {
         max-width:200px; 
    }
    .charatacter li, .pane li
    {
        float: left;
        border-width: 1px;
        border-style: solid;
        list-style-type: none;
        min-width: 50px;
        text-align: center;
        margin-left: 5px;
    }
    h3
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        color: #d96a10;
        font-size: 14px;
    }
    
   
</style>
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> initialCharDistribution()
    </text>);
}
