@model Category
@using Utl
@{
    ViewBag.Title = "添加Category";
}
@using Entity

<fieldset>
    <legend>@SR.Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Details)
        </div>
         <div class="editor-field">
            @Html.TextAreaFor(model => model.Details)
            @Html.ValidationMessageFor(model => model.Details)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectID)
        </div>
           @Html.Hidden("ProjectID", Model == null ? (int)ViewBag.ProjectID : Model.ProjectID)
            @if (Model == null)
            {
                var p = CH.GetDataById<Project>((int)ViewBag.ProjectID);
                <p>@p.Name</p>
            }
            else
            {
            @Html.DisplayFor(model => model.Project.Name)
            }
</fieldset>