@model Member
@using Utl
@using Entity
@{
    ViewBag.Title = "添加成员";
}
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.Telerik().ComboBoxFor(model => model.Name).BindTo(new SelectList(Employee.GetAvailbleSales(ViewBag.ProjectID == null ? Model.ProjectID : (int)ViewBag.ProjectID, Model == null ? null : Model.Name))).Value(Model == null ? null : Model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Characters)
    </div>
    <div class="editor-field">
        @Html.DisplayTextFor(model => model.Characters)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IsActivated)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsActivated)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.SalesTypeID)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.SalesTypeID,new SelectList(CH.GetAllData<SalesType>(),"ID","Name"),"-请选择-")
         @Html.ValidationMessageFor(model => model.SalesTypeID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectID)
    </div>
    <div class="editor-field">
        @Html.Hidden("ProjectID", ViewBag.ProjectID==null?Model.ProjectID:(int)ViewBag.ProjectID)

        @Html.Label(CH.GetDataById<Project>(ViewBag.ProjectID == null ? Model.ProjectID : (int)ViewBag.ProjectID).Name)
        @Html.ValidationMessageFor(model => model.ProjectID)
    </div>
</fieldset>
