@model Member
@using Utl
@using Entity
@{
    ViewBag.Title = "Create";
}
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.Telerik().ComboBoxFor(model => model.Name).BindTo(new SelectList(Employee.GetEmplyeeByLVL(SalesRequired.LVL,LeaderRequired.LVL), "UserName", "UserName"))
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Characters)
    </div>
    <div class="editor-field">
        @Html.DisplayTextFor(model => model.Characters)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectID)
    </div>
    <div class="editor-field">
        @Html.Hidden("ProjectID", ViewBag.ProjectID==null?Model.ProjectID:(int)ViewBag.ProjectID)

        @Html.Label(CH.GetDataById<Project>(ViewBag.ProjectID == null ? Model.ProjectID : (int)ViewBag.ProjectID).Name)
        @Html.ValidationMessageFor(model => model.ProjectID)
    </div>
</fieldset>
