@model Entity.Member
@using Utl
@using Entity
<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Characters</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Characters)
    </div>

     <div class="editor-field">
        @Html.HiddenFor(m=>m.ProjectID)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>


   
</fieldset>

