@model Sales.Model._ManagerScore
@using Entity



@Html.TextBoxFor(model => model.TargetName, new { @style = "display:none" })
    @Html.TextBoxFor(model => model.Assigner, new { @style = "display:none" })
@if (Utl.Employee.CurrentUserName == "karen")
{
    <style type="text/css">
   
    
    /* in-form editing */
    .t-edit-form-container
    {
         width: 250px;
        height:120px;
        margin: 1em;
        text-align: right;
    }
   td
   {
       text-align:left;
   }
</style>
    <div style=" padding-bottom:40px;width:100%"> 
    <table style="width:100%" >
    <tr>
            <td  colspan=2 style=" color:Red; text-align:center"> 您正在设置 @Html.TextBoxFor(model => model.Month, new { @readonly = "readonly", @style = "border:none;width:10px;color:red" })月的系数</td>
            
        </tr>
     <tr>
        <td style="width:50%">@Html.LabelFor(model => model.Rate)</td>
        <td style="width:50%">@Html.DropDownListFor(model => model.Rate, new SelectList(new List<double>() { 0, 1, 1.2 }), new { @style = "width:100px" })</td>
        @Html.TextBoxFor(model => model.Responsibility, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.Discipline, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.Excution, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.Targeting, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.Searching, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.Production, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.PitchPaper, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.WeeklyMeeting, new { @style = "display:none" })
        @Html.TextBoxFor(model => model.MonthlyMeeting, new { @style = "display:none" })
     </tr>
     </table>
    </div>
}
else
{
    <style type="text/css">
   
    
    /* in-form editing */
    .t-edit-form-container
    {
        width: 550px;
        height:250px;
        margin: 1em;
        text-align: right;
    }
   td
   {
       text-align:left;
   }
</style>
<div style=" padding-bottom:40px;width:100%"> 
 
 
    @Html.TextBoxFor(model => model.Rate, new { @style = "display:none" })
    <table style="width:100%" >
        <tr>
            <td  colspan=3 style=" color:Red; text-align:center"> 您正在给 @Html.TextBoxFor(model => model.Month, new { @readonly = "readonly", @style = "border:none;width:10px;color:red" })月的数据打分</td>
            
        </tr>
        <tr>
            <td style="width:30%">@Html.LabelFor(model => model.Responsibility)</td>
            <td style="width:30%">@Html.LabelFor(model => model.Discipline)</td>
            <td style="width:30%">@Html.LabelFor(model => model.Excution)</td>
        </tr>
        <tr>
            <td>@Html.Telerik().DropDownListFor(model => model.Responsibility).BindTo(new SelectList(BLL.CRM_Logical.GetResponsibilityItems(), "ID", "Name", "请选择")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Discipline).BindTo(new SelectList(BLL.CRM_Logical.GetDisciplineItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Excution).BindTo(new SelectList(BLL.CRM_Logical.GetExcutionItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Targeting)</td>
            <td>@Html.LabelFor(model => model.Searching)</td>
            <td>@Html.LabelFor(model => model.Production)</td>
        </tr>
        <tr>
            <td>@Html.Telerik().DropDownListFor(model => model.Targeting).BindTo(new SelectList(BLL.CRM_Logical.GetTargetingItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Searching).BindTo(new SelectList(BLL.CRM_Logical.GetSearchingItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Production).BindTo(new SelectList(BLL.CRM_Logical.GetProductionItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.PitchPaper)</td>
            <td>@Html.LabelFor(model => model.WeeklyMeeting)</td>
            <td>@Html.LabelFor(model => model.MonthlyMeeting)</td>
        </tr>
        <tr>
            <td>@Html.Telerik().DropDownListFor(model => model.PitchPaper).BindTo(new SelectList(BLL.CRM_Logical.GetPitchPaperItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.WeeklyMeeting).BindTo(new SelectList(BLL.CRM_Logical.GetWeeklyMeetingItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.MonthlyMeeting).BindTo(new SelectList(BLL.CRM_Logical.GetMonthlyMeetingItems(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
    </table>
</div>    
}

