@model Sales.Model._ManagerScore
@using Entity
@using Utl
@{
    ViewBag.Title = "Customer Orders";
}
<style type="text/css">
   
    
    /* in-form editing */
    .t-edit-form-container
    {
        width: 550px;
        height:250px;
        margin: 1em;
        text-align: right;
    }
   td
   {
       text-align:left;
   }
</style>
<div style=" padding-bottom:40px;width:100%"> 
    @Html.TextBoxFor(model => model.TargetName,new { @style="display:none"})
    @Html.TextBoxFor(model => model.Assigner,new { @style="display:none"})
    <table style="width:100%" >
        <tr>
            <th style="width:30%">@Html.LabelFor(model => model.Responsibility)</th>
            <th style="width:30%">@Html.LabelFor(model => model.Discipline)</th>
            <th style="width:30%">@Html.LabelFor(model => model.Excution)</th>
        </tr>
        <tr>
            <td align="left">@Html.Telerik().DropDownListFor(model => model.Responsibility).BindTo(new SelectList(BLL.CRM_Logical.GetItem1(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Discipline).BindTo(new SelectList(BLL.CRM_Logical.GetItem2(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Excution).BindTo(new SelectList(BLL.CRM_Logical.GetItem3(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Targeting)</th>
            <th>@Html.LabelFor(model => model.Searching)</th>
            <th>@Html.LabelFor(model => model.Production)</th>
        </tr>
        <tr>
            <td>@Html.Telerik().DropDownListFor(model => model.Targeting).BindTo(new SelectList(BLL.CRM_Logical.GetItem4(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Searching).BindTo(new SelectList(BLL.CRM_Logical.GetItem5(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.Production).BindTo(new SelectList(BLL.CRM_Logical.GetItem6(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PitchPaper)</th>
            <th>@Html.LabelFor(model => model.WeeklyMeeting)</th>
            <th>@Html.LabelFor(model => model.MonthlyMeeting)</th>
        </tr>
        <tr>
            <td>@Html.Telerik().DropDownListFor(model => model.PitchPaper).BindTo(new SelectList(BLL.CRM_Logical.GetItem7(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.WeeklyMeeting).BindTo(new SelectList(BLL.CRM_Logical.GetItem8(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
            <td>@Html.Telerik().DropDownListFor(model => model.MonthlyMeeting).BindTo(new SelectList(BLL.CRM_Logical.GetItem9(), "ID", "Name")).DropDownHtmlAttributes(new { style = string.Format("width:{0}px", 200) })</td>
        </tr>
    </table>
</div>    
    

