@model Entity.TargetOfMonthForMember
@using Utl
@using Entity
@Html.ValidationSummary(true)
@*@if (Model.MemberID == null)
{     
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MemberID").attr("value", '@ViewBag.MenberID');
        });  
    </script>
}*@
@using (Html.BeginForm())
{
    <fieldset>
        @{if (Model.ID != 0)
          {
            <legend>编辑月目标</legend>
          }
          else
          {
            <legend>新增月目标</legend>
          }
        }
        <table style="padding: 10px; margin: 10px">
            <tr>
                <td>
                    @Html.LabelFor(model => model.MemberID, "目标制定人")
                </td>
                <td colspan="3">
                    @Html.DropDownListFor(m => m.MemberID, new SelectList(CH.GetAllData<Member>().Where(s => s.ProjectID == ViewBag.ProjectID && s.Name == Employee.CurrentUserName), "ID", "Name"), new { style = "width:200px" })
                   @* @Html.ValidationMessageFor(m => m.MemberID)*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ProjectID, "项目名称")
                </td>
                <td colspan="3">
                    @Html.DropDownListFor(m => m.ProjectID, new SelectList(CH.GetAllData<Project>().Where(s => s.ID == ViewBag.ProjectID), "ID", "Name"), new { style = "width:200px" })
                   @* @Html.ValidationMessageFor(model => model.ProjectID)*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StartDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.StartDate).Value(Model.ID == 0 ? DateTime.Now.StartOfMonth() : Model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </td>
                <td>
                    @Html.LabelFor(model => model.EndDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.EndDate).Value(Model.ID == 0 ? DateTime.Now.EndOfMonth() : Model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Deal)
                </td>
                <td>
                    @Html.Telerik().CurrencyTextBoxFor(model => model.Deal)
                    @Html.ValidationMessageFor(model => model.Deal)
                </td>
                <td>
                    @Html.LabelFor(model => model.CheckIn)
                </td>
                <td>
                    @Html.Telerik().CurrencyTextBoxFor(model => model.CheckIn)
                    @Html.ValidationMessageFor(model => model.CheckIn)
                </td>
        </table>
        @Html.HiddenFor(model => model.BaseDeal)
        @Html.HiddenFor(model => model.IsConfirm)
    </fieldset>
@* @Html.Partial("editcommon", Model)*@
}
