@model Sales.Model._TeamLeadPerformance
@using Entity
@using Utl

<style type="text/css">
   
    
    /* in-form editing */
    .t-edit-form-container
    {
        width: 250px;
        height:120px;
        margin: 1em;
        text-align: right;
    }
   td
   {
       text-align:left;
   }
</style>
<div style=" padding-bottom:40px;width:100%"> 
    @Html.TextBoxFor(model => model.Name,new { @style="display:none"})
    @Html.TextBoxFor(model => model.RateAssigner, new { @style = "display:none" })
    @Html.TextBoxFor(model => model.RoleLevel, new { @style = "display:none" })
    @Html.TextBoxFor(model => model.User, new { @style = "display:none" })
    <table style="width:100%" >
        @{ 
        if (ViewBag.RoleLevel >= 1000)
        {
            <tr>
                <td style="width:50%">@Html.LabelFor(model => model.Rate)</td>
                <td style="width:50%">@Html.DropDownListFor(model => model.Rate, new SelectList(new List<double>() { 0, 1, 1.2 }), "-«Î—°‘Ò-")</td>
                @Html.TextBoxFor(model => model.AssignedScore, new { @style = "display:none" })
            </tr>
        }
        else
        {
            <tr>
                <td style="width:50%">@Html.LabelFor(model => model.AssignedScore)</td>
                <td style="width:50%">@Html.TextBoxFor(model => model.AssignedScore)</td>
                @Html.TextBoxFor(model => model.Rate, new { @style = "display:none" })
            </tr>
        }
    }
        
    </table>
     
</div>    
    

