@{
    ViewBag.Title = "Details";
}
@model Entity.UserInfoModel
@using Utl
@using Entity
<fieldset>
    <legend>账号信息</legend>
    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.UserName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.RoleID)
    </div>
    <div class="editor-field">
        @if (Model.RoleID == 0)
        {
            <p>
                未配置</p> 
        }
        else
        {
            @Html.Label(CH.GetDataById<Role>(Model.RoleID).Name)
        }
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.DisplayName)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.DisplayName)
    </div>
    @if (Employee.AsDirector())
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.Contact)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Contact)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Mobile)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Mobile)
        </div>
    }
    <div class="editor-label">
        @Html.LabelFor(m => m.BirthDay)
    </div>
    <div class="editor-field">
        @Html.Label(Model.BirthDay.ToShortDateString())
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Gender)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Gender)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Department)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(m => m.Department)
    </div>
</fieldset>
@Html.ActionLink(SR.GobackToList, "Index")
