@{
    ViewBag.Title = "设账号设置";
}
@using Utl
@model Entity.UserInfoModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend>账号信息</legend>
        <div class="editor-label">
            @Html.LabelFor(m=>m.UserName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.UserName)
            @Html.HiddenFor(m => m.UserName)
        </div>
        <div class="editor-label">
            @Html.Label("职级")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.RoleID, new SelectList(CH.GetAllData<Entity.Role>(), "ID", "Name"), "-请选择-")
            @Html.ValidationMessageFor(m => m.RoleID)
        </div>
         <div class="editor-label">
            @Html.Label("是否激活")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.IsActivated)
            @Html.ValidationMessageFor(m => m.IsActivated)
        </div>
    </fieldset>
    
    <div>
        <center>
            <input type="submit" value=@SR.Save />
            @Html.ActionLink(SR.GobackToList, "Index")
        </center>
    </div>
}
