@using Entity
@using Utl
<script>
    var glstartdate;
</script>
@Html.Partial("contenttitle", "项目月目标列表")
<div id="filter-container" style="height: 30px;">
    <span>
        <label style="margin: 7px; float: left;">
            筛选:</label>
        @Html.DropDownList("Filter", SelectHelper.TargetOfMonthSelectList(), new { style = "margin:5px;float: left;", onchange = "onChange();" })
    </span><span>
        <label style="margin: 7px; float: left;">
            项目:</label>
        @Html.DropDownList("Projects", SelectHelper.SuperManagerProjectSelectList((int?)ViewBag.selectVal), "所有项目", new { style = "margin:5px;float: left;", onchange = "onChange();" })
    </span>
</div>
<fieldset>
<legend>目前确认</legend>
@(Html.Telerik().Grid<Model.AjaxTargetOfMonth>().Name("TargetOfMonth")
        .DataKeys(keys =>
        {
            keys.Add(s => s.ID);
        })
        .Columns(c =>
        {

            c.Bound(item => item.ProjectName).Width(100);
            c.Bound(item => item.Manger).Width(70);;
            c.Bound(item => item.Deal).Width(100);
            c.Bound(item => item.CheckIn).Width(100);
            c.Bound(item => item.StartDate).Width(80);
            c.Bound(item => item.EndDate).Width(80);
            //c.Bound(item => item.TargetOf1stWeek).Width(80);
            //c.Bound(item => item.TargetOf2ndWeek).Width(80);
            //c.Bound(item => item.TargetOf3rdWeek).Width(80);
            //c.Bound(item => item.TargetOf4thWeek).Width(80);
            //c.Bound(item => item.TargetOf5thWeek).Width(80);
            c.Bound(item => item.IsAdminConfirm).Width(100);
            c.Bound(item => item.IsConfirm).Width(60);
            c.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);

            }).Title("确认").Width(60);
        })
            .ClientEvents(events => events.OnDataBinding("dataBinding").OnRowDataBound("rowDataBound").OnComplete("onComplete"))
                .ClientEvents(events => events.OnCommand("onedit"))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax().Select("_AdminSelectIndex", "TargetOfMonth")
                .Update("_AdminSaveAjaxEditing", "TargetOfMonth");
        })
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Pageable(p => p.Style(GridPagerStyles.Status).PageSize(50)
        .PageOnScroll(true)).Scrollable(s => s.Height(350)).Sortable().Groupable()
        )

</fieldset>
<fieldset>
<legend>本月目标完成情况表</legend>
@{
    var data = BLL.CRM_Logical._TargetOfMonth.GetCurrentMonthProjectTagetStatus();
        @(Html.Telerik().Grid(data).Name("TargetOfMonthStatus")
     
        .Columns(c =>
        {
            c.Bound(item => item.ProjectName);
            c.Bound(item => item.Mangager);
            c.Bound(item => item.ProjectCode);
            c.Bound(item => item.HasTargetOfMonth);
            c.Bound(item => item.HasTargetOfWeek);
        })
        .Pageable(p => p.Style(GridPagerStyles.Status).PageSize(50)).Scrollable(s => s.Height(850)).Sortable()
        )
    }
</fieldset>

<script type="text/javascript">
    function onComplete(e) {
        if (e.name == "update") {
            $("#TargetOfMonth").data("tGrid").rebind();
        }
    }
    function onChange() {
        $("#TargetOfMonth").data("tGrid").rebind();
    }
    function dataBinding(e) {
        var filter = $("#Filter").val();
        var project = $("#Projects").val();
        e.data = $.extend(e.data, { filterId: filter, projectId: project });
    }
    function rowDataBound(e) {
        if ((e.dataItem.IsAdminConfirm == "是")) {
            $(e.row).find('a.t-grid-edit').remove();
        }
    }
    function onedit(e) {
        glstartdate = "";
        glstartdate = e.dataItem.EndDate;
    }

</script>
