@using Entity
@using Utl
@Html.Partial("contenttitle", "项目月目标列表")
<div id="filter-container" style="height: 30px;">
    <span>
        <label style="margin: 7px; float: left;">
            筛选:</label>
        @Html.DropDownList("Filter", SelectHelper.TargetOfMonthSelectList(), new { style = "margin:5px;float: left;", onchange = "onChange();" })
    </span><span>
        <label style="margin: 7px; float: left;">
            项目:</label>
        @Html.DropDownList("Projects", SelectHelper.SuperManagerProjectSelectList((int?)ViewBag.selectVal), new { style = "margin:5px;float: left;", onchange = "onChange();" })
    </span>
</div>
@(Html.Telerik().Grid<Model.AjaxTargetOfMonth>().Name("TargetOfMonth")
        .DataKeys(keys =>
        {
            keys.Add(s => s.ID);
        })
        .Columns(c =>
        {
            c.Bound(item => item.ProjectName);
            c.Bound(item => item.Deal).Width(100);
            c.Bound(item => item.CheckIn).Width(100);
            c.Bound(item => item.StartDate).Width(100);
            c.Bound(item => item.EndDate).Width(100);
            c.Bound(item => item.IsAdminConfirm).Width(100);
            c.Bound(item => item.IsConfirm).Width(100);

            c.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);

            }).Title("确认").Width(100);
        })
            .ClientEvents(events => events.OnDataBinding("dataBinding").OnRowDataBound("rowDataBound").OnComplete("onComplete"))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax().Select("_AdminSelectIndex", "TargetOfMonth")
                .Update("_AdminSaveAjaxEditing", "TargetOfMonth");
        })
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Pageable(p => p.Style(GridPagerStyles.Status).PageSize(50)
        .PageOnScroll(true)).Scrollable(s => s.Height(350)).Sortable().Filterable().Groupable()
        )
@(Html.Telerik().Window().Name("Details").Visible(false).Title("确认").Modal(true).Width(500).Height(200)
.Content(@<text>
<div id="confirm-details">
    @Html.Partial(@"/views/shared/EditorTemplates/AjaxTargetOfMonth.cshtml")
</div>
</text>))
<script type="text/javascript">
    function onComplete(e) {
        if (e.name == "update") {
            $("#TargetOfMonth").data("tGrid").rebind();
        }
    }
    function onChange() {
        $("#TargetOfMonth").data("tGrid").rebind();
    }
    function dataBinding(e) {
        var filter = $("#Filter").val();
        var project = $("#Projects").val();
        e.data = $.extend(e.data, { filterId: filter, projectId: project });
    }
    function rowDataBound(e) {
        if ((e.dataItem.IsAdminConfirm == "是")) {
            $(e.row).find('a.t-grid-edit').remove();
        }
    }
</script>
