@model Entity.TargetOfMonth
@using Utl
@using BLL
@Html.ValidationSummary(true)
@Html.Partial("contenttitle", "创建项目月目标")
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@SR.Form</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.StartDate).Value(Model == null ? DateTime.Now.StartOfMonth() : Model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.EndDate).Value(Model == null ? DateTime.Now.EndOfMonth() : Model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Deal)
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.Deal)
            @Html.ValidationMessageFor(model => model.Deal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CheckIn)
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.CheckIn)
            @Html.ValidationMessageFor(model => model.CheckIn)
        </div>
        <div class="editor-field">
            第一周周目标
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.TargetOf1stWeek)
        </div>
        <div class="editor-field">
            第二周周目标
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.TargetOf2ndWeek)
        </div>
        <div class="editor-field">
            第三周周目标
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.TargetOf3rdWeek)
        </div>
        <div class="editor-field">
            第四周周目标
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.TargetOf4thWeek)
        </div>
        <div class="editor-field">
            第五周周目标
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.TargetOf5thWeek)
        </div>
        @Html.HiddenFor(model => model.ProjectID)
    </fieldset>
    @Html.Partial("editcommon", Model)
    <div>
        <center>
            <input type="submit" value=@SR.Save />
            @*@Html.ActionLink(SR.GobackToList, "Index", ViewBag.ControlName == null ? string.Empty : (string)ViewBag.ControlName)*@
        </center>
    </div>
}
