@model Entity.TargetOfMonth
@using Utl
<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">项目名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>

    <div class="display-label">开始时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">结束时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">出单目标</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deal)
    </div>

    <div class="display-label">最低目标</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaseDeal)
    </div>

    <div class="display-label">入账目标</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckIn)
    </div>
     <div class="editor-field">
        @Html.HiddenFor(m=>m.ProjectID)
    </div>
</fieldset>
