@model Entity.Department
@using Utl
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

     <div class="display-label">
        @Html.LabelFor(model => model.IsActivated)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>
</fieldset>
