@model Entity.Template
@using Utl
@{
    ViewBag.Title = "模版详细";
}

<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">标题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">副标题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubName)
    </div>

    <div class="display-label">内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">语言</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <div class="display-label">模版类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateType.Name)
    </div>
</fieldset>

