@using Sales.Model
@using Entity
@model List<ManagerScore>
@{
    ViewBag.Title = "Index";
}
 @using (Html.BeginForm())
        {
            var y = ViewBag.Year as int?;
            y = y == null ? DateTime.Now.Year : y;
            var m = ViewBag.Month as int?;
            m = m == null ? DateTime.Now.Month : m;
      <fieldset>
     <table  style="border: solid 1px #000000 !important;">
     <tr>
     <td>
     年份
     </td>
     <td>
    @Html.DropDownList("year", new SelectList(Utl.SelectHelper.YearSelectList(), "Value", "Text", y), new { onchange = "this.form.submit();" })
     </td>
     <td>
     月份
     </td>
     <td>
    
          @Html.DropDownList("month", new SelectList(new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 }, m), new { onchange = "this.form.submit();" })

     @if (Utl.Employee.CurrentRole.Level >= SuperManagerRequired.LVL || Utl.Employee.CurrentRole.Level == FinancialInterfaceRequired.LVL)
     {
        <button value="export" id="export" type="submit" name="btnExport" onclick="this.form.submit();"
            style="margin-left: 20px">
            导出</button>
        }
     </td>
     </tr>
     </table>
     </fieldset>
    
        }
@{
    var year = ViewBag.Year as int?;
    var month = ViewBag.Month as int?;
    
    var query = ViewBag.fuzzyInput as string;
    var rolelvl = ViewBag.RoleLevel as int?;
}
@{ 
    if (rolelvl >= SuperManagerRequired.LVL)
    { 
    <fieldset>
        <legend>版块负责人考核</legend>
        @(Html.Telerik().Grid<_ManagerScore>().Name("manager")

            .DataKeys(keys =>
            {
                keys.Add(o => o.ID);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax().Select("_SelectManagerIndex", "Performance", new {year=year, month = month })
                    .Update("_UpdateManagerScore", "Performance", new { year = year, month = month });
            })
        .Columns(columns =>
        {
            columns.Bound(p => p.TargetName).Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.Assigner).Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.ResponsibilityDisp).Width(50).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.DisciplineDisp).Width(50).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.ExcutionDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.TargetingDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.SearchingDisp).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.ProductionDisp).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.PitchPaperDisp).Width(90).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.WeeklyMeetingDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.MonthlyMeetingDisp).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.Calllist).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.AddLeads).Width(90).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.CheckIn).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.Rate).Width(60).HtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.Score).Width(60).HtmlAttributes(new { style = "text-align:right" }).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', Score/100) #></p>");
            columns.Bound(p => p.Graded).Width(35);
            columns.Bound(p => p.Confirmed).Width(35);

            //columns.Bound(p => p.Month).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
            //columns.Bound(p => p.Year).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
            if (ViewBag.RoleLevel == SuperManagerRequired.LVL || Utl.Employee.CurrentUserName == "ray" || Utl.Employee.CurrentUserName == "karen" || Utl.Employee.CurrentUserName == "william")
            {
                columns.Command(commands =>
                {
                    commands.Edit().ButtonType(GridButtonType.Text);
                    commands.Custom("Confirm")
                     .Text("确认")
                      .DataRouteValues(route => route.Add(o => o.ID)
                                              .RouteKey("id")
                                          )
                     .Ajax(true)
                     .Action("_ConfirmManagerScore", "Performance", new { month = month });
                }).Title("编辑").Width(100);
            }
        }).Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("ManagerScoreEdit"))
              .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForManager"))
              .ClientEvents(events => events.OnEdit("ChangeWinTitleForManager"))
              .ClientEvents(events => events.OnComplete("onManagerComplete"))
              .ClientEvents(events => events.OnCommand("onManagerCommand"))
              .ClientEvents(events => events.OnSave("onManagerSave"))
          .Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(350)).Sortable().Resizable(r => r.Columns(true))
                   )
        @*@{Html.Telerik().PanelBar()
            .Name("PanelBar")
            .HtmlAttributes(new { style = "width: 100%" })
            .Items(parent => {
                parent.Add()
                    .Text("版块负责人考核标准说明")
                    .Content(@<text>
                   <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td colspan="2"><div align="center">态度模块 10'</div></td>
                            <td width="70%"><div align="center">参考标准</div></td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">1</td>
                            <td rowspan="3" width="27%">责任心与积极性（带队加班情况）</td>
                            <td>5'-有很强的工作责任心和积极性，对待工作认真扎实，精益求精，经常主动地带队加班，并且产生明显的效果、作用</td>
                          </tr>
                          <tr>
                            <td>3'-对工作有一定责任心和积极性，但专注度尚不够，其程度有时受个人偏好影响，偶尔会带队加班加点，产生的效果、作用一般</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-对工作基本上没有热情，消极被动，只安于现状，缺乏工作责任心，经常推卸责任，几乎没有加班</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">2</td>
                            <td rowspan="3" width="27%">纪律性（请假，迟到情况）</td>
                            <td width="70%">5'-行为规范上严于律己，能起到表率作用,没有请假，迟到或早退现象发生</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-行为规范上对自己有一定的要求，能够基本遵守各项规章制度，偶尔有请假，迟到或早退现象发生</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-基本不能遵守工作规定、制度和考勤要求，迟到或早退超过五次，或有缺勤，或工作中有其他违规情况发生</td>
                          </tr>
                          <tr>
                            <td colspan="2"><div align="center">能力模块 10'</div></td>
                            <td width="70%"><div align="center">参考标准</div></td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">3</td>
                            <td rowspan="3" width="27%">执行能力</td>
                            <td width="70%">5'-以积极认真的态度，及时认真完成上级下达的招聘，培训等任务且成效令人满意</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-尚能按时完成上级下达的招聘，培训等任务，基本达到上级要求</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-对上级下达的招聘，培训等任务比较消极，工作结果不尽人意</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">4</td>
                            <td rowspan="3" width="27%">目标意识</td>
                            <td width="70%">5'-能够设定科学合理的工作计划与目标，逐层分解目标，并利用目标有效激励成员，结合工作计划阶段性分解实现</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-制定一般可操作的工作计划，明确团队目标，并且使用目标进行激励</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-计划缺失，对目标的认识不够充分，团队目标不明确，不能够充分利用目标进行团队激励</td>
                          </tr>
                          <tr>
                            <td colspan="2"><div align="center">日常管理模块 60'</div></td>
                            <td width="70%"><div align="center">参考标准</div></td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">5</td>
                            <td rowspan="3" width="27%">每天检查团队成员research,   call list,on phone时间</td>
                            <td width="70%">5'-按时检查无遗漏</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-有计划的不定时检查</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-随机检查，提醒就做，不提醒就不做</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">6</td>
                            <td rowspan="3" width="27%">每周与研发人员的项目进度协调</td>
                            <td width="70%">5'-协调及时，效果较好</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-协调滞后，效果一般</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-协调缺失，项目进度受影响</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">7</td>
                            <td rowspan="3" width="27%">每周更新Pitch    paper/Email cover/ EB内容，帮助组员找到针对不同客户的Pitch点    </td>
                            <td width="70%">5'-内容更新及时，效果较好</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-内容更新滞后，效果一般</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-内容几乎没有更新，效果较差</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">8</td>
                            <td rowspan="3" width="27%">每周销售例会</td>
                            <td width="70%">5'-每周销售例会准备充分，组织高效，作用明显</td>
                          </tr>
                          <tr>
                            <td width="70%">3'-每周销售例会有准备，组织尚可，内容实用</td>
                          </tr>
                          <tr>
                            <td width="70%">1'-每周销售例会准备不成分，组织随意，效果较差</td>
                          </tr>
                          <tr>
                            <td rowspan="3" width="3%">9</td>
                            <td rowspan="3" width="27%">每月通话时间</td>
                            <td width="70%">10'-每月通话到达6小时以上</td>
                          </tr>
                          <tr>
                            <td width="70%">6'-每月通话到达4-6小时</td>
                          </tr>
                          <tr>
                            <td width="70%">2'-每月通话到达4小时以下</td>
                          </tr>
                          <tr>
                            <td rowspan="4" width="3%">10</td>
                            <td rowspan="4" width="27%">团队Call List<br />
                              月人均平均数<br />
                            标准：销售专员200/人；销售经理140/人</td>
                            <td>平均Email/fax out数达标 15%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均Email/fax out数少1-30条 10%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均Email/fax out数少31-50条 5%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均Email/fax out数少50条以上 0%</td>
                          </tr>
                          <tr>
                            <td rowspan="4" width="3%">11</td>
                            <td rowspan="4" width="27%">团队新增Leads<br />
                              月人均平均数<br />
                            标准：销售专员420/人；销售经理280/人</td>
                            <td width="70%">平均添加Lead数达标    15%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均添加Lead数少1-50条 10%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均添加Lead数少51-100条 5%</td>
                          </tr>
                          <tr>
                            <td width="70%">平均添加Lead数少100条以上 0%</td>
                          </tr>
                          <tr>
                            <td colspan="2"><div align="center">业绩模块 30'</div></td>
                            <td width="70%"><div align="center">参考标准</div></td>
                          </tr>
                          <tr>
                            <td rowspan="6" width="3%">12</td>
                            <td rowspan="6" width="27%">团队业绩表现</td>
                            <td width="70%">30'-带领的团队完成当月到账目标≥140%</td>
                          </tr>
                          <tr>
                            <td width="70%">25'-带领的团队完成当月到账目标≥120%</td>
                          </tr>
                          <tr>
                            <td width="70%">20'-带领的团队完成当月到账目标≥100%</td>
                          </tr>
                          <tr>
                            <td width="70%">15'-带领的团队完成当月到账目标≥80%</td>
                          </tr>
                          <tr>
                            <td width="70%">10'-带领的团队完成当月到账目标≥60%</td>
                          </tr>
                          <tr>
                            <td width="70%">0'-带领的团队完成当月到账目标&lt;60%</td>
                          </tr>
                        </table>
                    </text>)
                    .Expanded(false);
            })
            .Render();
            }*@
    </fieldset>
    }
}
@{ 
    if (rolelvl >= LeaderRequired.LVL || rolelvl==ChinaTLRequired.LVL )
    {
    <fieldset>
        <legend>销售经理考核</legend>
        @(Html.Telerik().Grid<_TeamLeadPerformance>().Name("lead")
     .DataKeys(keys =>
     {
         keys.Add(o => o.ID);
     })
    .DataBinding(dataBinding =>
    {
        dataBinding.Ajax().Select("_SelectLeadIndex", "Performance", new { year = year, month = month })
            .Update("_UpdateTeamLeadPerformance", "Performance", new { year = year, month = month });
    })
.Columns(columns =>
{
    columns.Bound(p => p.Name).Width(80).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.User).Width(50).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.RoleLevel).Width(50);
    columns.Bound(p => p.CompletePercent).Width(120).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" }).Format("{0:#,##0%}");
    columns.Bound(p => p.CheckinScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', CheckinScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadNotQualifiedWeeksCount).Width(100).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AddLeadScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', AddLeadScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.HoursOrFaxNotQualifiedWeeksCount).Width(130).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxCallScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', FaxCallScore/100) #></p>").Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AssignedScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', AssignedScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Rate).Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Score).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" }).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', Score/100) #></p>"); ;
    columns.Bound(p => p.FaxOutCountString).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadAddCountString).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    if (Utl.Employee.CurrentRole.Level == ManagerRequired.LVL || Utl.Employee.CurrentUserName == "karen")
    {
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);

        }).Title("编辑").Width(100);
    }

})
    .Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("TeamLeadPerformanceEdit"))
          .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForLead"))
          .ClientEvents(events => events.OnEdit("ChangeWinTitleForLead"))
          .ClientEvents(events => events.OnSave("onLeaderSave"))
  .Pageable(p => p.Style(GridPagerStyles.Status)
       .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(350)).Sortable().Resizable(r => r.Columns(true))
)
    </fieldset>
    }
}
@{ 
    if (rolelvl >= SalesRequired.LVL)
    {
    <fieldset>
        <legend>销售考核</legend>
        @(Html.Telerik().Grid<_SalesPerformance>().Name("sales")
     .DataKeys(keys =>
     {
         keys.Add(o => o.ID);
     })
    .DataBinding(dataBinding =>
    {
        dataBinding.Ajax().Select("_SelectSalesIndex", "Performance", new {year=year, month = month })
            .Update("_UpdateSalesPerformance", "Performance", new { year = year, month = month });
    })
.Columns(columns =>
{
    columns.Bound(p => p.Name).Width(80).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.User).Width(50).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.RoleLevel).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.CompletePercent).Width(120).HtmlAttributes(new { style = "text-align:right" }).Format("{0:#,##0%}");
    columns.Bound(p => p.CheckinScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', CheckinScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadNotQualifiedWeeksCount).Width(100).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AddLeadScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', AddLeadScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.HoursOrFaxNotQualifiedWeeksCount).Width(130).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxCallScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', FaxCallScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AssignedScore).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', AssignedScore/100) #></p>").Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Rate).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Score).Width(80).HtmlAttributes(new { style = "text-align:right" }).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', Score/100) #></p>");
    columns.Bound(p => p.FaxOutCountString).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadAddCountString).Width(80).HtmlAttributes(new { style = "text-align:right" });
    if (ViewBag.RoleLevel == LeaderRequired.LVL || Utl.Employee.CurrentUserName == "admin")
    {
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);

        }).Title("编辑").Width(100);
    }
}).Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("SalesPerformanceEdit"))
          .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForSales"))
          .ClientEvents(events => events.OnEdit("ChangeWinTitleForSales"))
          .ClientEvents(events => events.OnDataBinding("dataBinding"))
          .ClientEvents(events => events.OnSave("onSalesSave"))
.Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(15)).Scrollable(scrolling => scrolling.Height(350)).Resizable(r => r.Columns(true))
.ToolBar(factory => factory
      .Template(@<text>
        <div>
            员工: @*@Html.TextBox("fuzzyInput", (string)ViewBag.fuzzyInput)*@
            @Html.DropDownList("fuzzyInput", BLL.CRM_Logical._EmployeePerformance.GetSalesDDL(month == null ? DateTime.Now.Month : month.Value), "请选择")
            <a class="t-grid-action t-button t-state-default" onclick="refreshGrid();">查找</a>
        </div>
        </text>))
)
    </fieldset>
    }
}
@{ 
    if (rolelvl >= SuperManagerRequired.LVL)
    {
    <fieldset>
        <legend>版块考核标准说明</legend>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="10%">
                    主观打分
                </td>
                <td colspan="6">
                    50%
                </td>
            </tr>
            <tr>
                <td width="10%">
                    团队Call List<br />
                </td>
                <td width="15%">
                    月人均平均数标准：销售专员200/人；销售经理140/人
                </td>
                <td>
                    平均Email/fax out数达标 15%
                </td>
                <td width="16%">
                    平均Email/fax out数少1-30条 10%
                </td>
                <td width="15%">
                    平均Email/fax out数少31-50条 5%
                </td>
                <td colspan="2">
                    平均Email/fax out数少50条以上 0%
                </td>
            </tr>
            <tr>
                <td width="10%">
                    团队新增Leads<br />
                </td>
                <td width="15%">
                    月人均平均数标准：销售专员420/人；销售经理280/人
                </td>
                <td width="14%">
                    平均添加Lead数达标 15%
                </td>
                <td width="16%">
                    平均添加Lead数少1-50条 10%
                </td>
                <td width="15%">
                    平均添加Lead数少51-100条 5%
                </td>
                <td colspan="2">
                    平均添加Lead数少100条以上 0%
                </td>
            </tr>
            <tr>
                <td>
                    团队业绩表现
                </td>
                <td width="15%">
                    30'-带领的团队完成当月到账目标≥140%
                </td>
                <td width="14%">
                    25'-带领的团队完成当月到账目标≥120%
                </td>
                <td width="16%">
                    20'-带领的团队完成当月到账目标≥100%
                </td>
                <td width="15%">
                    15'-带领的团队完成当月到账目标≥80%
                </td>
                <td width="13%">
                    10'-带领的团队完成当月到账目标≥60%
                </td>
                <td width="17%">
                    0'-带领的团队完成当月到账目标&lt;60%
                </td>
            </tr>
        </table>
    </fieldset>
    }
}
<fieldset>
    <legend>基础销售考核标准</legend>
    <table width="100%">
        <tr>
            <td>
                CheckIn每月目标完成
            </td>
            <td>
                R≥140%, 70%
            </td>
            <td>
                R≥120%,60%
            </td>
            <td>
                R≥100%,50%
            </td>
            <td>
                R≥80%,40%
            </td>
            <td>
                R≥60%,30%
            </td>
            <td>
                R<60%,0%
            </td>
        </tr>
       <!-- <tr>
            <td colspan="7">
                说明：销售经理月目标为团队月目标，入账额为团队入账额，销售月目标为个人目标，入账额为个人入账额
            </td>
            -->
        </tr>
        <tr>
            <td>
                调研每周达标
            </td>
            <td>
                每周达标, 20%
            </td>
            <td>
                一周达标, 5%
            </td>
            <td>
                两周达标, 10%
            </td>
            <td>
                三周达标, 15%
            </td>
            <td colspan="2">
                四周及以上达标，20%
            </td>
        </tr>
        <tr>
            <td>
                FaxOut|Call每周达标
            </td>
            <td>
                每周达标, 20%
            </td>
            <td>
                一周达标, 5%
            </td>
            <td>
                两周达标, 10%
            </td>
            <td>
                三周达标, 15%
            </td>
            <td colspan="2">
                四周及以上达标，20%
            </td>
        </tr>
        <tr>
            <td>
                销售新增Leads标准
            </td>
            <td colspan="6">
                每录入21条leads分数增加1%，当周最高5%（若当周出单三次或以上，每录入16个leads分数增加1%，当周最高5%）
            </td>
            </tr>
            <tr>
            <td>
                销售Faxout标准
            </td>
            <td colspan="6">
                每录入10条faxout分数增加1%，当周最高5%（若当周出单三次或以上，每录入8条faxout分数增加1%，当周最高5%）
            </td>
        </tr>
        <!--<tr>
            <td>
                销售经理Faxout标准
            </td>
            <td colspan="2">
                当周出单三次或以上，28个faxout达标，否则35个faxout达标
            </td>
            <td>
                销售经理新增Leads标准
            </td>
            <td colspan="3">
                当周出单三次或以上，60个Lead添加达标，否则70个Lead添加达标
            </td>
        </tr>
        -->
        <tr>
            <td>
                完成布置的任务
            </td>
            <td colspan="2">
                始终做到,10%
            </td>
            <td colspan="2">
                一次做不到,5%
            </td>
            <td colspan="2">
                两次及以上做不到,0%
            </td>
        </tr>
        <tr>
            <td>
                考核系数
            </td>
            <td colspan="6">
                销售系统使用情况 本人或组员未按公司要求使用系统,0 本人及组员系统使用情况良好,1.2 （系统默认考核系数为1）
            </td>
        </tr>
    </table>
</fieldset>
<script>

    function ChangeButtonTextForManager(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        var rowConfirmButton = $row.find(".t-grid-Confirm");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.Confirmed == "是")) {
            rowButton.remove();
            rowConfirmButton.remove();
            return;
        }
        if ((e.dataItem.User == "karen")) {
            rowButton[0].innerText = "修改系数";
            rowConfirmButton.remove();
            return;
        }
        else if ((e.dataItem.RoleLevel == "800")) {
            rowButton[0].innerText = "打分";
            rowConfirmButton.remove();
        }
        else if ((e.dataItem.User == "ray") ) {

            rowButton.remove();
            
            return;
        }
        
        else {

            rowButton.remove();
        }

    }
    function ChangeWinTitleForManager(e) {

        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }
    function onManagerCommand(e) {
        if (e.dataItem.ID == "0" && (e.dataItem.User == "ray")) {
            alert("还没有打分，不能确认。")
            return;
        }
        
        if (e.name == 'Confirm') {
            if (!confirm("确实要确认" + $("#month").val() + "份的分数吗?")) {
                // prevent the request        
                e.preventDefault();
            }
        }
    }
    //防止多次点击
    function onManagerSave(e) {
        if ($(".t-button.t-grid-update").attr("disabled") == "disabled") {
            e.preventDefault();
        }
        $(".t-button.t-grid-update").attr("disabled", "disabled");
    }

    function ChangeButtonTextForLead(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.User == "karen")) {
            rowButton[0].innerText = "修改系数";
            return;
        }
        else if ((e.dataItem.RoleLevel == "500")) {
            rowButton[0].innerText = "打分";
            return;
        }
        else {
            rowButton.remove();
        }
    }
    function ChangeWinTitleForLead(e) {
        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }
    function onLeaderSave(e) {
        if ($(".t-button.t-grid-update").attr("disabled") == "disabled") {
            e.preventDefault();
        }
        $(".t-button.t-grid-update").attr("disabled", "disabled");
    }
    function ChangeButtonTextForSales(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.User == "admin")) {
            rowButton[0].innerText = "修改系数";
            return;
        }
        else if ((e.dataItem.RoleLevel == "100")) {
            rowButton[0].innerText = "打分";
            return;
        }
        else {
            rowButton.remove();
        }
    }
    function ChangeWinTitleForSales(e) {
        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }
    //防止多次点击
    function onSalesSave(e) {
        if ($(".t-button.t-grid-update").attr("disabled") == "disabled") {
            e.preventDefault();
        }
        $(".t-button.t-grid-update").attr("disabled", "disabled");
    }
    function onManagerComplete(e) {
        if (e.name == "Confirm") {
            var $grid = $("#manager").data("tGrid");
            $grid.dataBind(e.response.data);
        }
    }
</script>
<script>
    function dataBinding(e) {

        var fuzzyValue = $('#fuzzyInput').val();
        e.data = $.extend(e.data, { fuzzyInput: fuzzyValue });
    }
    function refreshGrid() {
        $("#sales").data("tGrid").rebind();

    }
    
</script>
