@using Utl;
@model Entity.Client
<fieldset>
    <legend>@SR.Form</legend>

   <div class="display-label">客户职位</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">客户姓名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">联系方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">所属公司</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Name)
    </div>
</fieldset>
@Html.Partial("displaycommon", Model)

