@using Entity
@using Utl
@model List<TargetOfMonth>
@Html.Partial("contenttitle", "月目标列表")
@(Html.Telerik().Grid(Model).Name("TargetOfMonth").ToolBar(t=>t.Template(@<text>@Html.Partial("projectselector")</text>))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.BaseDeal).Width(150);
                    c.Bound(item => item.Deal).Width(120); ;
                    c.Bound(item => item.CheckIn).Width(120); ;
                    c.Bound(item => item.StartDate).Template(@<text>@item.StartDate.ToShortDateString()</text>).Width(120);
                    c.Bound(item => item.EndDate).Template(@<text>@item.EndDate.ToShortDateString()</text>).Width(120);
                    c.Bound(item => item.ID).Title("操作").Width(150).Template(@<span><a href=@Url.Content("~/teamleader/addbreakdown/?projectid=" + item.ProjectID + "&targetofmonthid=" + item.ID)>添加周目标</a></span>);
                })
                .DetailView(e => e.Template(
                        @<text>@RenderGrid(item)</text>
                    ))
                .Resizable(resizing => resizing.Columns(true))
                .Groupable()
                .Pageable(p => p.PageSize(20))
                .Sortable()
                .Filterable()
                .Scrollable(scrolling => scrolling.Height(350))
                        )
@helper RenderGrid(TargetOfMonth tm)
    { 
        var tmid = tm.ID;
        var projectid = tm.ProjectID;
        var tw = CH.GetAllData<TargetOfWeek>(t => t.ProjectID == projectid);
        var datas = tw.OrderBy(i => i.StartDate).GroupBy(sd => sd.StartDate);
    @(Html.Telerik().TabStrip().Name("TabStrip" + tmid).SelectedIndex(0).Items(items =>
{
    if (datas.Count() != 0)
    {
        foreach (var data in datas)
        {
            var did = data.Key.ToShortDateString();
            var list = data.ToList();
            items.Add().Text(data.Key.ToShortDateString() + "~" + data.Key.AddDays(4).ToShortDateString()).Content(@<text>@RenderMembersTargetOfWeek(did, list, tm.ProjectID, tm.ID)</text>);
        }
    }
}))
        <br />

        
}
@helper RenderMembersTargetOfWeek(string key, List<TargetOfWeek> tm, int projectid, int targetofmonthid)
    {
         @Html.ActionLink("编辑", "editBreakdown", "teamleader", new { projectid = projectid, targetofmonthid = targetofmonthid, startdate = key }, null)   
    @(Html.Telerik().Grid(tm).Name("TargetOfWeek" + key)
                            .Columns(c =>
                            {
                                c.Bound(tw => tw.CheckIn);
                                c.Bound(tw => tw.Deal);
                                c.Bound(tw => tw.Member);
                            })
                            .Resizable(resizing => resizing.Columns(true))
                            .Pageable(p => p.PageSize(20)).Sortable())
   
}
