@using Entity
@using Sales.Model
@model _Comment
           @using (Html.BeginForm("AddComment", "AvaliableCompanies"))
           {
            @Html.HiddenFor(model => model.CRMID)
            <ul>
             @foreach (var p in Utl.CH.GetAllData<CommentContent>())
             {
                  <li>
                @Html.CheckBox("content", false, new { onchange = "setcontent('" + p.Contents + "')" })
                @p.Contents
                </li>
             }
                <li>
                    @Html.TextAreaFor(model => model.Contents)
                </li>
                <li>
                点评状态设置:
                 @{ 
               if (Utl.Employee.CurrentRole.Level == ManagerRequired.LVL)
               {
                    @Html.DropDownListFor(model => model.CrmCommentStateID, new SelectList(Utl.CH.GetAllData<CrmCommentState>().Where(c => c.RoleFlag == 2), "StateCode", "StateName"))
               }
               else
               {
                   @Html.DropDownListFor(model => model.CrmCommentStateID, new SelectList(Utl.CH.GetAllData<CrmCommentState>().Where(c => c.RoleFlag == 1), "StateCode", "StateName"))
               }
           }
                </li>
            </ul>
           }
<script>
    $(function () {
        $("#CrmCommentStateID").change(function () {
            if ($("#CrmCommentStateID option:selected").text() == '确认通过')
                $("#Contents").val($("#CrmCommentStateID option:selected").text());
        })

    })

    function setcontent(content1) {
        if ($("#Contents").val() != "") {
            $("#Contents").val($("#Contents").val() + ";" + content1);
        }
        else {
            $("#Contents").val(content1);
        }
    }
</script>