@model Entity.CompanyRelationship
@using Utl
@{
    ViewBag.Title = "客户关系";
}
@using Entity
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectID, "项目名称：")
    </div>
    <div class="editor-field">
        @Html.HiddenFor(m => m.ProjectID)
        @Html.DisplayFor(model => model.Project.Name)
    </div>
    
    @Html.HiddenFor(m => m.CompanyID)
    
        <div class="editor-label">
            @Html.Label("英文名称：")
        </div>
        <div class="editor-field">
        @{
            if(Model==null)
            {
                 <input type="text" name="enname"  />
            }
            else
            {
                 <input type="text" name="enname" value=@Model.Company.Name_EN />
            }
         
       
         }
        </div>
         <div class="editor-label">
            @Html.Label("中文名称：")
        </div>
        <div class="editor-field">
        @{
            if(Model==null)
            {
                 <input type="text" name="chname"  />
            }
            else
            {
                 <input type="text" name="chname" value=@Model.Company.Name_CH />
            }
            }
        </div>
     
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Importancy):
    </div>
    <div class="editor-field">
         
        @(Html.Telerik().Slider<int>().Name("Importancy").Value(Model == null ? 6 : Model.Importancy).Max(10).Min(1).HtmlAttributes(new { style = "width:50%;" }))
        @Html.ValidationMessageFor(model => model.Importancy)
    </div>

    
    @*<div class="editor-label">
            @Html.LabelFor(model => model.ProgressID, "Progress")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(m=>m.ProjectID)
            @Html.ValidationMessageFor(model => model.ProgressID)
        </div>*@
</fieldset>

    <fieldset>
    <legend>Catagory</legend>
      <div class="editor-field">
        @{
            Project p = CH.GetDataById<Project>((int)ViewBag.ProjectID, "Categorys");
            if (p.Categorys != null)
            { 
            <ul>
                @foreach (var c in p.Categorys)
                {
                    <li  style="float:left; margin:3px;">
                        <input  name="checkedCategorys" type="checkbox" value=@c.ID 
                        @if (Model != null && Model.Categorys != null && Model.Categorys.Any(mc => mc.ID == c.ID))
                        {
                            <text> checked="checked"</text>
                            
                        }/>
                        @c.Name</li> 
                }
            </ul>
            }
        }
    </div>
    </fieldset>
   
  