@{
    ViewBag.Title = "JsonGetCompanys";
}
@using Entity
@model Company
@Html.Partial("Projectselector")
<span><input type="button" id="addData" class="insertdata" value="Add CallList" />  <input type="button" class="insertdata" id="addcompanyleadData" value="Add Company&Lead" />  <input class="insertdata" type="button" id="addcompanyData" value="Add Comany Only" /></span>


 @{Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "min-height: 700px;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("20%").Content(@<text>@GetCRMS()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }).Render();}

@helper GetCRMS()
{
    <div id="crmcontainer">
    @Html.Partial("CRMList")
    </div>
 
}

@helper GetCompanyDetails()
{
    @Html.Hidden("CRMID")
    @Html.Hidden("CompanyID")
    @Html.Partial("CompanyInfo", Model)
}

@*@helper GetLeadsDetails()
{
    <div id="leadsdata" style="width:100%">
    </div>
}*@

@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
        onPageLoad();
        onSalesInputInitial();
    </text>);
}

@{Html.Telerik().Window().Name("salesdatawindow").Width(660)
.Draggable(true).Modal(true).Resizable().Scrollable(true).Visible(false).Buttons(b => b.Clear().Close().Maximize())
.Title("添加销售数据")
.Effects(fx => fx.Zoom().Opacity().OpenDuration(200).CloseDuration(300)).Content(@<text>
<div id="salesinputwindowcontainer">@Html.Partial("salesinputwindow")</div>
</text>).Render();
}
@Html.Hidden("FreshArea")



