@model Entity.SubCompany

@{
    ViewBag.Title = "编辑子公司";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    //@Html.Hidden("ProjectID", (int)ViewBag.ProjectID) change以保护pid
     @Html.HiddenFor(m => m.ID)
    @Html.Partial(@"~\views\subcompany\change.cshtml", Model);
    @Html.Partial(@"editcommon", Model);
<div>
  <center>
        <p>
            <input type="submit" value="Save" />
        </p>
        </center>
</div>
}


