@{
    ViewBag.Title = "Breakdown";
}

@using Entity
@using Utl
@using BLL
@model List<Member>
@{ Html.BeginForm(); }
@Html.Hidden("projectid", (int)ViewBag.ProjectID)
@Html.Hidden("TargetOfMonthid", (int)ViewBag.TargetOfMonthID)
@Html.Hidden("OldStartDate", (string)ViewBag.StartDate)
<div>

<div style="margin: 10px; margin-left: 0px;">
        <b><span>
            <label> 开始时间：</label>
            @Html.Telerik().DatePicker().Name("StartDate").Value(ViewBag.StartDate as string)
            <span>~ </span>
            <label>
                结束时间：</label>
            @Html.Telerik().DatePicker().Name("EndDate").Value(ViewBag.EndDate as string)
            <span>  </span>
            <input type="submit" value="提交" />
        </span></b>
    </div>
<br />
<br />
<div style=" float:left;width:48%;">
<p><b>Deal In 目标:</b></p>
<br />
<table class="tb_breakdown" id="dealin_bd" >
<tr><th>员工姓名</th><th >调整目标</th><th>目标金额</th></tr>
@if (Model != null)
{
    List<TargetOfWeek> vs = null;
    if (ViewBag.Targets != null)
    {
        vs = (List<TargetOfWeek>)ViewBag.Targets;
    }
    foreach (var m in Model)
    {
        decimal v=0;
        if (vs!=null)
        {
            var item = vs.FirstOrDefault(child => child.Member == @m.Name);
            if (item != null)
            {
                v = item.Deal;
            }
        }
            
            
      <tr><td>@m.Name</td><td>
      <div class="targetbreakdown" TargetOfWeek=@v ></div>
      </td><td><p>￥ @((int)v)</p><input class="pertarget" type="hidden" v=@v  mname=@m.Name value=@m.Name|@v  name="dealin" /></td></tr>
    
    }
    <tr><td >总额：</td><td colspan="2"><p class="result">@Html.Label(ViewBag.TotalDealIn==null? string.Empty:ViewBag.TotalDealIn as string)</td></tr>
}
</table>
</div>

<div style=" float:left; width:48%;">
<p><b>Check In 目标:</b></p>
<br />
<table class="tb_breakdown" id="checkin_bd">
<tr><th>员工姓名</th><th  align="center">调整目标</th><th>目标金额</th></tr>
@if (Model != null)
{
    List<TargetOfWeek> vs = null;
    if (ViewBag.Targets != null)
    {
        vs = (List<TargetOfWeek>)ViewBag.Targets;
    }
    foreach (var m in Model)
    {
        decimal v=0;
        if (vs!=null)
        {
            var item = vs.FirstOrDefault(child => child.Member == @m.Name);
            if (item != null)
            {
                v = item.CheckIn;
            }
        }
            
            
      <tr><td>@m.Name</td><td>
      <div class="targetbreakdown" TargetOfWeek=@v ></div>
      </td><td><p>$@v</p><input class="pertarget" type="hidden" mname=@m.Name v=@v  value=@m.Name|@v  name="checkin" /></td></tr>
    
    }
     <tr><td >总额：</td><td colspan="2"><p class="result">@Html.Label(ViewBag.TotalDealIn == null ? string.Empty : ViewBag.TotalDealIn as string)</td></tr>
}
</table>
<br />
<br />
</div>
 <center><p> <button type="submit">@SR.Save</button></p></center>
@{ Html.EndForm(); }

@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
        initialTargetbreakdown();
    </text>);
}
</div>
@Html.ValidationSummary(true)

<style type="text/css" >
.tb_breakdown
{
}
input[type=text]
{
	border:0; color:#f6931f; font-weight:bold;
}
.tb_breakdown tr td p
{
	max-width:170px;
}
.targetbreakdown
{
	width:200px;
	margin:15px;
}

</style>