<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @* <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.telerik.css").Combined(true).Compress(true)))
    <script type="text/javascript" src=@Url.Content(@"/scripts/jquery-1.6.4.min.js")></script>@*确保在页面能引用到jquery*@
    <script type="text/javascript" src=@Url.Content(@"~/vjs/view.js")></script>@*确保在页面能引用到jquery*@
</head>
<body>
    <div class="page">
        <header>
			<div id="title">
            <center>
				<h1>决策者</h1>
                </center>
			</div>

			
		</header>
        <section >
          @Html.ActionLink("[关于]", "Index", "About", null, new { style = "float:right;margin-top:-20px;margin-right:50px;color: #FFFFFF;text-decoration: none;z-index:1000;" })
          @Html.ActionLink("[退出]", "LogOff", "Account", null, new { style = "float:right;margin-top:-20px;color: #FFFFFF;text-decoration: none;z-index:1000;" })
        <div style="float:left; width:13%">
       @* <ul  id="menu">
        <li><a href=@Url.Action("index", "Category")>行业类型</a></li>
        <li><a href=@Url.Action("index", "CurrencyType")>货币类型</a></li>
        </ul>*@
         @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                            .Name("menu")
                    .Items(menu =>
                    {
                        menu.Add().Text("行业类型").Action("index", "Category");
                        menu.Add().Text("货币类型").Action("index", "CurrencyType");
                        menu.Add().Text("职位类型").Action("index", "Title");
                        menu.Add().Text("公司类型").Action("index", "CompanyType");
                        menu.Add().Text("Lead类型").Action("index", "LeadType");
                        menu.Add().Text("LeadSheet类型").Action("index", "LeadSheetType");
                        menu.Add().Text("Package服务类型").Action("index", "PackageServiceType");
                        menu.Add().Text("Package类型").Action("index", "PackageType");
                        menu.Add().Text("Package类型").Action("index", "PackageType");
                    }))
                   
                   
        </div>
        <section id="main" style="float:left;width:87%">@RenderBody()</section>
			
		</section>
        <footer>
		</footer>
    </div>
    @(Html.Telerik().ScriptRegistrar().Globalization(true).DefaultGroup(group => group.Combined(true).Compress(true)))</body>
</html>
