@using Entity
@model Lead
@using Utl
<style>
table{ border-width:0px;}
table tr td{ border-width:0px; }
</style>
   <center>
<input class="leadsubmit" type="button" value="提交Lead信息" /></center>
<fieldset>
<legend>Lead信息</legend>
    <table class="11" border="0" style="width:100%;">
    <tr>
    <td>中文名称： @Html.EditorFor(model => model.Name_CH)</td>
    <td>英文名称： @Html.EditorFor(model => model.Name_EN)</td>
    </tr>
     <tr>
    <td>  @Html.LabelFor(model => model.Title )： @Html.EditorFor(model => model.Title)</td>
     <td>  @Html.LabelFor(model => model.Department )： @Html.EditorFor(model => model.Department)</td>
     </tr>
    <tr>
    <td> @Html.LabelFor(model => model.Contact)： @Html.EditorFor(model => model.Contact)</td>
     <td>  @Html.LabelFor(model => model.EMail)： @Html.EditorFor(model => model.EMail)</td>
    </tr>
    <tr>
    <td>  @Html.LabelFor(model => model.Mobile )： @Html.EditorFor(model => model.Mobile)</td>
    <td>  @Html.LabelFor(model => model.Fax)： @Html.EditorFor(model => model.Fax)</td>
    </tr>
     <tr>
    <td>  @Html.LabelFor(model => model.Birthday )： @Html.Telerik().DatePickerFor(model => model.Birthday)</td>
    <td>  @Html.LabelFor(model => model.PersonalEmailAddress )： @Html.EditorFor(model => model.PersonalEmailAddress)</td>
    </tr>
     <tr>
    <td>  @Html.LabelFor(model => model.Address )： @Html.EditorFor(model => model.Address)</td>
    <td>  @Html.LabelFor(model => model.ZIP)： @Html.EditorFor(model => model.ZIP)</td>
    </tr>
    <tr>
    <td>  @Html.LabelFor(model => model.SubCompanyID )：  @Html.DropDownListFor(model => model.SubCompanyID, new SelectList(CH.GetAllData<SubCompany>(s=>s.CompanyID==Model.CompanyID),"ID","Name"), "-请选择-")</td>
    <td>  @Html.LabelFor(model => model.Gender )：  @Html.DropDownListFor(model => model.Gender, new SelectList(new List<string>() { "Mr", "Ms" }), "-请选择-")</td>
    </tr>

    </table>
    @Html.Hidden("ID",Model!=null?Model.ID:0)
    @Html.Hidden("CompanyID",Model!=null?Model.CompanyID:0)
</fieldset>
  <fieldset>
        <legend>其他信息</legend>
        <table border="0" style="width: 100%;">
            <tr>
                <td colspan="2">
                    Lead排序： @Html.EditorFor(model => model.Sequence)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Lead说明： @Html.TextAreaFor(model => model.Description)
                </td>
            </tr>
            @if (Model != null)
            {
                <tr  style=" display:none">
                    <td>
                        创建员工：
                        <input class="readonly" id="Creator" readonly="readonly" type="text" value=@Model.Creator />
                    </td>
                    <td>
                        创建时间：
                        <input class="readonly" id="CreatedDate" readonly="readonly" type="text" value=@Model.CreatedDate />
                    </td>
                </tr>
                <tr style=" display:none">
                    <td>
                        更改员工：
                        <input class="readonly" id="ModifiedUser" readonly="readonly" type="text" value=@Model.ModifiedUser  />
                    </td>
                    <td>
                        更改时间：
                        <input class="readonly" id="ModifiedDate" readonly="readonly" type="text" value=@Model.ModifiedDate />
                    </td>
                </tr>
            }
        </table>
        <input type="button" leadid=@Model.ID  class='addcallonlytoexist' value="+ Call"  style="margin-top:5px;"/>
    </fieldset>
<div id="leadCallscontainer">
@Html.Partial("LeadCalls",new List<LeadCall>())
</div>

