@using Entity
@model LeadCall
@using Utl
<center>
<input class="leadcallssubmit" type="button" value="提交Call信息" /></center>
<fieldset>
    <legend>Call 信息</legend>
    <table  border="0" style="width: 100%;">
        <tr>
            <td>
                Lead姓名： @{
                          var name = CH.GetDataById<Lead>(Model.LeadID).Name;
                          <p>@name</p>
                    }
            </td>
            <td>
                回打时间： @Html.Telerik().DateTimePickerFor(m => m.CallBackDate)
            </td>
        </tr>
        <tr>
            <td>
            Call类型： @Html.DropDownListFor(m=>m.LeadCallTypeID, new SelectList(CH.GetAllData<LeadCallType>(), "ID", "Name"), "-请选择-")
                
            </td>
            <td>
                致电时间： @Html.Telerik().DateTimePickerFor(m => m.CallDate).Value(Model.CallDate)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                致电结果： @Html.TextAreaFor(model => model.Result)
            </td>
        </tr>
    </table>
</fieldset>
@Html.HiddenFor(m=>m.LeadID)
@Html.HiddenFor(m=>m.MemberID)
@Html.HiddenFor(m=>m.ID)
@Html.HiddenFor(m=>m.CompanyRelationshipID)
@Html.HiddenFor(m=>m.ProjectID)

