@using Utl;
@model Entity.PackageItem

<fieldset>
<legend>@SR.Form</legend>
    <div class="display-label">英文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_EN)
    </div>
    <div class="display-label">中文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_CH)
    </div>

    <div class="display-label">英文内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
    <div class="display-label">中文内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentCH)
    </div>
</fieldset>

