@using Entity
@using Sales.Model
@model _CRM
<ul id="categoryedit-list">
 @if (Model._Categorys != null)
 {
     foreach (var category in Model._Categorys)
     {
          <li>
          @category.Name:
          @if (Utl.Employee.CurrentRole.Level == ProductInterfaceRequired.LVL || Utl.Employee.CurrentRole.Level == LeaderRequired.LVL || Utl.Employee.CurrentRole.Level == ManagerRequired.LVL)
          {
                <input type="hidden" value="@category.ID"/>
            <textarea style="border:1px solid black;width:100%;height:30px;">@category.Details</textarea>
          }
          else
          {
                <input type="hidden" value="@category.ID"/>
            <textarea style="border:1px solid black;width:100%;height:30px;" readonly="readonly" >@category.Details</textarea>
          }
    </li>
     }
 }
   
</ul>
