@using Entity
@using Sales.Model
@model _CRM
<style>
    .fieldblock
    {
    }
    .fieldname div
    {
        padding: 2px;
        min-width: 100px;
        background-color: #FFDEAD;
        border-bottom-color: #FF8C00;
        border: 1px solid #CCC;
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .fieldname div font
    {
        font-size: 12px;
        color: Green;
    }
    
    .selections span
    {
    }
    .fieldError
    {
        border: 1px solid red !important;
    }
</style>
<div class="memberCompanies">
<div class="quan">
<div class="quan_1">
<a href="#"  onclick="GetAddCompany()">新增公司</a>
	<div class="quan_2">6.12<p><img src="../images/quan-01.jpg" width="19" height="20" alt="yuan" /></p></div>
    <div class="quan_3">-2</div>
    <div class="quan_2">6.12<p><img src="../images/quan-03.jpg" width="19" height="20" alt="yuan" /></p></div>
    <div class="quan_3">-2</div>
	<div class="quan_2">6.12<p><img src="../images/quan-04.jpg" width="19" height="20" alt="yuan" /></p></div>
    <div class="quan_3">-2</div>
    <div class="quan_2">6.12<p><img src="../images/quan-05.jpg" width="19" height="20" alt="yuan" /></p></div>
</div>
</div>
<div class="quan_4">
	<div class="left">
    	<div class="left_1"><p>@Model.CompanyName</p>
<p>T:+ @Model.Contact</p>
<p>F:+ @Model.Fax</p>
<p><a href="#">@Model.Email</a></p>

</div>
        <div class="left_2">
        @if (Model.CoreCompany)
        {
        <a href="#"><img src="../images/quan-06.jpg" width="13" height="12" alt="xing" /></a>
        }
        <a href="#"><img src="../images/pen1919.png" alt="bianji" onclick="onCompanyEdit(@(Model.CompanyID))"/></a><a href="#"  onclick="onLeadAdd(@(Model.CompanyID))"><img src="../images/user.png" alt="新增Leader" width="19" height="19" /></a></div>
        <div class="left_3">
        	<div class="left_4">决策人状态统计</div>
            <div class="left_5"><img src="../images/quan-08.jpg" width="15" height="15" alt="yuan" />1<img src="../images/quan-09.jpg" width="15" height="15" alt="yuan" />1<img src="../images/quan-10.jpg" width="15" height="15" alt="yuan" />1<img src="../images/quan-11.jpg" width="15" height="15" alt="yuan" />1</div>
            <div class="left_6">
            	<ul>
                	<li>
                    	<h2>行业细分</h2>
                        @if (!string.IsNullOrWhiteSpace(Model.CategoryString))
                        {
                            @Model.CategoryString
                        }
                        <a href="#" onclick="GetCategories(@(Model.ID))"><img src="../images/quan-13.jpg" width="20" height="18" alt="wenhao" /></a>
                    </li>
                    <li>
                    	<h2>公司简介</h2>
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                           @Model.Description.Substring(0, 50)
                            if (Model.Description.Length > 50)
                      {
                                <p><a href="#"  onclick="onDescription(@(Model.ID))">更多>></a></p>
                      }
                        }
                    </li>
                    <li>
                    	<h2>竞争对手</h2>
                        @if (!string.IsNullOrWhiteSpace(Model.Competitor))
                        {
                            @Model.Competitor.Substring(0, 20) 
                       if (Model.Competitor.Length > 20)
                       {
                                <p><a href="#" onclick="onCompetitor(@(Model.ID))">更多>></a></p>
                       }
                        }
                    </li>
                    <li>
                    	<h2>Pitch Point</h2>
                        @if (!string.IsNullOrWhiteSpace(Model.PitchPoint))
                        {
                           @Model.PitchPoint.Substring(0, 50)
                      if (Model.PitchPoint.Length > 50)
                      {
                                <p><a href="#"  onclick="onPitchPoint(@(Model.ID))">更多>></a></p>
                      }
                        }
                         
                    </li>
                </ul>
            </div>
        </div>

    	<div class="dierye_1">
            <div style="float: left;width: 70%;">
                点评
            </div>
            <div style="float: left;width: 20%;">
                <a href="#" onclick="GetAddComment()"><img src="../images/quan-14.jpg" width="29" height="29" alt="jia"></a>
            </div>
        </div>
        
    	<div class="dierye_3">
         @if (Model._Comments != null)
         {
             var i = 1;
             foreach (var comment in Model._Comments)
             {
        	<div class="dierye_3_@(i)">
            	<dl>
                	<dt><p>@comment.Content</p>
                    <p>@comment.CommentDate.ToLongDateString() @comment.CommentDate.ToShortTimeString() By @comment.Submitter</p>
                    </dt>
                </dl>
            </div>
                                                                                                      i++;
                                                                                                      if (i > 2)
                                                                                                      {
                                                                                                          i = 1;
                                                                                                      }
             }
         }
            
        </div>
    </div>
    
    <div class="center">
   
     @if (Model._Leads != null)
     {
         var index = 1;
         foreach (var lead in Model._Leads)
         {
             <a href="#"  onclick="onLeadSelect(@(lead.ID))">
            <div  class="center_2" id="lead@(lead.ID)">
            <img src="../images/call.png" alt="新增通话" onclick="onCallAdd(@(lead.ID))" style=" display: inline;float: right;" />
            <img src="../images/pen1919.png" alt="编辑" onclick="onLeadEdit(@(lead.ID))" style=" display: inline;float: right;" />
            
                <dl>
                    <dt>
                        @if (index == 1)
                        {
                            <img src="../images/00.png" width="14" height="14" alt="tu" />
                        }
                        else
                        {
                            <img src="../images/22.png" width="14" height="14" alt="tu" />
                        }
                    </dt>
                    <dd>
                        <p>@lead.Name</p>
                        <p>@lead.Title</p>
                        <p>T:@lead.Contact</p>
                        <p>F:@lead.Fax</p>
                        <p>@lead.Email</p>
                     </dd>
                 </dl>
                 
            </div>
         </a>
                      index++;
                      if (index > 2)
                      {
                          index = 1;
                      }
         }
     }
    	
</div>
<div class="right">

@if (Model._LeadCalls != null)
{
    var index = 1;
    foreach (var call in Model._LeadCalls)
    {
            <div  class="right_@(index)">
               <h2>@call.LeadName  | @call.LeadTitle </h2>
            <p><span>@call.CallType</span></p>
            <p><span>@call.CallResult</span></p>
            <p>@call.CallDate.ToLongDateString() @call.CallDate.ToShortTimeString()</p>
            <p>By @call.Creator</p>
            </div>
             index++;
             if (index > 2)
             {
                 index = 1;
             }
    }
}
    	
  </div>
</div>
</div>
@(Html.Telerik().Window().Title("行业细分")
    .Name("Categories")
    .Content(@<text><div class="dialogue-Categories">
        <div class="Categories-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
             <input type="button" class="btn-queding" onclick="Javescript:$('#Categories').data('tWindow').close();" />
        </div>
    </div></text>)
        .Width(1000)
        .Height(220)
                .Modal(true).Visible(false).Draggable(true)
    )
@(Html.Telerik().Window().Title("添加公司")
    .Name("AddCompany1")
    .Content(@<text><div class="dialogue-addcompany1">
        <div class="companyAdd1-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="Addcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddcompany()" />
        </div>
    </div></text>)
        .Width(1000)
        .Height(520)
                .Modal(true).Visible(false).Draggable(true)
    )
@(Html.Telerik().Window().Title("更新公司")
    .Name("EditCompany")
    .Content(@<text><div class="dialogue-editcompany">
        <div class="companyEdit-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="Editcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditcompany()" />
        </div>
    </div></text>)
    .Width(1000).Height(540).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("公司介绍")
        .Name("Description")
    .Content(@<text><div class="dialogue-Description">
        <div class="Description-wrapper">
        </div>
        <div class="dialogue-buttons" style="position:absolute;bottom:0;width:98%;text-align:right;">
            <input type="button" class="btn-queding" onclick="Javescript:$('#Description').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(600).Height(200).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("竞争对手")
        .Name("Competitor1")
    .Content(@<text><div class="dialogue-Competitor1">
        <div class="Competitor1-wrapper">
        </div>
        <div class="dialogue-buttons" style="position:absolute;bottom:0;width:98%;text-align:right;">
            <input type="button" class="btn-queding" onclick="Javescript:$('#Competitor1').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(600).Height(200).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("Pitch Point")
            .Name("PitchPoint")
    .Content(@<text><div class="dialogue-PitchPoint">
        <div class="PitchPoint-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="Javescript:$('#PitchPoint').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(600).Height(200).Draggable(true).Modal(true).Visible(false)
)

@(Html.Telerik().Window().Title("新增客户")
    .Name("AddLead")
    .Content(@<text><div class="dialogue-addlead">
        <div class="leadadd-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="AddLead()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddLead()" />
        </div>
    </div></text>)
    .Width(1000).Height(340).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新客户")
    .Name("EditLead")
    .Content(@<text><div class="dialogue-editlead">
        <div class="leadedit-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="UpdateLead()" />
            <input type="button" class="btn-quxiao" onclick="javascript:$('#EditLead').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(1000).Height(340).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新通话结果")
    .Name("EditCall")
    .Content(@<text><div class="dialogue-editcall">
        <div class="calledit-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
            <input type="button" class="btn-queding" onclick="UpdateCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditCall()" />
        </div>
    </div></text>)
    .Width(750).Height(500).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("添加通话结果")
    .Name("AddCall")
    .Content(@<text><div class="dialogue-addcall">
        <div class="calladd-wrapper">
        </div>
        <div class="dialogue-buttons"style=" float:right;">
            <input type="button" class="btn-queding" onclick="AddCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddCall()" />
        </div>
    </div></text>)
    .Width(850).Height(250).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("添加Comment")
        .Name("Comment")
    .Content(@<text><div class="dialogue-Comment">
        <div class="Comment-wrapper">
        </div>
        <div class="dialogue-buttons" style=" float:right;">
             <input type="button" class="btn-queding" onclick="AddComment()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddComment()" />
        </div>
    </div></text>)
        .Width(1000)
        .Height(220)
                .Modal(true).Visible(false).Draggable(true)
    )
<script>
    function GetAddCompany() {
        var currentProjectId = $('#projectid').val();

        $.post('GetAddCompany', { projectId: currentProjectId }, function (result) {
            $('.companyAdd1-wrapper').html(result);
            var window = $('#AddCompany1').data('tWindow');
            window.center().open();
        });
    }
    function onCompanyEdit(currentCompanyId) {
        $.post('GetEditCompany', { companyId: currentCompanyId }, function (result) {
            $('.companyEdit-wrapper').html(result);
            var window = $('#EditCompany').data('tWindow');
            window.center().open();

            while ($('.dialogue-editcompany form').length > 1) {
                $('.dialogue-editcompany form').last().remove();
            }
        });
    }
    function CancelAddcompany() {
        var window = $('#AddCompany1').data('tWindow');

        window.close();
    }
    function Addcompany() {
        var hasError = false;
        $('.dialogue-addcompany1 form input').removeClass('fieldError');
        $('.dialogue-addcompany1 form select').removeClass('fieldError');

        String.prototype.isEmpty = function () { return /^\s*$/.test(this); }

        if ($('.dialogue-addcompany1 form #DistrictNumberId option:selected').val().isEmpty()) {
            //            if ($('.dialogue-addcompany form #ZipCode').val().isEmpty()) {
            //                $('.dialogue-addcompany form #ZipCode').addClass('fieldError');
            //                hasError = true;
            //            }
            //            if ($('.dialogue-addcompany form #Address').val().isEmpty()) {
            //                $('.dialogue-addcompany form #Address').addClass('fieldError');
            //                hasError = true;
            //            }
            if ($('.dialogue-addcompany1 form #Name_CN').val().isEmpty()) {
                $('.dialogue-addcompany1 form #Name_CN').addClass('fieldError');
                hasError = true;
            }
        }
        else {
            if ($('.dialogue-addcompany1 form #Name_EN').val().isEmpty()) {
                $('.dialogue-addcompany1 form #Name_EN').addClass('fieldError');
                hasError = true;
            }
        }

        var telephone = $('.dialogue-addcompany1 form #Phone');
        if (telephone.val().isEmpty() || !IsTelephone(telephone.val())) {
            telephone.addClass('fieldError');
            hasError = true;
        }

        var fax = $('.dialogue-addcompany1 form #Fax');
        if ((!fax.val().isEmpty()) && (!IsTelephone(fax.val()))) {
            fax.addClass('fieldError');
            hasError = true;
        }
        //            if ($('.dialogue-addcompany form #Fax').val().isEmpty()) {
        //                $('.dialogue-addcompany form #Fax').addClass('fieldError');
        //                hasError = true;
        //            }
        //        if ($('.dialogue-addcompany form #WebSite').val().isEmpty()) {
        //            $('.dialogue-addcompany form #WebSite').addClass('fieldError');
        //            hasError = true;
        //        }
        if ($('.dialogue-addcompany1 form #IndustryId').val().isEmpty()) {
            $('.dialogue-addcompany1 form #IndustryId').addClass('fieldError');
            hasError = true;
        }
        //    if ($('.dialogue-addcompany form #TypeId').val().isEmpty()) {
        //        $('.dialogue-addcompany form #TypeId').addClass('fieldError');
        //        hasError = true;
        //    }
        if ($('.dialogue-addcompany1 form #ProgressId').val().isEmpty()) {
            $('.dialogue-addcompany1 form #ProgressId').addClass('fieldError');
            hasError = true;
        }


        if ($('.dialogue-addcompany1 form input[type=checkbox][name=Categories]:checked').length == 0) {
            $('fieldset#categories').addClass('fieldError');
            hasError = true;
        } else {
            $('fieldset#categories').removeClass('fieldError');
        }

        if (hasError) {
            return;
        }
        var projectid = $('#projectid').val();
        var companyNameCN = $('.dialogue-addcompany1 #Name_CN').val();
        var companyNameEN = $('.dialogue-addcompany1 form #Name_EN').val();
        $.post('CheckCompanyExist', { projectid: projectid, beforeUpdateCN: null, afterUpdateCN: companyNameCN, beforeUpdateEN: null, afterUpdateEN: companyNameEN }, function (result) {
            if (result.length > 0) {
                alert(result);
            } else {
                var query = $('.dialogue-addcompany1 form').serializeArray();
                $.post('AddCompany', query, function (result) {
                    if (result.companyRelationshipId != null) {

                        if (confirm('公司新增成功,是否要往新增公司里面增加Lead')) {
                            tempProjectId = result.projectId;
                            tempCRMID = result.companyRelationshipId;

                            onLeadAdd(result.companyId);
                            $('#AddCompany1').data('tWindow').close();
                        }
                        else {
                            RefreshCrm();
                            onCompanyChanging(result.companyRelationshipId);
                            $('#AddCompany1').data('tWindow').close();
                        }
                    } else {
                        alert('公司新增失败');
                    }
                });
            }
        });
    }
    function Editcompany() {

        var hasError = false;
        $('.dialogue-editcompany form input').removeClass('fieldError');
        $('.dialogue-editcompany form select').removeClass('fieldError');

        String.prototype.isEmpty = function () { return /^\s*$/.test(this); }

        if ($('.dialogue-editcompany form #DistrictNumberId option:selected').val().isEmpty()) {
            if ($('.dialogue-editcompany form #Name_CN').val().isEmpty()) {
                $('.dialogue-editcompany form #Name_CN').addClass('fieldError');
                hasError = true;
            }
        }
        else {
            if ($('.dialogue-editcompany form #Name_EN').val().isEmpty()) {
                $('.dialogue-editcompany form #Name_EN').addClass('fieldError');
                hasError = true;
            }
        }

        var telephone = $('.dialogue-editcompany form #Phone');
        if (telephone.val().isEmpty() || !IsTelephone(telephone.val())) {
            telephone.addClass('fieldError');
            hasError = true;
        }

        var fax = $('.dialogue-editcompany form #Fax');
        if ((!fax.val().isEmpty()) && (!IsTelephone(fax.val()))) {
            fax.addClass('fieldError');
            hasError = true;
        }

        if ($('.dialogue-editcompany form #IndustryId').val().isEmpty()) {
            $('.dialogue-editcompany form #IndustryId').addClass('fieldError');
            hasError = true;
        }
        if ($('.dialogue-editcompany form #ProgressId').val().isEmpty()) {
            $('.dialogue-editcompany form #ProgressId').addClass('fieldError');
            hasError = true;
        }

        if ($('.dialogue-editcompany form input[type=checkbox][name=Categories]:checked').length == 0) {
            $('fieldset#categories').addClass('fieldError');
            hasError = true;
        } else {
            $('fieldset#categories').removeClass('fieldError');
        }

        if (hasError) {
            return;
        }

        var projectid = $('#CurrentProjectId').val();
        var companyNameCN = $('.dialogue-editcompany form #Name_CN').val();
        var companyNameEN = $('.dialogue-editcompany form #Name_EN').val();
        $.post('CheckCompanyExist', { projectid: projectid, beforeUpdateCN: currentCompanyNameCN, afterUpdateCN: companyNameCN, beforeUpdateEN: currentCompanyNameEN, afterUpdateEN: companyNameEN }, function (result) {
            if (result.length > 0) {
                alert(result);
            } else {
                var query = $('.dialogue-editcompany form').serializeArray();
                $.post('EditCompany', query, function (result) {
                    if (result.length > 0) {
                        alert(result);
                    } else {
                        $('#EditCompany').data('tWindow').close();
                        alert('公司更新成功');
                        var Indexes = $('.dialogue-editcompany form #CompanRelationshipId').val();
                        RefreshCrm();
                    }
                });
            }
        });
    }
    function onDescription(currentCompanyId) {
        $.post('GetDescription', { crmid: currentCompanyId }, function (result) {
            $('.Description-wrapper').html(result);
            var window = $('#Description').data('tWindow');
            window.center().open();

            while ($('.dialogue-Description form').length > 1) {
                $('.dialogue-Description form').last().remove();
            }
        });
    }

    function onCompetitor(currentCompanyId) {
        $.post('GetCompetitor', { crmid: currentCompanyId }, function (result) {
            $('.Competitor1-wrapper').html(result);
            var window = $('#Competitor1').data('tWindow');
            window.center().open();

            while ($('.dialogue-Competitor1 form').length > 1) {
                $('.dialogue-Competitor1 form').last().remove();
            }
        });
    }
    function onPitchPoint(currentCompanyId) {
        $.post('GetPitchPoint', { crmid: currentCompanyId }, function (result) {
            $('.PitchPoint-wrapper').html(result);
            var window = $('#PitchPoint').data('tWindow');
            window.center().open();
            while ($('.dialogue-PitchPoint form').length > 1) {
                $('.dialogue-PitchPoint form').last().remove();
            }
        });
    }
    function GetCategories(currentCompanyId) {
        $.post('GetCategories', { crmid: currentCompanyId }, function (result) {
            $('.Categories-wrapper').html(result);
            var window = $('#Categories').data('tWindow');
            window.center().open();
            while ($('.dialogue-Categories form').length > 1) {
                $('.dialogue-Categories form').last().remove();
            }
        });
    }
    function onLeadSelect(leadid) {
        gleadid = leadid;
        $.post('GetCRMByCrmIDLeadID', { crmid: crmid, leadid: leadid }, function (result) {
            $('#crmdetailscontainer').html(result);
        });
    }
    function onLeadAdd(currentCompanyId) {
        if (currentCompanyId == "" || currentCompanyId == undefined) {
            alert("请先选择公司");
            return;
        }
        $.post('GetAddLead', { companyId: currentCompanyId }, function (result) {
            $('.leadadd-wrapper').html(result);
            var window = $('#AddLead').data('tWindow');
            window.center().open();
        });
    }
    function onLeadEdit(leadId) {
        gleadid = leadId;
        $.post('GetEditLead', { leadId: leadId }, function (result) {
            $('.leadedit-wrapper').html(result);
            $('#EditLead').data('tWindow').center().open();
            while ($('.dialogue-editlead form').length > 1) {
                $('.dialogue-editlead form').last().remove();
            }
        });
    }
    function UpdateLead() {

        var haserror = false;

        $('.dialogue-editlead form input').removeClass('fieldError');
        $('.dialogue-editlead form select').removeClass('fieldError');

        $('.dialogue-editlead form #Msg').html('');
        var msg = '';

        var $namecn = $('.dialogue-editlead form #Name_CN');
        var $nameen = $('.dialogue-editlead form #Name_EN');
        if ($namecn.val().length == 0 && $nameen.val().length == 0) {
            $namecn.addClass('fieldError');
            $nameen.addClass('fieldError');
            msg += '客户中英文名必需至少填一个.';
            haserror = true;
        }


        $gender = $('.dialogue-editlead form #Gender');
        if ($gender.val().length == 0) {
            $gender.addClass('fieldError');
            haserror = true;
        }

        $title = $('.dialogue-editlead form #Title');
        if ($title.val().length == 0) {
            $title.addClass('fieldError');
            haserror = true;
        }

        var telephone = $('.dialogue-editlead form #Telephone');
        var cellPhone = $('.dialogue-editlead form #CellPhone');
        if ((cellPhone.val().length == 0) && (telephone.val().length == 0)) {
            telephone.addClass('fieldError');
            cellPhone.addClass('fieldError');
            msg += '<br />客户直线移动电话必需至少填一个.';
            haserror = true;
        } else {
            if (telephone.val().length != 0 && !IsTelephone(telephone.val())) {
                telephone.addClass('fieldError');
                haserror = true;
            }
            if (cellPhone.val().length != 0 && !IsTelephone(cellPhone.val())) {
                cellPhone.addClass('fieldError');
                haserror = true;
            }
        }

        var personalPhone = $('.dialogue-editlead form #PersonalPhone ');
        if (personalPhone.val().length != 0 && !IsTelephone(personalPhone.val())) {
            personalPhone.addClass('fieldError');
            haserror = true;
        }

        var personalCellPhone = $('.dialogue-editlead form #PersonalCellPhone ');
        if (personalCellPhone.val().length != 0 && !IsTelephone(personalCellPhone.val())) {
            personalCellPhone.addClass('fieldError');
            haserror = true;
        }

        var personelEmail = $('.dialogue-editlead form #PersonelEmail');
        if (personelEmail.val().length != 0 && !validateEmail(personelEmail.val())) {
            personelEmail.addClass('fieldError');
            haserror = true;
        }

        var workingEmail = $('.dialogue-editlead form #WorkingEmail');
        if (workingEmail.val().length != 0 && !validateEmail(workingEmail.val())) {
            workingEmail.addClass('fieldError');
            haserror = true;
        }

        if (haserror) {
            if (msg != '')
                $('.dialogue-editlead form #Msg').html(msg);
            return;
        }

        var query = $('.dialogue-editlead form').serializeArray();
        $.post('EditLead', query, function (result) {
            if (result.length > 0) {
                alert(result);
            } else {
                $('#EditLead').data('tWindow').close();
                alert('Lead更新成功');
                RefreshCrm();
            }
        });
    }
    function AddLead() {
        var haserror = false;

        $('.dialogue-addlead form input').removeClass('fieldError');
        $('.dialogue-addlead form select').removeClass('fieldError');
        $('.dialogue-addlead form #Msg').html('');
        var msg = '';

        var $namecn = $('.dialogue-addlead form #Name_CN');
        var $nameen = $('.dialogue-addlead form #Name_EN');
        if ($namecn.val().length == 0 && $nameen.val().length == 0) {
            $namecn.addClass('fieldError');
            $nameen.addClass('fieldError');
            msg += '客户中英文名必需至少填一个.';
            haserror = true;
        }

        $gender = $('.dialogue-addlead form #Gender');
        if ($gender.val().length == 0) {
            $gender.addClass('fieldError');
            haserror = true;
        }

        $title = $('.dialogue-addlead form #Title');
        if ($title.val().length == 0) {
            $title.addClass('fieldError');
            haserror = true;
        }

        var telephone = $('.dialogue-addlead form #Telephone');
        var cellPhone = $('.dialogue-addlead form #CellPhone');
        if ((cellPhone.val().length == 0) && (telephone.val().length == 0)) {
            telephone.addClass('fieldError');
            cellPhone.addClass('fieldError');
            msg += '<br />客户直线移动电话必需至少填一个.';
            haserror = true;
        } else {
            if (telephone.val().length != 0 && !IsTelephone(telephone.val())) {
                telephone.addClass('fieldError');
                haserror = true;
            }
            if (cellPhone.val().length != 0 && !IsTelephone(cellPhone.val())) {
                cellPhone.addClass('fieldError');
                haserror = true;
            }
        }

        var personalPhone = $('.dialogue-addlead form #PersonalPhone ');
        if (personalPhone.val().length != 0 && !IsTelephone(personalPhone.val())) {
            personalPhone.addClass('fieldError');
            haserror = true;
        }

        var personalCellPhone = $('.dialogue-addlead form #PersonalCellPhone ');
        if (personalCellPhone.val().length != 0 && !IsTelephone(personalCellPhone.val())) {
            personalCellPhone.addClass('fieldError');
            haserror = true;
        }

        var personelEmail = $('.dialogue-addlead form #PersonelEmail');
        if (personelEmail.val().length != 0 && !validateEmail(personelEmail.val())) {
            personelEmail.addClass('fieldError');
            haserror = true;
        }

        var workingEmail = $('.dialogue-addlead form #WorkingEmail');
        if (workingEmail.val().length != 0 && !validateEmail(workingEmail.val())) {
            workingEmail.addClass('fieldError');
            haserror = true;
        }

        if (haserror) {
            if (msg != '')
                $('.dialogue-addlead form #Msg').html(msg);
            return;
        }
        var query = $('.dialogue-addlead form').serializeArray();
        $.post('AddLead', query, function (result) {
            if (result.length > 0) {
                $('#AddLead').data('tWindow').close();
                gleadid = result;
                if (confirm('Lead新增成功,是否新增相应Call')) {
                    onCallAdd(result);
                } else {
                    RefreshCrm();
                }

            } else {
                alert('Lead新增失败');
            }
        });

    }
    function onCallAdd(leadid) {
        currentProjectId = $('#projectid').val().replace(/(^\s*)|(\s*$)/g, '');
        if (currentProjectId.length == 0) {
            currentProjectId = null;
        }
        $.post('GetAddCall', { leadId: leadid, companyRelationId: crmid, projectId: currentProjectId }, function (result) {
            $('.calladd-wrapper').html(result);
            var window = $('#AddCall').data('tWindow');
            window.center().open();
        });
    }
    
    function AddCall() {
        if ($('.dialogue-addcall form #ProjectId').val() == 'null') {
            $('.dialogue-addcall form #ProjectId').val('');
        }

        if ($('.dialogue-addcall form').valid()) {
            var haserror = false;
            var $calltype = $('.dialogue-addcall form #CallTypeId');
            if ($calltype.val().length == 0) {
                $calltype.addClass('fieldError');
                haserror = true;
            }

            if (haserror) {
                return;
            }

            var query = $('.dialogue-addcall form').serializeArray();
            $.post('AddCall', query, function (result) {
                if (result.length > 0) {
                    alert('LeadCall新增失败');
                } else {
                    $('#AddCall').data('tWindow').close();
                    alert('LeadCall新增成功');
                    onLeadSelect(gleadid);
                }
            });
        }
    }

    function CancelAddCall() {
        var window = $('#AddCall').data('tWindow');
        window.close();
    }
    function UpdateCall() {
        if ($('.calledit-wrapper form').valid()) {
            var query = $('.calledit-wrapper form').serializeArray();
            $.post('EditLeadCall', query, function (result) {
                if (result.length > 0) {
                    alert(result);
                } else {
                    $('#EditCall').data('tWindow').close();
                    alert('LeadCall更新成功');
                }
            });
        }
    }
    function CancelEditCall() {
        var window = $('#EditCall').data('tWindow');
        window.close();
    }
    function RefreshCrm() {
        if (gleadid == "" || gleadid == undefined) {
            $.post('_SelectedCRMNode', { crmid: crmid }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
        else {
            $.post('GetCRMByCrmIDLeadID', { crmid: crmid, leadid: gleadid }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
       
    }
    function GetAddComment() {
        $.post('GetAddComment', { crmid: crmid }, function (result) {
            $('.Comment-wrapper').html(result);
            var window = $('#Comment').data('tWindow');
            window.center().open();
        });
    }
    function AddComment() {

        if ($('.Comment-wrapper form').valid()) {
            var query = $('.dialogue-Comment form').serializeArray();
            $.post('AddComment', query, function (result) {
                if (result.length > 0) {
                    alert('新增Comment失败');
                } else {
                    $('#Comment').data('tWindow').close();
                    alert('新增Comment成功');
                    RefreshCrm();
                }
            });
        }
    }
    function CancelAddComment() {
        var window = $('#Comment').data('tWindow');
        window.close();
    }
    var leaddiv = $('#lead'+gleadid);
    leaddiv.removeClass('center_2');
    leaddiv.addClass('center_1');
</script>