@using Entity
@using Utl
@model Model.AjaxViewLead

@using (Html.BeginForm("EditLead", "AvaliableCompanies"))
{
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.LeadId)
     <table  class="leadinput">
        <tr>
            <td colspan="4"><span id="Msg" style="color:Red;"></span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Name_CN)
                @Html.TextBoxFor(model => model.Name_CN)
            </td>
             <td>@Html.LabelFor(model => model.Name_EN)
                @Html.TextBoxFor(model => model.Name_EN)
            </td>
            <td>
                @Html.LabelFor(model => model.Gender)
                @Html.DropDownListFor(model => model.Gender, SelectHelper.GenderSelectList(null), "-请选择-")
            </td>
           
            <td>
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Telephone)
                @Html.TextBoxFor(model => model.Telephone)
            </td>
            <td>
                @Html.LabelFor(model => model.CellPhone)
                @Html.TextBoxFor(model => model.CellPhone)
            </td>
             <td>
                @Html.LabelFor(model => model.Department)
                @Html.TextBoxFor(model => model.Department)
            </td>
           
            <td>
                @Html.LabelFor(model => model.WorkingEmail)
                @Html.TextBoxFor(model => model.WorkingEmail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PersonalPhone)
                @Html.TextBoxFor(model => model.PersonalPhone)
            </td>
            <td>
                @Html.LabelFor(model => model.PersonalCellPhone)
                @Html.TextBoxFor(model => model.PersonalCellPhone)
            </td>
             <td>
                @Html.LabelFor(model => model.Fax)
                @Html.TextBoxFor(model => model.Fax)
            </td>

          
            <td>
                @Html.LabelFor(model => model.PersonelEmail)
                @Html.TextBoxFor(model => model.PersonelEmail)
            </td>
        </tr>
           <tr>
            <td>
                @Html.LabelFor(model => model.DistrictNumberId)
                @Html.DropDownListFor(model => model.DistrictNumberId, SelectHelper.DistinctNumberSelectList(null), "中国(默认)")
            </td>
            <td>
                @Html.LabelFor(model => model.Branch)
                @Html.TextBoxFor(model => model.Branch)
            </td>
            <td>
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address)
            </td>
            <td>
                @Html.LabelFor(model => model.Zip)
                @Html.TextBoxFor(model => model.Zip)
            </td>
           
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Birthday)
                @Html.Telerik().DatePickerFor(model => model.Birthday)
            </td>
            <td>
                @Html.LabelFor(model => model.Comment)
                @Html.TextBoxFor(model => model.Comment)
            </td>
            <td colspan="2">
                @Html.LabelFor(model => model.LeadRoles)
                @if (Model.LeadRoles != null && Model.LeadRoles.Contains("决策人"))
                {
                    <span class="leadRole">
                        <input type="checkbox" value="决策人" checked="checked" name="leadRole" />
                        <label>
                            决策人</label></span>
                }
                else
                { 
                    <span class="leadRole">
                        <input type="checkbox" value="决策人" name="leadRole" />
                        <label>
                            决策人</label></span>
                }
                @if (Model.LeadRoles != null && Model.LeadRoles.Contains("参与人"))
                {
                    <span class="leadRole">
                        <input type="checkbox" value="参与人" checked="checked" name="leadRole" />
                        <label>
                            参与人</label></span> 
                }
                else
                { 
                    <span class="leadRole">
                        <input type="checkbox" value="参与人" name="leadRole" />
                        <label>
                            参与人</label></span> 
                }
                @if (Model.LeadRoles != null && Model.LeadRoles.Contains("联系人"))
                {
                    <span class="leadRole">
                        <input type="checkbox" value="联系人" checked="checked" name="leadRole" />
                        <label>
                            联系人</label></span>
                }
                else
                { 
                    <span class="leadRole">
                        <input type="checkbox" value="联系人" name="leadRole" />
                        <label>
                            联系人</label></span>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.LinkIn)
                @Html.TextBoxFor(model => model.LinkIn)
            </td>
            <td>
                @Html.LabelFor(model => model.FaceBook)
                @Html.TextBoxFor(model => model.FaceBook)
            </td>
            <td>
                @Html.LabelFor(model => model.WeiXin)
                @Html.TextBoxFor(model => model.WeiXin)
            </td>
            <td>
                @Html.LabelFor(model => model.WeiBo)
                @Html.TextBoxFor(model => model.WeiBo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.QQ)
                @Html.TextBoxFor(model => model.QQ)
            </td>
              <td>
                @Html.LabelFor(model => model.PersonalFax)
                @Html.TextBoxFor(model => model.PersonalFax)
            </td>
            <td >
                @Html.LabelFor(model => model.Twitter)
                @Html.TextBoxFor(model => model.Twitter)
            </td>
            <td >
                @Html.LabelFor(model => model.Sequence)
                @Html.TextBoxFor(model => model.Sequence)
            </td>
            
        </tr>
     
    </table>
}
<style>
    table
    {
        border: none;
    }
    table tr td
    {
        width: 240px;
        border: none;
    }
    table tr td label
    {
        display: inline-block;
        width: 55px;
        padding-right: 5px;
    }
    table tr td input[type=text], table tr td select
    {
        width: 140px;
    }
    table tr td textarea
    {
        height: 100px;
    }
    #categoriesError
    {
        display: none;
    }
    fieldset.fieldError span
    {
        display: inline-block !important;
        color: Red;
    }
    span.leadRole
    {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
