@model Model.EmailModel
           
@{ Html.BeginForm("EmailPage", "SalesEx"); }

<table width="100%" cellpadding="0" cellspacing="0">
   <tr>
        <td style=" width:5%">@Html.LabelFor(model => model.Subject)</td>
        <td>
            @Html.TextBoxFor(model => model.Subject, new { id = "Subject", style = "width:100%" })
            
            @Html.ValidationMessageFor(model => model.Subject)
        </td>
   </tr>
   <tr>
        <td colspan="2">
            @Html.LabelFor(model => model.Content)
            @Html.HiddenFor(model => model.ToEmail)
            @Html.HiddenFor(model => model.ToName)
        </td>
   </tr>
   <tr>
        <td colspan="2">
            @{Html.Telerik().EditorFor(model=> model.Content)
                .HtmlAttributes(new {style="height:550px"})
                .Encode(false)
                .Tools(tools => tools
                    .Clear()
                    .Bold().Italic().Underline()
                    .Separator()
                    .CreateLink().Unlink()
                )
                .Render();
            }
        </td>
   </tr>
</table>

@{ Html.EndForm(); }
