@model Model.EmailModel
           
@{ Html.BeginForm("EmailPage", "SalesEx"); }

<table width="100%" cellpadding="0" cellspacing="0">
   <tr>
        <td style="width:12.5%">@Html.LabelFor(model => model.FromName)</td>
        <td style="width:12.5%">
            @Html.TextBoxFor(model => model.FromName, new { id = "FromName",style="width:100%" })
            @Html.ValidationMessageFor(model => model.FromName)
        </td>
        <td style="width:12.5%">@Html.LabelFor(model => model.FromEmail)</td>
        <td style="width:12.5%">
            @Html.TextBoxFor(model => model.FromEmail, new { id = "FromEmail", style = "width:100%" })
            @Html.ValidationMessageFor(model => model.FromEmail)
        </td>
        <td style="width:12.5%">@Html.LabelFor(model => model.ToName)</td>
        <td style="width:12.5%">
            @Html.TextBoxFor(model => model.ToName, new { id = "ToName", style = "width:100%" })
            @Html.ValidationMessageFor(model => model.ToName)
        </td>
        <td style="width:12.5%">@Html.LabelFor(model => model.ToEmail)</td>
        <td style="width:12.5%">
            @Html.TextBoxFor(model => model.ToEmail, new { id = "ToEmail", style = "width:100%" })
            @Html.ValidationMessageFor(model => model.ToEmail)
        </td>
   </tr>
   <tr>
        <td >@Html.LabelFor(model => model.Content)</td>
        <td colspan="7">
            @{Html.Telerik().EditorFor(model=> model.Content)
                .HtmlAttributes(new {style="height:550px"})
                .Encode(false)
                .Tools(tools => tools
                    .Clear()
                    .Bold().Italic().Underline()
                    .Separator()
                    .CreateLink().Unlink()
                )
                .Render();
            }
        </td>
   </tr>
</table>

@{ Html.EndForm(); }

<script type="text/javascript" language="javascript">
//    $(document).ready(function () {
//        var typeId = @ViewBag.Type;
//        $.post('AjaxGetTemplate', { type: typeId }, function (result) {
//            $('#container').html("Happy Life");
//        });
//    });
</script>