@using Utl;
@model Entity.FAQ
<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">问题名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">问题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">答案</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer)
    </div>
</fieldset>
@Html.Partial("displaycommon", Model)

