@using Utl;
@model Entity.Lead
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">客户照片</div>
    <div class="display-field">
   
     @if (Model != null)
     {
        <div style="max-width:300px; max-height:250px;">
      <img alt="客户照片"  src=@Url.Content("~/Image/DisplayImage/" + Model.ImageID) />
      </div>
     }
    </div>
   <div class="display-label">客户职位</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">客户姓名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">联系方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label"></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label"></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMail)
    </div>

    <div class="display-label"></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">所属公司</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.FullName)
    </div>
</fieldset>

