@using Entity
@using Utl
@model List<Lead>

@(Html.Telerik().Grid<Lead>(Model).Name("Lead")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.FullName).Width(150);
                    c.Bound(item => item.Title).Title("职位").Width(200);
                    c.Bound(item => item.Contact).Width(150);
                    c.Bound(item => item.ID).Title("操作").Template(@<span> <a href=@Url.Content("~/Lead/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/Lead/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Lead/delete/" + item.ID) >
                            删除</a> </span>);
                })
                .Resizable(resizing => resizing.Columns(true))
                .Groupable()
                .Pageable(p => p.PageSize(50))
                .Sortable()
                .Filterable()
                .Scrollable(scrolling => scrolling.Height(550))
)
@helper Lead(Lead lead)
{ 
        var company = lead.Company;
    <div style="width: 500;">
        <img alt="photo"  style="width:80px;height:70px;float:right;" src=@Url.Content("~/Image/DisplayImage/" + lead.ImageID) />
        <ul>
            <li>
                <label>
                    Lead姓名:</label>@lead.FullName</li>
            <li>
                <label>
                    职位:</label>@lead.Title</li>
            <li>
                <label>
                    性别:</label>@lead.Gender</li>
            <li>
                <label>
                    公司电话:</label>@company.Contact</li>
            <li>
                <label>
                    可打时间:</label>@company.Available</li>
            <li>
                <label>
                    座机:</label>@lead.Contact</li>
            <li>
                <label>
                    电子邮箱:</label>@lead.EMail</li>
            <li>
                <label>
                    传真:</label>@lead.Fax</li>
        </ul>
    </div>
     
}

<p>
    请在公司页面下添加客户</p>

