@using Utl;
@model Entity.LeadCallType
<fieldset>
    <legend>@SR.Form</legend>
    <div class="display-label">
        类型名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        类型代码
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.TemplateName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateName)
    </div>
    <div class="display-label">
        致电结果描述
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultDescription)
    </div>
</fieldset>
