@model Entity.Member
@using Utl
@using Entity
<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">成员名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">分配字头</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Characters)
    </div>

    <div class="display-label">是否激活</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>

     <div class="editor-field">
        @Html.HiddenFor(m=>m.ProjectID)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>

    <div class="display-label">参与过的项目</div>
    <div class="display-field">
    @{
        var ps = Model.GetInvolveProjects();
        if(ps.Count>0)
        {
            <table style="width:80%">
            <tr><th>项目名称</th><th>总CheckIn</th><th>人民币DealIn</th><th>美元DealIn</th><th>DealIn总额(RMB)</th></tr>
            @foreach (var p in ps)
            {
                var process = @p.GetProjectMemberProgress(Model.Name);
                <tr><td>@p.Name</td><td>@process.TotalCheckIn </td><td>@process.RMBDealIn</td><td>@process.USDDealIn</td><td>@process.TotalDealInRMB</td></tr>
            }
            </table>
        }
     }
      
    </div>


   
</fieldset>

