@model Entity.AssignPerformanceScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AssignPerformanceScore</legend>

    <div class="display-label">Score</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>

    <div class="display-label">TargetName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetName)
    </div>

    <div class="display-label">Assigner</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assigner)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Sequence</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sequence)
    </div>

    <div class="display-label">ModifiedUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedUser)
    </div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">Creator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator)
    </div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
