@model Entity.TargetOfMonthForMember
@using Utl
@using Entity
<fieldset>
    <legend>@SR.Form</legend>@* @Html.Hidden("ProjectID")

         <div class="editor-label">
        @Html.LabelFor(model => model.Month)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Month, new SelectList(new List<int>() {1,2,3,4,5,6,7,8,9,10,11,12 }),"-请选择-")
        @Html.ValidationMessageFor(model => model.Month)
    </div>*@
    <div class="editor-label">
        @Html.LabelFor(model => model.StartDate)
    </div>
    <div class="editor-field">
        @Html.Telerik().DatePickerFor(model => model.StartDate).Value(Model == null ? DateTime.Now.StartOfMonth() : Model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.EndDate)
    </div>
    <div class="editor-field">
        @Html.Telerik().DatePickerFor(model => model.EndDate).Value(Model == null ? DateTime.Now.EndOfMonth() : Model.EndDate)
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Deal)
    </div>
    <div class="editor-field">
        @Html.Telerik().CurrencyTextBoxFor(model => model.Deal)
        @Html.ValidationMessageFor(model => model.Deal)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.BaseDeal)
    </div>
    <div class="editor-field">
        @Html.Telerik().CurrencyTextBoxFor(model => model.BaseDeal)
        @Html.ValidationMessageFor(model => model.BaseDeal)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CheckIn)
    </div>
    <div class="editor-field">
        @Html.Telerik().CurrencyTextBoxFor(model => model.CheckIn)
        @Html.ValidationMessageFor(model => model.CheckIn)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.MemberID, "项目名称")
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ProjectID, new SelectList(BLL.CRM_Logical.GetUserInvolveProject(), "ID", "Name"), "-请选择-")
        @Html.ValidationMessageFor(model => model.ProjectID)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.MemberID, "目标制定人")
    </div>
    <div class="editor-field">
        @{
            var pid = Model == null ? ViewBag.ProjectID as int? : Model.ProjectID;

            var user = Employee.CurrentUserName;
            var membernames = CH.GetAllData<Member>(mem => mem.Project.ID == pid).ToList();

         
            @Html.DropDownListFor(m => m.MemberID, new SelectList(membernames, "ID", "Name", membernames.Find(f => f.Name == user)), "-请选择-")
         
       
        }
        @Html.ValidationMessageFor(model => model.MemberID)
    </div>
</fieldset>
