@model Entity.EntityBase
@Html.Partial("displaycommon", Model)
<fieldset>
    <legend>基本信息</legend>
    <div class="display-label">
        排序</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sequence)
    </div>
    <div class="display-label">
        用户</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User)
    </div>
    <div class="display-label">
        更改时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedTime)
    </div>
    <div class="display-label">
        描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
