@model Entity.EntityBase

<fieldset>
    <legend>基本信息</legend>
    <div class="display-label">
        排序</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sequence)
    </div>
    <div class="display-label">
        创建用户</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator)
    </div>
    <div class="display-label">
        创建时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
    <div class="display-label">
        更新用户</div>
    <div class="display-field">
        @Html.DisplayTextFor(model => model.ModifiedUser)
    </div>
    <div class="display-label">
        更新时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
    <div class="display-label">
        描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
