@using Entity
@using Utl
@model Project
<div>
    <fieldset>
        <legend>基本信息</legend>
        <table class="info">
            <tr>
                <td colspan="3">
                    <span>项目名称：@Model.Name</span>
                </td>
            </tr>
             <tr>
                <td >
                    <span>项目代码：@Model.ProjectCode</span>
                </td>
                <td>
                    <span>开始日期：@Model.StartDate.ToShortDateString()</span>
                </td>
                <td>
                    <span>结束日期：@Model.EndDate.ToShortDateString()</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>项目目标：@Html.DisplayFor(m => m.Target)</span>
                </td>
                <td>
                    <span>版块负责人：@Model.Manager</span>
                </td>
                <td>
                    <span>团队负责人：@Model.TeamLeader</span>
                </td>
            </tr>
             <tr>
                <td>
                    <span>产品部接口人：@Model.Product</span>
                </td>
                <td>
                    <span>市场部接口人：@Model.Market</span>
                </td>
                <td>
                    <span>会议地点：@Model.Location</span>
                </td>
            </tr>
            <tr>
                <td >
                    <span>@Html.ActionLink("项目简介", "OpenProjectSalesBrief", new { projectid=Model.ID}, new { target = "_blank" })</span>
                </td>
                 <td >
                    <span>@Html.ActionLink("分配的公司", "CompanyRelationshipIndex", new { projectid = Model.ID }, new { target = "_blank" })</span>
                </td>
                 <td >
                    <span>@Html.ActionLink("话术支持", "PhoneSaleSupport", new { projectid = Model.ID }, new { target = "_blank" })</span>
                </td>
               
            </tr>
            <tr>
                <td  colspan=3>
                    <span>@Html.ActionLink("问题留言", "AddMessage", new { projectid = Model.ID }, new { target = "_blank" })</span>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
    <legend>项目组成员</legend>
    @{
        if(Model.Members!=null)
        {
          <table class="membertable" >
                <tr><th>姓名</th><th>项目总DealIn</th><th>项目总CheckIn</th><th>一周内DealIn</th><th>一周内CheckIn</th></tr>
            @foreach(var m in Model.Members)
            {
                var data = m.GetMemberProgress(DateTime.Now.AddDays(-7),DateTime.Now);
                
                <tr><td>@m.Name</td><td>@data.TotalDealIn</td><td>@data.TotalCheckIn </td><td>@data.DealIn </td><td>@data.CheckIn </td></tr>
                
             }
        </table>
        }
     }
    </fieldset>
</div>
<style type="text/css">
 .membertable{width:100%;}   
 .membertable th{width:20%;}   
 .membertable td{width:20%; }   
</style>