@{
    ViewBag.Title = "销售人员月进度表";
    Layout = "~/Views/DirectorReport/Master.cshtml";
}
@using Model
@using Utl;
@using BLL;
@{

   <fieldset>
   <legend>销售人员月进度表</legend>
   日期 @Html.Telerik().DatePicker().Name("Month").ClientEvents(w => w.OnChange("OnMonthChange"))
   业务员  @Html.DropDownList("Sales",CRM_Logical._Reports.GetProjectsSales(),"请选择", new { onchange = "onSalesChange();" })
   项目 @Html.DropDownList("ProjectID", SelectHelper.ProjectSelectList(Employee.CurrentUserName), "请选择", new { onchange = "onProjectChange();" })
   项目类型 @Html.DropDownList("ProjectType", SelectHelper.ProjectTypeSelectList(), "请选择", new { onchange = "onProjectTypeChange();" })
   板块负责人 @Html.DropDownList("Manager",CRM_Logical._Reports.GetProjectsManager(),"请选择", new { onchange = "onManagerChange();" })
@(Html.Telerik().Grid<AjaxMemberProjectProcessByMonth>().Name("AjaxMemberProjectProcessByMonth")
     .DataBinding(dataBinding =>
     {
         dataBinding.Ajax().Select("MemberProjectsProgressByMonth", "DirectorReport");
     })
        .ClientEvents(events => events.OnDataBinding("dataBinding").OnDataBound("OnDataBound"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Member).Width(100).Title("业务员").HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(p => p.ProjectUnitName).Width(150).Title("项目简称").HtmlAttributes(new { style = "text-align:left" });
        columns.Bound(p => p.ConferenceStartDate).Width(85).Title("会议时间").HtmlAttributes(new { style = "text-align:left" }).Format("{0:yyyy-MM-dd}");
        columns.Bound(p => p.TotalCheckInTarget).Width(120).Title("个人项目到账目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.TotalDealIn).Title("个人项目业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.TotalCheckIn).Title("个人项目入账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        
        columns.Bound(p => p.CurrentMonthDealInTarget).Title("本月业绩目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthDealIn).Title("本月业绩").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthDealInPercent).Title("完成率").Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });

        columns.Bound(p => p.CurrentMonthCheckInTarget).Title("本月到账目标").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CurrentMonthCheckIn).Title("本月到账").HtmlAttributes(new { style = "text-align:right" }).Format("{0:c0}")
            .Aggregate(aggregates => aggregates.Sum())
        .ClientFooterTemplate("<p><#= $.telerik.formatString('{0:c0}', Sum) #></p>")
        .FooterHtmlAttributes(new { style = "text-align:right" });
        columns.Bound(p => p.CheckInMonthPercent).Title("完成率").Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}").FooterHtmlAttributes(new { style = "text-align:right" });
    })
    //.CellAction(cell =>
    //{
    //    if (cell.Column.Member == "CheckInMonthPercent")
    //    {
    //        AjaxProjectProcessByMonth data = cell.DataItem;
    //        if (data.CheckInMonthPercent < 0.8)
    //        {
    //            cell.HtmlAttributes["style"] = "font-weight: bold; color:red;text-align:right";
    //        }
    //        else if (data.CheckInMonthPercent < 1.2)
    //        {
    //            cell.HtmlAttributes["style"] = "font-weight: bold; color:green;text-align:right";
    //        }
    //    }

        
                            
    //})
        .Pageable(p => p.Style(GridPagerStyles.Status)
                   .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(480)).Resizable(r => r.Columns(true))
)
</fieldset>    
  
}

<script>
    var clicked = false;
    function dataBinding(e) {
        if (clicked) {
            var typeid = $('#ProjectType').val();
            var manager = $('#Manager').val();
            var projectid = $('#ProjectID').val();
            var month = $("#Month").val();
            var sales = $('#Sales').val();
            e.data = $.extend(e.data, {sales:sales,month:month,projectid:projectid, typeid: typeid, manager: manager });
        }
    }
    function OnDataBound(e) {
        var CurrentMonthDealInTargetTotal = $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(6).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(7).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(8).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

        var CurrentMonthDealInTargetTotal = $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(9).text();
        //CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replaceall(',', '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/,/g, '');
        CurrentMonthDealInTargetTotal = CurrentMonthDealInTargetTotal.replace(/￥/g, '');
        var CurrentMonthDealInTotal = $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(10).text();
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/,/g, '');
        CurrentMonthDealInTotal = CurrentMonthDealInTotal.replace(/￥/g, '');
        if (CurrentMonthDealInTargetTotal > 0)
            $('#AjaxMemberProjectProcessByMonth').find('.t-footer-template').children().eq(11).text((CurrentMonthDealInTotal / CurrentMonthDealInTargetTotal * 100).toFixed(0) + '%');

    }
    function refreshGrid() {
        clicked = true;
        $("#AjaxMemberProjectProcessByMonth").data("tGrid").rebind();

    }
    function onProjectTypeChange() {
       
        refreshGrid();
    }
    function onManagerChange() {
        refreshGrid();
    }
    function onProjectChange() {
        refreshGrid();
    }
    function onSalesChange() {
        refreshGrid();
    }
    function OnMonthChange(e) {
        refreshGrid();
    }
</script>