@using Utl;
@model Entity.Package
<fieldset>
<legend>@SR.Form</legend>
<div class="display-label">名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

   <div class="display-label">参会类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParticipantType.Name)
    </div>

    <div class="display-label">Package类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackageType.Name)
    </div>

    <div class="display-label">英文描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubName)
    </div>
    <div class="display-label">中文描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubNameCH)
    </div>
    <div class="display-label">美元费用</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prize )
    </div>
    <div class="display-label">人民币费用</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrizeCH )
    </div>
</fieldset>
