@{
    ViewBag.Title = "JsonGetCompanys";
}
@using Entity
@model Company
@Html.Partial("Projectselector")
<input type="button" id="addData" value="添加" />
 @{Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "min-height: 700px;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("20%").Content(@<text>@GetCompanys()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }).Render();}

@helper GetCompanys()
{
    @(Html.Telerik().TreeView().Name("companystreeview").
    ClientEvents(events => 
        events.OnDataBinding("onCompanysTreeviewDataBinding")
                .OnSelect("onCompanysTreeviewNodeSelected")
    ))
}

@helper GetCompanyDetails()
{
   
    @Html.Partial("CompanyInfo",Model)
}

@*@helper GetLeadsDetails()
{
    <div id="leadsdata" style="width:100%">
    </div>
}*@

@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
        onCompanysTreeviewDataBinding();
    </text>);
}

@{Html.Telerik().Window().Name("salesdatawindow").Width(600)
.Draggable(true).Modal(true).Resizable().Scrollable(true).Visible(false).Buttons(b=>b.Clear().Close().Maximize())
.Title("添加销售数据")
.Effects(fx => fx.Zoom().Opacity().OpenDuration(200).CloseDuration(300)).Content(@<text>@Html.Partial("salesinputwindow")</text>).Render();
    }


