@{
    ViewBag.Title = "JsonGetCompanys";
}
@using Entity
@model Company
@Html.Partial("Projectselector")
 @{Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "min-height: 700px;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("20%").Content(@<text>@GetCompanys()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }).Render();}

@helper GetCompanys()
{
    @(Html.Telerik().TreeView().Name("companystreeview").
    ClientEvents(events => 
        events.OnDataBinding("onCompanysTreeviewDataBinding")
                .OnSelect("onCompanysTreeviewNodeSelected")
    ))
}

@helper GetCompanyDetails()
{
    string cname = string.Empty;
    if(Model!=null)
    {
        cname = Model.Name;
    }
    @(Html.Telerik().PanelBar().Name("sp2").HtmlAttributes(new { style = "min-height: 700px;" })
    .Items(panes =>
    {
        panes.Add().Text("公司信息").Content(@<text>
        <center><input class="companysubmit"  type="button" value="提交公司信息" /></center>
      
        @Html.Partial("CompanyInfo",Model)
      
        </text>).Expanded(true);
       
            
     
       
    }))
}

@helper GetLeadsDetails()
{
    <div id="leadsdata" style="width:100%">
    </div>
}



@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
        onCompanysTreeviewDataBinding();
    </text>);
}