@{
    ViewBag.Title = "已打客户列表";
}

@using Entity
@using Utl
@using Model
@model List<ViewContactedLead>

@Html.Partial("contenttitle", "Call List")
@Html.Partial("projectselector")
@(Html.Telerik().Grid<ViewContactedLead>(Model).Name("Grid").ToolBar(commands => commands.Custom()
    .HtmlAttributes(new { id = "export" }).Text("导出客户电子邮件").Action("ExportCsv", "sales", new { projectid=ViewBag.projectid==null?null:ViewBag.ProjectID as int?, orderBy = "~", filter = "~" }))
                .ClientEvents(events => events.OnDataBound("onCallListDataBound"))
                .Columns(c =>
                {
                    //公司名，人名，性别，职务，公司总机，时差，客户直线，移动电话，电子邮箱，传真，致电时间，状态，结果描述
                    c.Bound(item => item.Lead.Company.Name).Title("公司名").Width(120);
                    c.Bound(item => item.Lead.Name).Title("人名");
                    c.Bound(item => item.Lead.Gender);
                    c.Bound(item => item.Lead.Title);
                    c.Bound(item => item.Lead).Title("公司总机").Template(@<text>
                    @{
                        var lead = item.Lead;
                        if (lead.SubCompanyID == null)
                        {
                            <p>@lead.Company.Contact</p>
                        }
                        else
                        {
                            <p>@lead.SubCompany.Contact</p>
                        }
                        }
                    </text>).Width(110);
                    c.Bound(item => item.Lead.Company.DistrictNumber.TimeDifference ).Template(@<text>
                     @{
                        var lead = item.Lead;
                        if (lead.SubCompanyID == null )
                        {
                            if (lead.Company.DistrictNumber!=null)
                            {
                            <p>@lead.Company.DistrictNumber.TimeDifference</p>
                            }
                        }
                        else
                        {
                             if (lead.SubCompany.DistrictNumber!=null)
                            {
                            <p>@lead.SubCompany.DistrictNumber.TimeDifference</p>
                            }
                        }
                        }
                    </text>).Width(60);
                    c.Bound(item => item.Lead.Contact).Width(110);
                    c.Bound(item => item.Lead.Mobile).Width(110);
                    c.Bound(item => item.Lead.EMail).Width(85);
                    c.Bound(item => item.Lead.Fax).Width(85);
                    c.Bound(item => item.LastCall.CallDate).Width(85);

                    c.Bound(item => item.LastCall.LeadCallType.Name).Width(90);
                    c.Bound(item => item.LastCall.Result).Width(200);
                    c.Bound(item => item.ID).Title("操作").Width(70).Template(@<span> <a  href=@Url.Content("~/Sales/LeadCallsIndex/?crid=" + item.CompanyRelationshipID + "&leadid=" + item.ID) >Call List</a> 
                     </span>);
                })
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Filterable().Sortable().Groupable()
                                            .Pageable(p => p.PageSize(20))
                                            .Scrollable(scrolling => scrolling.Height(350))
                        )

@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> 
     onCallListDataBound();
    </text>);
}