@{
    ViewBag.Title = "已打客户列表";
}
@using BLL
@using Entity
@using Utl
@using Model
@Html.Partial("contenttitle", "Call List")
@using (Html.BeginForm())
{
   <div style="padding:3px;"> <span style="display: inline-block;"><b>开始时间：</b>@Html.Telerik().DateTimePicker().Name("startdate").Value((DateTime?)ViewBag.StartDate)
   <b>结束时间：</b>@Html.Telerik().DateTimePicker().Name("enddate").Value((DateTime?)ViewBag.EndDate) <input type="submit" value="搜索" /></span></div>
    <div></div>
    <span style="display: inline-block;" ><b>项目筛选：</b> @Html.DropDownList("ProjectID", SelectHelper.SaleRelatedProjects((int?)ViewBag.ProjectID), null, new { onchange = "this.form.submit();" })
     <b>致电类型筛选：</b> @Html.DropDownList("leadCallTypeId", SelectHelper.LeadCallTypeSelect((int?)ViewBag.LeadCallTypeId), "-请选择-", new { onchange = "this.form.submit();" })
    <b>状态筛选：</b>@Html.DropDownList("FilterID", SelectHelper.SaleCallListFilter((int)ViewBag.FilterID), null, new { onchange = "this.form.submit();" })
   </span>
}
@(Html.Telerik().Grid<AjaxViewSaleCallListData>().Name("Grid").ToolBar(commands => commands.Custom()
    .HtmlAttributes(new { id = "export" }).Text("导出客户电子邮件").Action("ExportCsv", "sales", new { projectid = ViewBag.projectid == null ? null : ViewBag.ProjectID as int?, orderBy = "~", filter = "~" }))
                .ClientEvents(events => events.OnDataBound("onCallListDataBound"))
                .Columns(c =>
                {
                    //公司名，人名，性别，职务，公司总机，时差，客户直线，移动电话，电子邮箱，传真，致电时间，状态，结果描述
                    c.Bound(item => item.CompanyName).Title("公司名").Width(120);
                    c.Bound(item => item.LeaderName).Title("人名").Width(120);
                    c.Bound(item => item.LeaderGender).Width(70);
                    c.Bound(item => item.LeadTitle).Width(120);
                    c.Bound(item => item.CompanyContact).Title("公司总机").Width(110);
                    c.Bound(item => item.TimeDifference).Width(60).Title("时差");
                    c.Bound(item => item.LeaderContact).Width(110).Title("客户直线");
                    c.Bound(item => item.LeaderMobile).Width(110).Title("移动电话");
                    c.Bound(item => item.LeaderEmail).Width(85).Title("电子邮箱");
                    c.Bound(item => item.LeaderFax).Width(85).Title("传真");
                    c.Bound(item => item.CallDate).Width(85).Title("致电时间");
                    c.Bound(item => item.CallTypeName).Width(90).Title("状态");
                    c.Bound(item => item.Result).Width(200).Title("结果描述");
                    //c.Bound(item => item.ActionLink).Title("操作").Width(70).ClientTemplate("<span> <a  href='<#= ActionLink #>' >Call List</a></span>");
                }).DataBinding(dataBinding => dataBinding.Ajax().Select("_ContectedLeads", "Sales", new { projectid = ViewBag.ProjectID, filterId = ViewBag.FilterID, leadCallTypeId = ViewBag.LeadCallTypeId, startdate = ViewBag.StartDate, enddate = ViewBag.EndDate }))
                                            .Resizable(resizing => resizing.Columns(true))
                                            .Filterable().Sortable().Groupable()
                                            .Pageable(paging => paging.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(20))
.Scrollable(scrolling => scrolling.Height(350)))
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> onCallListDataBound();
    </text>);
}
