@{
    ViewBag.Title = "我的出单";
}

@using Entity
@model List<Deal>

@Html.Partial("contenttitle", "我的出单")
@Html.Partial("projectselector")
@(Html.Telerik().Grid<Deal>(Model).Name("Deal").ToolBar(commands => commands.Custom().Text("添加出单").Action("AddDeal", "Sales", new { projectid = ViewBag.ProjectID as int? }))
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.CompanyRelationship.Company.Name).Title("客户名称").Width(150);
                    c.Bound(item => item.Package.Name).Title("Package名称").Width(150);
                    c.Bound(item => item.Payment).Width(100).Format("{0:c}").Aggregate(aggregates => aggregates.Sum()).FooterTemplate(@<text>@if (item.Sum != null)
                                                                                                                                             {<p>应收款: @item.Sum.Format("{0:c}")</p>}</text>).GroupFooterTemplate(@<text>@if (item.Sum != null)
                                                                                                                                                                                                                                           {<p>应收款: @item.Sum.Format("{0:c}")</p>}</text>).Width(100);
                    c.Bound(item => item.Income).Width(90).Format("{0:c}").Aggregate(aggregates => aggregates.Sum()).FooterTemplate(@<text>@if (item.Sum != null)
                                                                                                                                           {<p>实收款: @item.Sum.Format("{0:c}")</p>}</text>).GroupFooterTemplate(@<text>@if (item.Sum != null)
                                                                                                                                                                                                                                         {<p>实收款: @item.Sum.Format("{0:c}")</p>}</text>).Width(100); ;
                    c.Bound(item => item.IsClosed).Width(70);
                    c.Bound(item => item.Abandoned).Width(70);
                    c.Bound(item => item.ExpectedPaymentDate).Format("{0:d}").Width(90);
                    c.Bound(item => item.ActualPaymentDate).Format("{0:d}").Width(100);
                    c.Bound(item => item.ID).Title("操作").Template(@<span>
                    <a href=@Url.Content("~/sales/EditDeal/?id=" + item.ID + "&projectid=" + ViewBag.ProjectID as string) >编辑</a> | <a href=@Url.Content("~/sales/DisplayDeal/?id=" + item.ID + "&projectid=" + ViewBag.ProjectID as string)>详细</a>  
                   </span>);
                })
                    .Resizable(resizing => resizing.Columns(true))
                    .Filterable().Sortable().Groupable()
                    .Pageable(p => p.PageSize(20))
                    .Scrollable(scrolling => scrolling.Height(350))

)

