@{
    ViewBag.Title = "项目进展";
}
@Html.Partial("contenttitle", "项目进展")
@using Model
@{
    var month = DateTime.Now.Month;
    var height = 30 + month * 20;
<fieldset>
    <legend>每月进度总表</legend>
    @(Html.Telerik().Grid<AjaxMonthTotalProgressStatistics>().Name("AjaxMonthTotalProgressStatistics").DataKeys(keys =>
                {
                    keys.Add(s => s.Month);
                }).Columns(c =>
                {
                    c.Bound(item => item.Month).Width(70);
                    c.Bound(item => item.TotalCheckinTargets).Title("月CheckIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
                    c.Bound(item => item.TotalCheckIn).Title("月项目总CheckIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
                    c.Bound(item => item.CheckInComplatePercetage).ClientTemplate("<p><#= CheckInComplatePercetage #>%</p>");
                    c.Bound(item => item.TotalDealinTargets).Title("月项目DeaIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
                    c.Bound(item => item.TotalDealIn).Title("月项目总DealIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
                    c.Bound(item => item.DealInComplatePercetage).ClientTemplate("<p><#= DealInComplatePercetage #>%</p>");
                    c.Bound(item => item.MemberCounts);
                    c.Bound(item => item.LeadCallsCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>Call总数: <#= Sum #></p>");
                    c.Bound(item => item.CallingCompanyCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打公司总数: <#= Sum #></p>");
                    c.Bound(item => item.CallingLeadCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打Lead总数: <#= Sum #></p>");
                    c.Bound(item => item.PerMemberCheckIn).Aggregate(item => item.Average()).Format("{0:c}").ClientFooterTemplate("<p>个人月平均CheckIn: <#= $.telerik.formatString('{0:c}', Average) #> </p>");
                    c.Bound(item => item.PerMemberDealIn).Aggregate(item => item.Average()).Format("{0:c}").ClientFooterTemplate("<p>个人月平均DealIn: <#= $.telerik.formatString('{0:c}', Average) #></p>");
                    c.Bound(item => item.PerMemberCall).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人月平均Call数量: <#= Average #></p>");
                })
                        .DataBinding(d => d.Ajax().Select("_MonthProgress", "ProgressReport"))
                .Selectable().ClientEvents(events => events.OnRowSelect("onMonthRowSelected"))
                .Resizable(resizing => resizing.Columns(true))
                    .Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(12)).Sortable()
                         .Scrollable(s => s.Height(height))

                    )
</fieldset>
    }

<fieldset id="fieldsetweek" style="display:none">
    <legend id="MonthWeek" >@DateTime.Now.Month 月每周进度总表</legend>
    @(Html.Telerik().Grid<AjaxWeekTotalProgressStatistics>().Name("weeks").HtmlAttributes(new { style = "display:none;" })
        .DataKeys(keys =>
        {
            keys.Add(s => s.StartDayString);
            keys.Add(s => s.EndDayString);
        })
    .Columns(c =>
    {
        c.Bound(item => item.StartDayString);
        c.Bound(item => item.EndDayString);
        c.Bound(item => item.TotalCheckinTargets).Title("周项目CheckIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalCheckIn).Title("周项目总CheckIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.CheckInComplatePercetage).ClientTemplate("<p><#= CheckInComplatePercetage #>%</p>");
        c.Bound(item => item.TotalDealinTargets).Title("周项目DeaIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalDealIn).Title("周项目总DealIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.DealInComplatePercetage).ClientTemplate("<p><#= DealInComplatePercetage #>%</p>");
        //c.Bound(item => item.MemberCounts);
        //c.Bound(item => item.LeadCallsCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>Call总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingCompanyCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打公司总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingLeadCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打Lead总数: <#= Sum #></p>");
        c.Bound(item => item.PerMemberCheckIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均CheckIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberDealIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均DealIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberCall).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均Call数量: <#= $.telerik.formatString('{0:c}', Average) #></p>");
    }).DataBinding(dataBinding => dataBinding.Ajax().Select("_WeekProgress", "ProgressReport"))
             .Selectable().ClientEvents(events => events.OnRowSelect("onWeekRowSelected"))
                             .ClientEvents(clientEvents => clientEvents.OnDataBinding("onWeeksBinding")).Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(4)).Resizable(resizing => resizing.Columns(true)).Sortable().Scrollable(s => s.Height(110))
    )
</fieldset>

<fieldset id="weeks" style="display:none">
    <legend id="ProjectWeektext"></legend>
    @(Html.Telerik().Grid<AjaxWeekProjectProgressStatistics>().Name("projectweek")

    .Columns(c =>
    {
        c.Bound(item => item.StartDate);
        c.Bound(item => item.ProjectID).Hidden();
        c.Bound(item => item.TotalCheckinTargets).Title("周项目CheckIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalCheckIn).Title("总项目总CheckIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.CheckInComplatePercetage).ClientTemplate("<p><#= CheckInComplatePercetage #>%</p>");
        c.Bound(item => item.TotalDealinTargets).Title("总项目DeaIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalDealIn).Title("总项目总DealIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.DealInComplatePercetage).ClientTemplate("<p><#= DealInComplatePercetage #>%</p>");
        //c.Bound(item => item.MemberCounts);
        //c.Bound(item => item.LeadCallsCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>Call总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingCompanyCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打公司总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingLeadCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打Lead总数: <#= Sum #></p>");
        c.Bound(item => item.PerMemberCheckIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均CheckIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberDealIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均DealIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberCall).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均Call数量: <#= Average #></p>");
    }).DataBinding(dataBinding => dataBinding.Ajax().Select("_ProjectWeekProgress", "ProgressReport"))
     .Selectable().ClientEvents(events => events.OnRowSelect("onMemberWeekRowSelected"))
             .ClientEvents(clientEvents => clientEvents.OnDataBinding("onProjectWeekBinding")).Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(4)).Sortable().Scrollable(s => s.Height(100)).Resizable(resizing => resizing.Columns(true))
    )
</fieldset>

<fieldset id="fieldsetmemberweek" style="display:none">>
    <legend id="memberWeek"></legend>
    @(Html.Telerik().Grid<AjaxWeekMemberProgressStatistics>().Name("memberweek")
    .Columns(c =>
    {
        c.Bound(item => item.StartDayString);
        c.Bound(item => item.EndDayString);
        c.Bound(item => item.Name );
        c.Bound(item => item.TotalCheckinTargets).Title("周项目CheckIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalCheckIn).Title("周项目总CheckIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.CheckInComplatePercetage).ClientTemplate("<p><#= CheckInComplatePercetage #>%</p>");
        c.Bound(item => item.TotalDealinTargets).Title("周项目DeaIn总目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalDealIn).Title("周项目总DealIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.DealInComplatePercetage).ClientTemplate("<p><#= DealInComplatePercetage #>%</p>");
    }).DataBinding(dataBinding => dataBinding.Ajax().Select("_MemberWeekProgress", "ProgressReport"))
                             .ClientEvents(clientEvents => clientEvents.OnDataBinding("onMemberWeeksBinding")).Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(4)).Resizable(resizing => resizing.Columns(true)).Sortable().Scrollable(s => s.Height(110))
    )
</fieldset>



<fieldset id="fieldsetprojectmonth" style=" display:none">
    <legend id="MonthProject">@DateTime.Now.Month 月项目进度表</legend>
    @{
  
    @(Html.Telerik().Grid<AjaxMonthProjectProgressStatistics>().Name("projectmonth")
        .DataKeys(keys =>
        {
            keys.Add(s => s.Month);
        })
    .Columns(c =>
    {
        c.Bound(item => item.ProjectName);
        c.Bound(item => item.TotalCheckinTargets).Title("项目总CheckIn目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalCheckIn).Title("项目总CheckIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>CheckIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.CheckInComplatePercetage).ClientTemplate("<p><#= CheckInComplatePercetage #>%</p>");
        c.Bound(item => item.TotalDealinTargets).Title("项目总DeaIn目标").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn目标总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.TotalDealIn).Title("项目总DealIn").Format("{0:c}").Aggregate(item => item.Sum()).ClientFooterTemplate("<p>DealIn总额: <#= $.telerik.formatString('{0:c}', Sum) #></p>");
        c.Bound(item => item.DealInComplatePercetage).ClientTemplate("<p><#= DealInComplatePercetage #>%</p>");
        //c.Bound(item => item.MemberCounts);
        //c.Bound(item => item.LeadCallsCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>Call总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingCompanyCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打公司总数: <#= Sum #></p>");
        //c.Bound(item => item.CallingLeadCount).Aggregate(item => item.Sum()).ClientFooterTemplate("<p>已打Lead总数: <#= Sum #></p>");
        c.Bound(item => item.PerMemberCheckIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均CheckIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberDealIn).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均DealIn: <#= $.telerik.formatString('{0:c}', Average) #></p>").Format("{0:c}");
        c.Bound(item => item.PerMemberCall).Aggregate(item => item.Average()).ClientFooterTemplate("<p>个人平均Call数量: <#= Average #></p>");
    }).DataBinding(dataBinding => dataBinding.Ajax().Select("_ProjectMonthProgress", "ProgressReport"))
     //.Selectable().ClientEvents(events => events.OnRowSelect("onWeekRowSelected"))
            .ClientEvents(clientEvents => clientEvents.OnDataBinding("onMonthProjectBinding")).Pageable(p => p.Style(GridPagerStyles.Status).PageOnScroll(true).PageSize(4)).Sortable().Scrollable(s => s.Height(110)).Resizable(resizing => resizing.Columns(true))
    )
    }
</fieldset>

<script type="text/javascript">

    var month;

    function onMonthRowSelected(e) {
      
        month = e.row.cells[0].innerHTML;

        $('#MonthWeek').text(month + " 月每周进度");
        $('#MonthProject').text(month + " 月项目进度");
        $('#fieldsetprojectweek').hide();

        $('#fieldsetprojectmonth').show();
        var weeks = $('#weeks').data('tGrid');
        var projectmonth = $('#projectmonth').data('tGrid');
        weeks.rebind();
        projectmonth.rebind();
        $('#weeks').show();
        $('#sales').hide();

    }

    function onWeeksBinding(e) {
        e.data = $.extend(e.data, { month: month });
    }

    function onMonthProjectBinding(e) {
        e.data = $.extend(e.data, { month: month });
    }

    var startdate;
    var projectid
    //周总进度
    function onWeekRowSelected(e) {
        var projectweek = $('#projectweek').data('tGrid');
        startdate = e.row.cells[0].innerHTML;
        var enddate = e.row.cells[1].innerHTML;
        $('#ProjectWeektext').text(startdate + " ~ " + enddate + "项目进度");
        $('#fieldsetprojectweek').show();
        projectweek.rebind();
    }
    function onProjectWeekBinding(e) {
        e.data = $.extend(e.data, { startdate: startdate });
    }

    //周项目中各个销售进度
    function onMemberWeekRowSelected(e) {
        var memberweek = $('#memberweek').data('tGrid');
        startdate = e.row.cells[0].innerHTML;
        projectid = e.row.cells[1].innerHTML;
        $('#memberweek').text(startdate + " ~ " + enddate + "销售进度");
        $('#fieldsetmemberweek').show();
        memberweek.rebind();
    }

    function onMemberWeeksBinding(e) {
        e.data = $.extend(e.data, { startdate: startdate });
    }


  
    
</script>
@*@using Model
@model List<AjaxViewProjectMonthPerformance>
@Html.Partial("progressselector")
@{
    var selectedangels = ViewBag.SelectedAngels as List<string>;
    foreach (var pv in Model)
    {
        var listm = new List<AjaxViewProjectMonthPerformance>();
        listm.Add(pv);
    <fieldset>
        <legend>@pv.ProjectName </legend>
        @if (selectedangels == null || selectedangels.Contains("week"))
        {
            foreach (AjaxViewProjectWeekPerformance wv in pv.AjaxViewProjectWeekPerformances)
            {
                var m = new List<AjaxViewProjectWeekPerformance>();
                m.Add(wv);
            <fieldset style="width: 22.1%; float: left;">
                <legend>@wv.StartDate.ToShortDateString() ~ @wv.EndDate.ToShortDateString()</legend>
                @(Html.Telerik().Chart<AjaxViewProjectWeekPerformance>(m).Name("chart" + wv.ProjectID + wv.StartDate.ToShortDateString()).Title(wv.ProjectName).Legend(legend => legend.Position(ChartLegendPosition.Bottom)).Series(series =>
  {
      series.Column(s => s.DealInTarget).Name("销售目标").Labels(labels => labels.Format("￥{0:#,##0}").Visible(true));
      series.Column(s => s.DealIn).Name("实际出单").Labels(labels => labels.Format("￥{0:#,##0}").Visible(true));
      series.Column(s => s.CheckInTarget).Name("入账目标").Labels(labels => labels.Format("￥{0:#,##0}").Visible(true));
      series.Column(s => s.CheckIn).Name("实际入账").Labels(labels => labels.Format("￥{0:#,##0}").Visible(true));

      //series.Bar(s => s.DealInTarget).Name("销售目标").Labels(labels => labels.Template(" 销售目标: <#= value #>").Visible(true));
      //series.Bar(s => s.DealIn).Name("实际出单").Labels(labels => labels.Template(" 实际出单: <#= value #>").Visible(true));
      //series.Bar(s => s.CheckInTarget).Name("入账目标").Labels(labels => labels.Template(" 入账目标: <#= value #>").Visible(true));
      //series.Bar(s => s.CheckIn).Name("实际入账").Labels(labels => labels.Template(" 实际入账: <#= value #>").Visible(true));

  })
  .CategoryAxis(axis => axis.Categories(s => s.ComplatePercentage))
      .ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("￥{0:,###0}")))
      )
            </fieldset> 
            }
        }
 @if (selectedangels == null || selectedangels.Contains("month"))
 {
       @(Html.Telerik().Chart<AjaxViewProjectMonthPerformance>(listm).Name("chart" + pv.ProjectID).Title("月目标完成情况")
        .Legend(legend => legend.Position(ChartLegendPosition.Bottom)).Series(series =>
{
    series.Bar(s => s.DealInTarget).Name("销售目标").Labels(labels => labels.Format("销售目标: ￥{0:#,##0}").Visible(true));
    series.Bar(s => s.DealIn).Name("实际出单").Labels(labels => labels.Format("实际出单: ￥{0:#,##0}").Visible(true));
    series.Bar(s => s.CheckInTarget).Name("入账目标").Labels(labels => labels.Format("入账目标: ￥{0:#,##0}").Visible(true));
    series.Bar(s => s.CheckIn).Name("实际入账").Labels(labels => labels.Format("实际入账: ￥{0:#,##0}").Visible(true));
    //series.Bar(s => s.DealInTarget).Name("销售目标").Labels(labels => labels.Template(" 销售目标: <#= value #>").Visible(true));
}).CategoryAxis(axis => axis.Categories(s => s.ComplatePercentage))
  .ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("￥{0:#,##0}"))).HtmlAttributes(new { style = "float:left; width:98%;height:250px;" }))
 }

@* @(Html.Telerik().Chart<AjaxViewProjectMonthPerformance>(Model).Name("totalchart" + pv.ProjectID).Title("月目标完成情况比较")
        .Legend(legend => legend.Position(ChartLegendPosition.Bottom)).Series(series => 
{
    series.Column(s => s.DealInTarget).Name("销售目标").Labels(true);
    series.Column(s => s.DealIn).Name("实际出单").Labels(true);
    series.Column(s => s.CheckInTarget).Name("入账目标").Labels(true);
    series.Column(s => s.CheckIn).Name("实际入账").Labels(true);
    //series.Bar(s => s.DealInTarget).Name("销售目标").Labels(labels => labels.Template(" 销售目标: <#= value #>").Visible(true));
}).CategoryAxis(axis => axis.Categories(s => s.ComplatePercentage))
      .ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("￥{0:#,##0}"))).HtmlAttributes(new { style="float:left; height:250px;"}))


</fieldset>
    }


}*@ 