@model Entity.Image
@using Utl
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.ContentType)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ContentType)
        @Html.ValidationMessageFor(model => model.ContentType)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</fieldset>
