@using Entity
@using Utl
@model Model.AjaxViewSaleCompany
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("AddSaleCompany", "SalesEx"))
{
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.CompanyId)
    <fieldset>
        <legend>公司信息</legend>
        <table>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Name_CN)
                    @Html.TextBoxFor(model => model.Name_CN, new { @style = "width:370px" })
                </td>
                <td colspan="2">
                    @Html.LabelFor(model => model.Name_EN)
                    @Html.TextBoxFor(model => model.Name_EN, new { @style = "width:370px" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextBoxFor(model => model.Address, new { @style = "width:370px" })
                </td>
                <td colspan="2">
                    @Html.LabelFor(model => model.Address_EN)
                    @Html.TextBoxFor(model => model.Address_EN, new { @style = "width:370px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DistrictNumberId)
                    @Html.DropDownListFor(model => model.DistrictNumberId, SelectHelper.DistinctNumberSelectList(null), "请选择", new { })
                </td>
                <td>
                    @Html.LabelFor(model => model.Province)
                    @Html.TextBoxFor(model => model.Province)
                </td>
                <td>
                    @Html.LabelFor(model => model.City)
                    @Html.TextBoxFor(model => model.City)
                </td>
                <td>
                    @Html.LabelFor(model => model.ZipCode)
                    @Html.TextBoxFor(model => model.ZipCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone)
                </td>
                <td>
                    @Html.LabelFor(model => model.Fax)
                    @Html.TextBoxFor(model => model.Fax)
                </td>
                <td colspan="2">
                    @Html.LabelFor(model => model.WebSite)
                    @Html.TextBoxFor(model => model.WebSite, new { @style = "width:370px" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.LabelFor(model => model.IndustryId)
                    @Html.DropDownListFor(model => model.IndustryId, SelectHelper.CompanyIndustrySelectList(null), "请选择", new { @style = "width:370px" })
                </td>
                <td>
                    @Html.LabelFor(model => model.TypeId)
                    @Html.DropDownListFor(model => model.TypeId, SelectHelper.CompanyTypeSelectList(null), "请选择", new { })
                </td>
                <td>
                    @Html.LabelFor(model => model.ProgressId)
                    @Html.DropDownListFor(model => model.ProgressId, SelectHelper.ProgressSelectList(null), "请选择", new { })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Scale)
                    @Html.DropDownListFor(model => model.Scale,SelectHelper.CompanyScaleSelectList(null),"请选择")
                </td>
                <td>
                    @Html.LabelFor(model => model.AnnualSales)
                    @Html.DropDownListFor(model => model.AnnualSales, SelectHelper.AnnualSaleSelectList(null), "请选择")
                </td>
                <td>
                    @Html.LabelFor(model => model.MainProduct)
                    @Html.TextBoxFor(model => model.MainProduct)
                </td>
                <td>
                    @Html.LabelFor(model => model.MainClient)
                    @Html.TextBoxFor(model => model.MainClient)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.LabelFor(model => model.Desc)
                    @Html.TextAreaFor(model => model.Desc)
                </td>
            </tr>        
        </table>
        <fieldset id="categories">
            <legend>Categories <span id="categoriesError">必须选择一项</span></legend>
            @foreach (Category category in CH.GetAllData<Category>(c => c.ProjectID == Model.ProjectId))
            { 
                <label class="company-category">@category.Name
                </label>
                <input  name="Categories" type="checkbox" value="@category.ID" /> 
            }
        </fieldset>
    </fieldset>
}
<style>
    table
    {
        border:none;
     }
    table tr td
    {
        width: 240px;
        border:none;
    }
    table tr td label
    {
        display: inline-block;
        width: 55px;
        padding-right: 5px;
    }
    table tr td input, table tr td select
    {
        width: 140px;
    }
    table tr td textarea
    {
        height: 100px;
    }
    #categoriesError
    {
        display: none;
    }
    fieldset.fieldError span
    {
        display: inline-block !important;
        color: Red;
    }
</style>
