@using Entity
@using Utl
@model Model.AjaxViewLead
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("AddLead", "SalesEx"))
{
    @Html.HiddenFor(model=>model.CompanyId)
    <ul>
        <li><span class="addlead-left">@Html.LabelFor(model => model.Name_CN) @Html.TextBoxFor(model => model.Name_CN)
            @Html.ValidationMessageFor(model => model.Name_CN)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.Name_EN) @Html.TextBoxFor(model => model.Name_EN)
                @Html.ValidationMessageFor(model => model.Name_EN)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.Telephone) @Html.TextBoxFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.CellPhone) @Html.TextBoxFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.Title) @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.Department) @Html.TextBoxFor(model => model.Department)
                @Html.ValidationMessageFor(model => model.Department)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.WorkingEmail) @Html.TextBoxFor(model => model.WorkingEmail)
            @Html.ValidationMessageFor(model => model.WorkingEmail)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.PersonelEmail) @Html.TextBoxFor(model => model.PersonelEmail)
                @Html.ValidationMessageFor(model => model.PersonelEmail)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.Address) @Html.TextBoxFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.Zip) @Html.TextBoxFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.Birthday) @Html.TextBoxFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.Gender) @Html.DropDownListFor(model => model.Gender, SelectHelper.GenderSelectList(Model.Gender), "-请选择-")
                @Html.ValidationMessageFor(model => model.Gender)
            </span></li>
        <li><span class="addlead-left">@Html.LabelFor(model => model.WeiBo) @Html.TextBoxFor(model => model.WeiBo)
            @Html.ValidationMessageFor(model => model.WeiBo)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.WeiXin) @Html.TextBoxFor(model => model.WeiXin)
                @Html.ValidationMessageFor(model => model.WeiXin)
            </span></li>
            <li><span class="addlead-left">@Html.LabelFor(model => model.LinkIn) @Html.TextBoxFor(model => model.LinkIn)
            @Html.ValidationMessageFor(model => model.LinkIn)</span> <span class="addlead-right">
                @Html.LabelFor(model => model.FaceBook) @Html.TextBoxFor(model => model.FaceBook)
                @Html.ValidationMessageFor(model => model.FaceBook)
            </span></li>
            <li><span class="addlead-left">@Html.LabelFor(model => model.Blog) @Html.TextBoxFor(model => model.Blog)
            @Html.ValidationMessageFor(model => model.Blog)</span> <span class="addlead-right">
              @Html.LabelFor(model => model.Fax) @Html.TextBoxFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </span></li>
            <li><span class="addlead-left">@Html.LabelFor(model => model.DistrictNumberId)   @Html.DropDownListFor(model => model.DistrictNumberId, SelectHelper.DistinctNumberSelectList(null), "请选择", new { })
                @Html.ValidationMessageFor(model => model.DistrictNumberId)</span> <span class="addlead-right">
            </span></li>
    </ul>
}