@{
    ViewBag.Title = "Index";
}
@using Entity
@using Model
@using Utl
@model AjaxCrmTypedList
@*<form style="line-height: 30px; display: inline-block;">

</form>*@
<center>
<div class="selections" style="width:95%">
<center>
    <table style="width:798px; display:inline-block"">
        <tr>
            <td>
                <span>项目选择:@Html.DropDownListFor(model => model.CurrentProjectId, SelectHelper.ProjectSelectList(EditRight.DealsEdit.ToString(), Model.CurrentProjectId),"不指定", new { style = "width:200px;" })</span>
            </td>
            <td>
                <span>分配时间: @Html.DropDownList("companyassigndate", SelectHelper.DurationSelectList(), "不指定", new { style = "width:200px;" })</span>
            </td>
             <td>
                <span>成熟程度: @Html.DropDownList("companyprogress", SelectHelper.CrmProgessSelectList(), "不指定", new { style = "width:200px;" })</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>出单状态: @Html.DropDownList("dealprogress", SelectHelper.DealConditionSelectList(), "不指定", new { style = "width:200px;" })</span>
            </td>
       
        <td>
            <span>最近通话: @Html.DropDownList("callprogress", SelectHelper.CallConditionSelectList(), "不指定", new { style = "width:200px;" })</span>
        </td>
            <td>
                <span>通话状态: @Html.DropDownList("leadprogress", SelectHelper.LeadConditionSelectList(), "不指定", new { style = "width:200px;" })</span>
            </td>
        </tr>
            <tr>
            <td>
                <span>客户姓名: @Html.TextBox("f-customerName")</span>
            </td>
       
        <td>
            <span>公司名称: @Html.TextBox("f-companyName")</span>
        </td>
            <td>
                <span>电话号码: @Html.TextBox("f-phoneNum")</span>
            </td>
        </tr>
        <tr>
        
           <td colspan="3"><center>  <input id="search" style="border: none;  width: 67px; height: 21px; background-image: url('../images/chazhao.jpg'); cursor: pointer;" type="button" />
    <input type="reset" style="border: none; width: 67px; height: 21px; background-image: url('../images/chongzhi.jpg'); cursor: pointer;" value=" " />
    <input type="button"  style="border: none;  width: 67px; height: 21px; background-image: url('../images/tianjia_4.jpg'); cursor: pointer;" onclick="GetAddCompany()" />
    </center>
    </td>
        </tr> 
        <tr>
         <td colspan="3" ><span>Lead最后一次通话状态颜色:</span>
  <span style="color:#0000C6">Call-Backed</span>
   <span style="color:#6C6C6C">Blowed</span>
    <span style="color:red">NotCall</span>
   <span style="color:#006030">Closed</span>
   <span style="color:#005757">Waiting for Approval</span>
     <span style="color:#FF00CC">Qualified Decision</span></td>
        </tr>
    </table>

   </center>
 
</div>
</center>

<div style="clear: both;">
</div>
@(Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "min-height: 800px;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("26%").Content(@<text>@GetCRMS()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }))
@helper GetCRMS()
    {
    
    <div>
        @(Html.Telerik().Window()
        .Name("groupWindow")
        .Title("分组")
        .Content(@<text>
        @Html.Partial("groupwindow", new UserFavorsCrmGroup())
        </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
        @(Html.Telerik().Window()
        .Name("groupListWindow")
        .Title("分组")
        .Content(@<text>
        @Html.Partial("grouplistwindow", Model.CustomCrmGroups)
        </text>).Width(600).ClientEvents(e => e.OnClose("onGroupListWindowSubmit"))
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
        <div id="mainnavigationcontainer">
            @Html.Partial("mainnavigationcontainer", Model)
        </div>
    </div>
 
}
@helper GetCompanyDetails()
    {
    <div id="crmdetailscontainer">
        @if (Model.AllCRMs.FirstOrDefault() != null)
        {
            @Html.Partial("salesexitem", Model.AllCRMs.FirstOrDefault())
        }
    </div>
}
<ul id="groupcontextmenu" class="jeegoocontext cm_default">
    <li id="groupmanagement"><span class=""></span>
        <p class="regrouptext">
            分组管理</p>
    </li>
</ul>
<ul id="favorscontextmenu" class="jeegoocontext cm_default">
    <li class="regroup"><span class=""></span>
        <p class="regrouptext">
            移动可打公司至</p>
        <ul>
        </ul>
    </li>
    <li class="separator"></li>
    <li class="remove" id="remove"><span class=""></span>从组中移出 </li>
    <li class="separator"></li>
    <li class="blowed"><span class=""></span>Blowed，放回公海 </li>
</ul>
<ul id="contextmenu" class="jeegoocontext cm_default">
    <li class="regroup"><span class=""></span>
        <p class="regrouptext">
            移动可打公司至</p>
        <ul>
        </ul>
    </li>
    <li class="separator"></li>
    <li class="blowed"><span class="icon drive"></span>Blowed，放回公海 </li>
</ul>
@(Html.Telerik().Window()
    .Name("AddCompany")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-addcompany">
        <div class="companyAdd-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="Addcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddcompany()" />
        </div>
    </div></text>)
        .Width(800)
        .Height(620)
        .Modal(true).Visible(false).Draggable(true)
    )
<script type="text/javascript">

    $(document).ready(function () {
        initial();

        $('#search').unbind('click').bind('click', function () {
            var f = GetFilters();
            $.post('_RefreshCrmList', f, function (result) {
                $('#mainnavigationcontainer').html(result);
                initial();
            });
        });
    });
    function GetFilters() {
        var id = $('#CurrentProjectId').val();     
        var companyprogress = $('#companyprogress').val();
        var companyassigndate = $('#companyassigndate').val();
        var leadprogress = $('#leadprogress').val();
        var dealprogress = $('#dealprogress').val();
        var callprogress = $('#callprogress').val();
        var customerName = $('#f-customerName').val();
        var companyName = $('#f-companyName').val();
        var phoneNum = $('#f-phoneNum').val(); 
        //var companyassigndate = $('#companyassigndate').val();
        return { CompanyProgress: companyprogress, CompanyAssignDate: companyassigndate, LeadProgress: leadprogress, DealProgress: dealprogress, CallProgress: callprogress, ProjectId: id, customerName: customerName, companyName: companyName, phoneNum: phoneNum };
    }
    function initial() {

        //分组字体标注
        $('#customView').find('>ul >li >div >span').css("fontSize", "23px").css("font-weigh", "bold").css('line-height', '28px');

        $('#customView').find('>ul >li >ul >li >div >span').css("fontSize", "15px").css("font-weigh", "bold");
        $('#navigationView').find('>ul >li >div >span').css("fontSize", "15px").css("font-weigh", "bold");

        //lead状态颜色标注
        $('#mainnavigationcontainer span').each(function () {
            var $this = $(this);
            var spantext = $this.text();
            if (spantext.indexOf(',&6*') > 0)//Call-Backed
            {
                $this.css('color', '#0000C6');
                spantext = spantext.replace(",&6*", "");
            }
            else if (spantext.indexOf(',&2*') > 0)//blowed
            {
                $this.css('color', '#6C6C6C');
                spantext = spantext.replace(",&2*", "");
            }
            else if (spantext.indexOf(',&0*') > 0)//no call
            {
                $this.css('color', 'red');
                spantext = spantext.replace(",&0*", "");
            }
            else if (spantext.indexOf(',&9*') > 0)//close
            {
                $this.css('color', '#006030');
                spantext = spantext.replace(",&9*", "");
            }
            else if (spantext.indexOf(',&7*') > 0)//Waiting for Approval
            {
                $this.css('color', '#005757');
                spantext = spantext.replace(",&7*", "");
            }
            else if (spantext.indexOf(',&8*') > 0)//Qualified Decision
            {
                $this.css('color', '#FF00CC');
                spantext = spantext.replace(",&8*", "");
            }
            $this.text(spantext);
        });

        //生成关联菜单子菜单
        var ul = $(".regroup ul");
        ul.children().remove();
        var customli = $('#customView >ul >li');
        customli.each(function () {
            var t = $(this).find('>div >span').text();
            var v = $(this).find('>div >input').val();
            ul.append('<li class="grouptarget">' + t + '<input type="hidden" value=' + v + '></li>');
        });

        //添加分组
        $('#group-open-button')
                .click(function (e) {
                    e.preventDefault();
                    gw().center().open();
                });


        $('#navigationView').find('>ul >li').jeegoocontext('contextmenu', {
            widthOverflowOffset: 0,
            heightOverflowOffset: 3,
            submenuLeftOffset: -4,
            submenuTopOffset: -5,
            onSelect: contextMenuSelected,
            onShow: generateContextMenu
        });

//        $('#customView').find('>ul >li').jeegoocontext('groupcontextmenu', {
//            widthOverflowOffset: 0,
//            heightOverflowOffset: 3,
//            submenuLeftOffset: -4,
//            submenuTopOffset: -5,
//            onSelect: groupContextMenuSelected
//        });

        $('#customView').find('>ul >li >ul >li').jeegoocontext('favorscontextmenu', {
            widthOverflowOffset: 0,
            heightOverflowOffset: 3,
            submenuLeftOffset: -4,
            submenuTopOffset: -5,
            onSelect: contextMenuSelected,
            onShow: generateContextMenu
        });
    }

    //生成动态子菜单
    function generateContextMenu(e, context) {
        //更新context菜单公司名
        var crmtext = $(context).find('>div >span.t-in').text();
        crmtext = crmtext.split(',')[0];
        $(' .regrouptext').text("移动" + crmtext + "到");

    }

    //分组管理
    function groupContextMenuSelected(e, context) {
        var groupid = $(context).find('input').val();
        var targetid = $(e.currentTarget).attr('id');
        if (targetid == 'groupmanagement') {
            e.preventDefault();
            gw().center().open();
        }


    }

    //公司关联菜单选中/自定义组公司关联选中
    function contextMenuSelected(e, context) {
        var $target = $(e.target);

        //copy到新分组
        if ($target.hasClass('grouptarget')) {
            var crmid = $(context).find('>div >input').val();
            var groupid = $(e.currentTarget).find('input').val();
            var f = GetFilters();
            $.post('_CopyCrmToGroup', { crmid: crmid, groupid: groupid, filters: f }, function (result) {
                $('#mainnavigationcontainer').html(result);
                initial();
            });
        }

        //释放回公司池
        if ($target.hasClass('blowed')) {
            var crmid = $(context).find('>div >input').val();
            var f = GetFilters();
            $.post('_CrmBlowed', { crmid: crmid, filters: f }, function (result) {
                $('#mainnavigationcontainer').html(result);
                initial();
            });
        }


        //释放回公司池
        if ($target.hasClass('remove')) {
            var crmid = $(context).find('>div >input').val();
            var groupid = $(e.currentTarget).find('input').val();
            $.post('_CrmRemove', { crmid: crmid, filters: GetFilters() }, function (result) {
                $('#mainnavigationcontainer').html(result);
                initial();
            });
        }
    }

    //获取主树
    function nv() {
        return $('#navigationView').data('tTreeView');
    }

    //获取分组窗口
    function gw() {
        return $('#groupListWindow').data('tWindow');
    }
    //提交分组更改
    function onGroupListWindowSubmit(e) {
        $.post('_RefreshCrmList', null, function (result) {
            $('#mainnavigationcontainer').html(result);
            initial();
        });
    }
    //公司选择 
    function onIndexSelect(e) {

        var indexs = nv().getItemValue(e.item);
        if (indexs.indexOf("分组") < 0) {
            $.post('_SelectedList', { indexs: indexs, filters: GetFilters() }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
    }

    //展开所有leads
    function expandRow(grid, row) {
        grid.expandRow(row);
    }

    function onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandRow(grid, e.row);
    }

    function GetAddCompany() {
        if ($('#CurrentProjectId').val() == '') {
            alert('请先选择项目');
            return false;
        }       
       
        $.post('GetAddCompany', { projectId: $('#CurrentProjectId').val() }, function (result) {
            $('.companyAdd-wrapper').html(result);
            var window = $('#AddCompany').data('tWindow');
            window.center().open();
        });
    }
    function Addcompany() {
        if ($('.dialogue-addcompany form').valid()) {
            var hasError = false;
            $('.dialogue-addcompany form input').removeClass('fieldError');
            $('.dialogue-addcompany form select').removeClass('fieldError');
            String.prototype.isEmpty = function () { return /^\s*$/.test(this); }
            if ($('.dialogue-addcompany form #DistrictNumberId option:selected').val().isEmpty()) {
                if ($('.dialogue-addcompany form #ZipCode').val().isEmpty()) {
                    $('.dialogue-addcompany form #ZipCode').addClass('fieldError');
                    hasError = true;
                }
                if ($('.dialogue-addcompany form #Address').val().isEmpty()) {
                    $('.dialogue-addcompany form #Address').addClass('fieldError');
                    hasError = true;
                }
            }
            if (hasError) {
                return;
            }
            var companyName = $('.dialogue-addcompany #Name_CN').val();
            $.post('CheckCompanyExist', { beforeUpdate: null, afterUpdate: companyName }, function (result) {
                if (result.length > 0) {
                    alert(result);
                } else {
                    var query = $('.dialogue-addcompany form').serialize();
                    $.post('AddCompany?' + query, null, function (result) {
                        if (result.companyRelationshipId != null) {
                            $('#AddCompany').data('tWindow').close();
                            if (confirm('公司新增成功,是否要往新增公司里面增加Lead')) {
                                $('#CRMID').val(result.companyRelationshipId);
                                $('#ProjectID').val(result.projectId);
                                onLeadAdd(result.companyId);
                            } else {
                                window.location = window.location;
                            }
                        } else {
                            alert('公司新增失败');
                        }
                    });
                }
            });
        }
    }

    function CancelAddcompany() {
        var window = $('#AddCompany').data('tWindow');
        window.close();
    }

</script>
<style>
    .fieldblock
    {
    }
    .fieldname div
    {
        padding: 2px;
        min-width: 100px;
        background-color: #FFDEAD;
        border-bottom-color: #FF8C00;
        border: 1px solid #CCC;
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .fieldname div font
    {
        font-size: 12px;
        color: Green;
    }
    
    .selections span
    {
    }
</style>
