@using Model
@using Utl
@using Entity
@model AjaxCRM
<div>
  <div class="fenge">
        <div class="fenge_2">
            <span id="currentCompanyName" style="font-weight:bold">@Model.CompanyDisplayName</span>
            <input class="salebtn" style=" background-image:url('../images/tianjia_3.jpg');" type="button" onclick="onLeadAdd(@(Model.CompanyID))" />
            <input type="button" class="salebtn"  style="background-image:url('../images/gengxin.jpg');"  onclick="onCompanyEdit(@(Model.CompanyID))" />
            <input type="button"class="salebtn"  style="background-image:url('../images/gaikuo.jpg'); " onclick="onCompanyDetail(@(Model.CompanyID))" />
        </div>
        <div class="fenge_3">
            @Html.HiddenFor(model => model.ProjectID)
            @Html.HiddenFor(model => model.CRMID)
            <span style="display: none" id="currentCompanyNameCN">@Model.CompanyNameCH</span>
            <span style="display: none" id="currentCompanyNameEN">@Model.CompanyNameEN</span>
            <dl class="fieldname">
                @if (!string.IsNullOrWhiteSpace(Model.CompanyDistrictNumberString))
                {
                    <dd>
                        <font>区号：</font><span id="currentCompanyDistrictNumberString" class="datainfo">@Model.CompanyDistrictNumberString</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyContact))
                {
                    <dd>
                        <font>公司总机：</font><span id="currentCompanyContact" class="datainfo">@Model.CompanyContact</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyFax))
                {
                    <dd>
                        <font>传真：</font><span id="currentCompanyFax" class="datainfo">@Model.CompanyFax</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyCategoryStrings))
                {
                    <dd>
                        <font>细分行业：</font><span id="currentCompanyCategoryStrings" class="datainfo">@Model.CompanyCategoryStrings</span>
                    </dd>
                }
             
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dd>
                        <font>地址：</font><span id="currentAddressString" class="datainfo">@Model.Address</span>
                    </dd>
                }
                 @if (!string.IsNullOrWhiteSpace(Model.ZipCode))
                 {
                    <dd>
                        <font>邮编：</font><span id="currentZipCodeString" class="datainfo">@Model.ZipCode</span>
                    </dd>
                 }
            </dl>
        </div>
    </div>   
   @if (Model.AjaxLeads != null)
   {
       foreach (var lead in Model.AjaxLeads)
       {
    <div class="fenge" id="@(lead.LeadID)">
        <div class="fenge_2">
            <span class="LeadShowName"  style="font-weight:bold">@lead.LeadShowName</span>
            <input style="background-image:url('../images/tianjia_2.jpg');" class="salebtn" type="button" onclick="onCallAdd(@(lead.LeadID))" value="" /><input class="salebtn" style=" background-image:url('../images/gengxin.jpg');" type="button" onclick="onLeadEdit(@(lead.LeadID))" /></div>
        <div class="fenge_3">
            <ul class="fieldname">
                @if (!string.IsNullOrWhiteSpace(lead.Department))
                {
                    <li><font>所属部门：</font><span class="Department datainfo">@lead.Department</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadDistinctNumberString))
                {
                    <li><font>客户区号：</font><span class="LeadDistinctNumberString datainfo">@lead.LeadDistinctNumberString</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadContact))
                {
                    <li><font>直线：</font><span class="LeadContact datainfo">@lead.LeadContact</span>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadMobile))
                {
                    <li><font>手机：</font><span class="LeadMobile datainfo">@lead.LeadMobile</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.Gender))
                {
                    <li><font>公司邮箱：</font><span class="LeadEmail datainfo">@lead.LeadEmail</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadFax))
                {
                    <li><font>传真：</font><span class="LeadFax datainfo">@lead.LeadFax</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadPersonalEmail))
                {
                    <li><font>个人邮箱：</font><span class="LeadPersonalEmail datainfo">@lead.LeadPersonalEmail</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.WeiBo))
                {
                    <li><font>微博账号：</font><span class="WeiBo datainfo">@lead.WeiBo</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.WeiXin))
                {
                    <li><font>微信账号：</font><span class="WeiXin datainfo">@lead.WeiXin</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LinkIn))
                {
                    <li><font>LinkedIn账号：</font><span class="LinkIn datainfo">@lead.LinkIn</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.FaceBook))
                {
                    <li><font>FaceBook账号：</font><span class="FaceBook datainfo">@lead.FaceBook</span>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.Blog))
                {
                    <li><font>博客地址：</font><span class="Blog datainfo">@lead.Blog</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadAddress))
                {
                    <li><font>地址：</font><span class="address datainfo">@lead.LeadAddress</span> </li>
                }
            </ul>
            @if (lead.AjaxCalls != null && lead.AjaxCalls.Count() > 0)
            {
                var orders = lead.AjaxCalls.OrderByDescending(o => o.CallDate);
                     <table style="width:98%; margin:10px;">
                     <tr><th width="80px">致电类型</th><th width="100px">回打时间</th><th width="80px">致电人</th><th width="80px">致电时间</th><th>结果</th>@if (Employee.LoginUserIsAdmin())
                                                                                                                                            {
                                                                                                                                                <th>操作</th>
                                                                                                                                            }</tr>
                     @foreach (var call in orders)
                     {
                         <tr><td>@call.CallType</td><td>@call.CallBackDate</td><td>@call.Caller</td><td>@call.CallDate</td><td>@call.Result</td>@if (Employee.LoginUserIsAdmin())
                                                                                                                                                {
                                                                                                                                                <td><input onclick='EditLeadCall(@call.LeadCallID)' type='button' class="salebtn" style=" background-image:url('../images/gengxin.jpg');" /></td>
                                                                                                                                                }</tr>
                     }
                    </table>
                   @* @(Html.Telerik().Grid<AjaxCall>(lead.AjaxCalls.OrderByDescending(o => o.CallDate)).Name("lead" + lead.LeadID)
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.CallType).Template(@<text><span id="@(item.LeadCallID)_CallType">@item.CallType</span></text>).Width(80);
                        columns.Bound(o => o.CallBackDate).Template(@<text><span id="@(item.LeadCallID)_CallBackDate">@item.CallBackDate</span></text>).Width(100);
                        columns.Bound(o => o.CallDate).Template(@<text><span id="@(item.LeadCallID)_CallDate">@item.CallDate</span></text>).Width(100);
                        columns.Bound(o => o.Caller).Template(@<text><span id="@(item.LeadCallID)_Caller">@item.Caller</span></text>).Width(80);
                        columns.Bound(o => o.Result).Template(@<text><span id="@(item.LeadCallID)_Result">@item.Result</span></text>);
                        if (Employee.LoginUserIsAdmin())
                        {
                            columns.Bound(o => o.LeadCallID).Width(120).Template(@<text><input onclick='EditLeadCall(@item.LeadCallID)' type='button' class="salebtn" style=" background-image:url('../images/gengxin.jpg');" /></text>);
                        }
                    }).Pageable(paging => paging.Enabled(false)).Resizable(resizing => resizing.Columns(true)).Sortable().Scrollable(scrolling => scrolling.Enabled(false))
                      )*@
                  
               
            }
        </div>
    </div>     
       }
   }
      
      </div>
@*@if (Model != null)
{
    Html.Telerik().Splitter().Name("sp2").HtmlAttributes(new { style = "height: 790px;" })
               .Orientation(SplitterOrientation.Vertical).Panes(panes =>
               {
                   panes.Add().Size("20%").Content(@<text>@CompanyInfo()</text>);
                   panes.Add().Content(@<text>@LeadsInfo()</text>);
               }).Render();
}*@
@helper CompanyInfo()
    {
   
}
@helper LeadsInfo()
    {     
        
     

}
@(Html.Telerik().Window().Title("公司概况")
    .Name("DetailCompany")
    .Content(@<text><div class="dialogue-detailcompany">
        <div class="companyDetail-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="Javescript:$('#DetailCompany').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(800)
        .Height(300).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新公司")
    .Name("EditCompany")
    .Content(@<text><div class="dialogue-editcompany">
        <div class="companyEdit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="Editcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditcompany()" />
        </div>
    </div></text>)
        .Width(1000)
            .Height(540).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("新增lead")
    .Name("AddLead")
    .Content(@<text><div class="dialogue-addlead">
        <div class="leadadd-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="AddLead()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddLead()" />
        </div>
    </div></text>)
        .Width(1000)
        .Height(340).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新Lead")
    .Name("EditLead")
    .Content(@<text><div class="dialogue-editlead">
        <div class="leadedit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="UpdateLead()" />
            <input type="button" class="btn-quxiao" onclick="javascript:$('#EditLead').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(1000)
        .Height(340).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新LeadCall")
    .Name("EditCall")
    .Content(@<text><div class="dialogue-editcall">
        <div class="calledit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="UpdateCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditCall()" />
        </div>
    </div></text>)
    .Width(750)
        .Height(200).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("新增LeadCall")
    .Name("AddCall")
    .Content(@<text><div class="dialogue-addcall">
        <div class="calladd-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="AddCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddCall()" />
        </div>
    </div></text>)
    .Width(750)
    .Height(250).Draggable(true)
    .Modal(true).Visible(false)
)




<style>
    .fieldblock
    {
    }
    .salebtn
    {
        width: 20px;
        height: 20px;
        border: none;
        display: inline-block;
        float: right;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .fieldError
    {
        border: 1px solid red !important;
    }
    
    .fieldname
    {
    }
    .fieldname dd
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .fieldname li
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .datainfo
    {
        font-size: 15px;
        color: Black;
        max-width: 76px;
        height: 21px;
        line-height: 21px;
        font-weight: bold;
    }
    .fenge
    {
        width: 98%;
        margin: 5px;
        float: left;
    }
    .fenge_2
    {
        background: #FFA042;
        line-height: 20px;
        border: 1px solid #000;
        border-bottom: none;
        text-align: center;
        color: #fff;
        padding: 2px;
        float: left;
        width: 99.2%;
    }
    .fenge_3
    {
        border: 1px solid #000;
        line-height: 20px;
        float: left;
        padding: 2px;
        width: 99.2%;
    }
</style>
