@using Sales.Model
@using Utl
@using Entity
@model AjaxCRM
<div>
  <div class="fenge">
        <div class="fenge_2">
            <span id="currentCompanyName" style="font-weight:bold">@Model.CompanyDisplayName </span>
            
            @if (@Model.RMBCompanyPayment != 0)
            {
                <span id="currentCompanyName" style="font-weight:bold">，RMB出单金额:</span>
                <span id="currentCompanyName" style="font-weight:bold">￥@String.Format("{0:N0}", @Model.RMBCompanyPayment)</span>
            }
            
            @if (@Model.USDCompanyPayment != 0)
            {
                <span id="currentCompanyName" style="font-weight:bold">，USD出单金额:</span>
                <span id="currentCompanyName" style="font-weight:bold">$@String.Format("{0:N0}", @Model.USDCompanyPayment)</span>
            }
            @if (@Model.USDCompanyPayment == 0 && @Model.RMBCompanyPayment == 0)
            {
                <span id="currentCompanyName" style="font-weight:bold"></span>
            }
            <input class="salebtn" style=" background-image:url('../images/chudan.jpg');" type="button" onclick="onQuickAddDeal(@(Model.ProjectID),@(Model.CRMID));" />
            <input class="salebtn" style=" background-image:url('../images/tianjia_3.jpg');" type="button" onclick="onLeadAdd(@(Model.CompanyID))" />
            <input type="button" class="salebtn"  style="background-image:url('../images/gengxin.jpg');"  onclick="onCompanyEdit(@(Model.CompanyID))" />
            <input type="button"class="salebtn"  style="background-image:url('../images/gaikuo.jpg'); " onclick="onCompanyDetail(@(Model.CompanyID))" />
        </div>
        <div class="fenge_3">
            @Html.HiddenFor(model => model.ProjectID)
            @Html.HiddenFor(model => model.CRMID)
            @Html.Hidden("isadmin", Employee.LoginUserIsAdmin())
            <span style="display: none" id="currentCompanyNameCN">@Model.CompanyNameCH</span>
            <span style="display: none" id="currentCompanyNameEN">@Model.CompanyNameEN</span>
            <dl class="fieldname">
                @if (!string.IsNullOrWhiteSpace(Model.CompanyDistrictNumberString))
                {
                    <dd>
                        <font>区号：</font><span id="currentCompanyDistrictNumberString" class="datainfo">@Model.CompanyDistrictNumberString</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyContact))
                {
                    <dd>
                        <font>公司总机：</font><span id="currentCompanyContact" class="datainfo">@Model.CompanyContact</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyFax))
                {
                    <dd>
                        <font>传真：</font><span id="currentCompanyFax" class="datainfo">@Model.CompanyFax</span></dd>
                }
                @if (!string.IsNullOrWhiteSpace(Model.CompanyCategoryStrings))
                {
                    <dd>
                        <font>细分行业：</font><span id="currentCompanyCategoryStrings" class="datainfo">@Model.CompanyCategoryStrings</span>
                    </dd>
                    
                }
                  
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <dd>
                        <font>地址：</font><span id="currentAddressString" class="datainfo">@Model.Address</span>
                    </dd>
                }
                 @if (!string.IsNullOrWhiteSpace(Model.ZipCode))
                 {
                    <dd>
                        <font>邮编：</font><span id="currentZipCodeString" class="datainfo">@Model.ZipCode</span>
                    </dd>
                 }
                 
            </dl>
            
            @*@if (!string.IsNullOrWhiteSpace(Model.Desc) || !string.IsNullOrWhiteSpace(Model.Customers) || !string.IsNullOrWhiteSpace(Model.Competitor) || !string.IsNullOrWhiteSpace(Model.PitchedPoint))
             {
                {Html.Telerik().PanelBar()
                .Name("PanelBarIndex")
                .HtmlAttributes(new { style = "width: 100%" })
                .Items(parent =>
                {
                    parent.Add()
                        .Text("更多...")
                        .Content(@<text>
                    
                        @if (!string.IsNullOrWhiteSpace(Model.Desc))
                        {
                            <dd>
                            <font>公司介绍：</font><span id="currentDesc" class="datainfo">@Model.Desc</span>
                            </dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Customers))
                        {
                            <dd>
                            <font>公司主要客户：</font><span id="currentCustomers" class="datainfo">@Model.Customers</span>
                            </dd>
                        } 
                        @if (!string.IsNullOrWhiteSpace(Model.Competitor))
                        {
                            <dd>
                            <font>主要竞争对手：</font><span id="currentCompetitor" class="datainfo">@Model.Competitor</span>
                            </dd>
                        }     
                        @if (!string.IsNullOrWhiteSpace(Model.PitchedPoint))
                        {
                            <dd>
                            <font>电话pitch点：</font><span id="currentPitchedPoint" class="datainfo">@Model.PitchedPoint</span>
                            </dd>
                        }
                        </text>)
                        .Expanded(false);
                })
                .Render();
                }
            }*@
            @if (Model.AjaxDeals != null && Model.AjaxDeals.Count() > 0)
            {
                    <br />
                    <div style="width:98%;float:left ; margin-left:15px;"><h4>历史出单列表</h4></div>
                    <table style="width:98%; margin:10px;">
                    <tr>
                    <th width="120px">Sales</th>
                    <th width="120px">Package名称</th>
                    <th width="80px">RMB出单金额</th>
                    <th width="120px">USD出单金额</th>
                    <th width="120px">实际入账</th>
                    </tr>
                    
                      @{foreach (var deal in Model.AjaxDeals)
                        {
                            <tr >
                            <td>@deal.Sales</td>
                            <td>@deal.PackageName</td>
                            <td>￥@deal.RMBPayment.ToString("#,##0")</td>
                            <td>$@deal.USDPayment.ToString("#,##0")</td>
                            <td>￥@deal.Income.ToString("#,##0")</td>
                            </tr>
                        }
                        }
                        </table>
            }
        </div>
    </div>   
   @if (Model.AjaxLeads != null)
   {
       foreach (var lead in Model.AjaxLeads)
       {
    <div class="fenge" id="@(lead.LeadID)">
        <div class="fenge_2">
            <span class="LeadShowName"  style="font-weight:bold">@lead.LeadShowName</span>
            <input style="background-image:url('../images/tianjia_2.jpg');" class="salebtn" type="button" onclick="onCallAdd(@(lead.LeadID))" value="" /><input class="salebtn" style=" background-image:url('../images/gengxin.jpg');" type="button" onclick="onLeadEdit(@(lead.LeadID))" /></div>
        <div class="fenge_3">
            <ul class="fieldname">
                @if (!string.IsNullOrWhiteSpace(lead.Department))
                {
                    <li><font>所属部门：</font><span class="Department datainfo">@lead.Department</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadDistinctNumberString))
                {
                    <li><font>客户区号：</font><span class="LeadDistinctNumberString datainfo">@lead.LeadDistinctNumberString</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadContact))
                {
                    <li><font>直线：</font><span class="LeadContact datainfo">@lead.LeadContact</span>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadMobile))
                {
                    <li><font>手机：</font><span class="LeadMobile datainfo">@lead.LeadMobile</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadEmail))
                {
                    <li><font>公司邮箱：</font><span class="LeadEmail datainfo">@lead.LeadEmail</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadFax))
                {
                    <li><font>传真：</font><span class="LeadFax datainfo">@lead.LeadFax</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadPersonalEmail))
                {
                    <li><font>个人邮箱：</font><span class="LeadPersonalEmail datainfo">@lead.LeadPersonalEmail</span></li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.WeiBo))
                {
                    <li><font>微博账号：</font><span class="WeiBo datainfo">@lead.WeiBo</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.WeiXin))
                {
                    <li><font>微信账号：</font><span class="WeiXin datainfo">@lead.WeiXin</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LinkIn))
                {
                    <li><font>LinkedIn账号：</font><span class="LinkIn datainfo">@lead.LinkIn</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.FaceBook))
                {
                    <li><font>FaceBook账号：</font><span class="FaceBook datainfo">@lead.FaceBook</span>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.Blog))
                {
                    <li><font>博客地址：</font><span class="Blog datainfo">@lead.Blog</span> </li>
                }
                @if (!string.IsNullOrWhiteSpace(lead.LeadAddress))
                {
                    <li><font>地址：</font><span class="address datainfo">@lead.LeadAddress</span> </li>
                }
            </ul>
            <div class="fenge" id="calllist@(lead.LeadID)"></div>
            <div class="fenge" id="calllisthisotry@(lead.LeadID)"></div>
                       
          @*   <script>
                function ConvertJSONDateToJSDateObject(JSONDateString) {
                    if(JSONDateString==null)
                    return "";
                    var date = new Date(parseInt(JSONDateString.replace("/Date(", "").replace(")/", ""), 10));
                    return date.toLocaleDateString();
                }
                  var isadmin=$('#isadmin').val();
                 var projectid = $("#ProjectID").val();
                 $.ajax({
                     url: "/SalesEx/GetAjaxLeadCalls",
                     type: "post",
                     dataType: "json",
                     data: { leadId: @(lead.LeadID),projectid:projectid },
                     error: function (a, b, c) {
                         alert("获取数据失败，请重试。");
                     },
                     success: function (result) {
                        var data=eval(result);
                        if(data.length>0)
                        {
                            var calllistdiv = $('#calllist@(lead.LeadID)');
                            
                            var htmlstring="项目出单<br/><table style=\"width:98%; margin:10px;\">"+
                                            "<tr>"+
                                                "<th width=\"80px\">致电类型</th>"+
                                                "<th width=\"100px\">回打时间</th>"+
                                                "<th width=\"80px\">致电人</th>"+
                                                "<th width=\"100px\">致电时间</th>"+
                                                "<th>结果</th>";
                            if(isadmin=="True")
                            {
                                htmlstring+= "<th>操作</th>"
                            }
                            htmlstring+="</tr> ";
                            for(var i=0;i<data.length;i++)
                            {
                                htmlstring=htmlstring+"<tr >"+
                                "<td>"+data[i].CallType+"</td>"+
                                "<td>"+ConvertJSONDateToJSDateObject(data[i].CallBackDate)+"</td>"+
                                "<td>"+data[i].Caller+"</td>"+
                                "<td>"+ConvertJSONDateToJSDateObject(data[i].CallDate) +"</td>"+
                                "<td>"+data[i].Result+"</td>";
                                if(isadmin=="True")
                                {
                                    htmlstring+="<td><input onclick='EditLeadCall("+data[i].LeadCallID+")' type='button' class=\"salebtn\" style=\" background-image:url('../images/gengxin.jpg');\" /></td>";
                                }
                                "</tr>";
                            }
                            htmlstring=htmlstring+"</table>";
                            calllistdiv.html(htmlstring);
                        }
                        //alert(data.length);  
                         //alert(result.rows[0].Order.OrderID); 
                     }
                 });
                 $.ajax({
                     url: "/SalesEx/GetAjaxHistoryLeadCalls",
                     type: "post",
                     dataType: "json",
                     data: { leadId: @(lead.LeadID),projectid:projectid },
                     error: function (a, b, c) {
                         alert("获取数据失败，请重试。");
                     },
                     success: function (result) {
                        var data=eval(result);
                        if(data.length>0)
                        {
                            var calllisthistorydiv = $('#calllisthisotry@(lead.LeadID)');
                            var htmlstring="其他项目出单<br/><table style=\"width:98%; margin:10px;\">"+
                                            "<tr>"+
                                                "<th width=\"80px\">致电类型</th>"+
                                                "<th width=\"100px\">回打时间</th>"+
                                                "<th width=\"80px\">致电人</th>"+
                                                "<th width=\"100px\">致电时间</th>"+
                                                "<th>结果</th>";
                            if(isadmin=="True")
                            {
                                htmlstring+= "<th>操作</th>"
                            }
                            htmlstring+="</tr> ";
                            for(var i=0;i<data.length;i++)
                            {
                                htmlstring=htmlstring+"<tr >"+
                                "<td>"+data[i].CallType+"</td>"+
                                "<td>"+ConvertJSONDateToJSDateObject(data[i].CallBackDate)+"</td>"+
                                "<td>"+data[i].Caller+"</td>"+
                                "<td>"+ConvertJSONDateToJSDateObject(data[i].CallDate) +"</td>"+
                                "<td>"+data[i].Result+"</td>";
                                 if(isadmin=="True")
                                {
                                    htmlstring+="<td><input onclick='EditLeadCall("+data[i].LeadCallID+")' type='button' class=\"salebtn\" style=\" background-image:url('../images/gengxin.jpg');\" /></td>";
                                }
                                "</tr>";
                                //alert(data[i].Caller);  
                            }
                            htmlstring=htmlstring+"</table>";
                            calllisthistorydiv.html(htmlstring);
                        }
                        //alert(data.length);  
                         //alert(result.rows[0].Order.OrderID); 
                     }
                 });
             </script>*@
            @if (lead.AjaxCalls != null && lead.AjaxCalls.Count() > 0)
            {
                <div style="float:left ; margin-left:15px;"><h4>致电列表</h4></div>
                
                var orders = lead.AjaxCalls.OrderByDescending(o => o.CallDate);
                <table style="width:98%; margin:10px;">
                <tr><th width="80px">致电类型</th><th width="120px">回打时间</th><th width="80px">致电人</th><th width="120px">致电时间</th><th>结果</th></tr>
                @{bool colorSignal = true;
                  foreach (var call in orders)
                  {
                      string classname = string.Empty;
                      if (colorSignal)
                      {
                          classname = "calllistone";
                      }
                      else
                      {
                          classname = "calllisttwo";
                      }
                    <tr class=@classname>
                    <td>@call.CallType</td>
                    <td>@call.CallBackDate</td>
                    <td>@call.Caller</td>
                    <td>@call.CallDate</td>
                    <td>@call.Result</td>
                    </tr>
                   colorSignal = !colorSignal;
                  }
                }
            </table>
            }
           @if (lead.AjaxHistoryCalls != null && lead.AjaxHistoryCalls.Count() > 0)
           {
               <div style="clear:both;"></div>
               <div style="float:left ; margin-left:15px;"><h4>历史致电列表</h4></div>
               var grps = from p in lead.AjaxHistoryCalls.OrderByDescending(o => o.EndDate)
                          group p by new { p.ProjectName, p.ProjectID } into g
                          select new
                          {
                              ProjectName = g.Key.ProjectName,
                              ProjectID = g.Key.ProjectID
                          };
               var orders = lead.AjaxHistoryCalls.OrderByDescending(o => o.CallDate);
                <table style="width:98%; margin:10px;">
                @{
               foreach (var grp in grps)
               {
                        <tr >
                        <th>项目名称</th>
                        <th colspan=4>@grp.ProjectName</th>
                        </tr>
                    
                    <tr><th width="80px">致电类型</th><th width="120px">回打时间</th><th width="80px">致电人</th><th width="120px">致电时间</th><th>结果</th></tr>
                                 bool colorSignal = true;
                                 foreach (var call in orders)
                                 {
                                     if (grp.ProjectID == call.ProjectID)
                                     {
                                         string classname = string.Empty;
                                         if (colorSignal)
                                         {
                                             classname = "calllistone";
                                         }
                                         else
                                         {
                                             classname = "calllisttwo";
                                         }
                                        <tr class=@classname>
                                            <td>@call.CallType</td>
                                            <td>@call.CallBackDate</td>
                                            <td>@call.Caller</td>
                                            <td>@call.CallDate</td>
                                            <td>@call.Result</td>
                     
                                        </tr>    colorSignal = !colorSignal;
                                     }

                                 }
               }
                    
                    }
                
            </table>
           }
        </div>
    </div>     
       }
   }
</div>

@helper CompanyInfo()
    {}
@helper LeadsInfo()
    {}
@(Html.Telerik().Window().Title("公司概况")
    .Name("DetailCompany")
    .Content(@<text><div class="dialogue-detailcompany">
        <div class="companyDetail-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="Javescript:$('#DetailCompany').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(800).Height(300).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新公司")
    .Name("EditCompany")
    .Content(@<text><div class="dialogue-editcompany">
        <div class="companyEdit-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="Editcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditcompany()" />
        </div>
    </div></text>)
    .Width(1000).Height(540).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("新增客户")
    .Name("AddLead")
    .Content(@<text><div class="dialogue-addlead">
        <div class="leadadd-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="AddLead()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddLead()" />
        </div>
    </div></text>)
    .Width(1000).Height(340).Draggable(true).Modal(true).Visible(false)
)

@(Html.Telerik().Window().Title("出单")
    .Name("QuickAddDeal")
    .Content(@<text><div class="dialogue-quickdeal">
        <div class="quickdeal-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="QuickDeal()" />
            <input type="button" class="btn-quxiao" onclick="CancelQuickDeal()" />
        </div>
    </div></text>)
    .Width(1000).Height(600).Draggable(true).Modal(true).Visible(false)
)

@(Html.Telerik().Window().Title("更新客户")
    .Name("EditLead")
    .Content(@<text><div class="dialogue-editlead">
        <div class="leadedit-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="UpdateLead()" />
            <input type="button" class="btn-quxiao" onclick="javascript:$('#EditLead').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(1000).Height(340).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新通话结果")
    .Name("EditCall")
    .Content(@<text><div class="dialogue-editcall">
        <div class="calledit-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="UpdateCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditCall()" />
        </div>
    </div></text>)
    .Width(750).Height(500).Draggable(true).Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("添加通话结果")
    .Name("AddCall")
    .Content(@<text><div class="dialogue-addcall">
        <div class="calladd-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="AddCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddCall()" />
        </div>
    </div></text>)
    .Width(850).Height(250).Draggable(true).Modal(true).Visible(false)
)

@(Html.Telerik().Window().Title("发送邮件")
    .Name("SendEmail")
    .Content(@<text><div class="dialogue-sendemail">
        <div class="sendemail-wrapper">
        </div>
        <div class="dialogue-buttons" style="float:right;">
            <input type="button" class="btn-queding" onclick="SendEmail()" />
            <input type="button" class="btn-quxiao" onclick="CancelSendEmail()" />
        </div>
    </div></text>)
    .Width(750).Height(550).Draggable(true).Modal(true).Visible(false)
)

<style>
    .fieldblock
    {
    }
    .salebtn
    {
        width: 20px;
        height: 20px;
        border: none;
        display: inline-block;
        float: right;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }
    .fieldname
    {
    }
    .fieldname dd
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .fieldname li
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .datainfo
    {
        font-size: 15px;
        color: Black;
        max-width: 76px;
        height: 21px;
        line-height: 21px;
        font-weight: bold;
    }
    .fenge
    {
        width: 98%;
        margin: 5px;
        float: left;
    }
    .fenge_2
    {
        background: #FFA042;
        line-height: 20px;
        border: 1px solid #000;
        border-bottom: none;
        text-align: center;
        color: #fff;
        padding: 2px;
        float: left;
        width: 99.2%;
    }
    .fenge_3
    {
        border: 1px solid #000;
        line-height: 20px;
        float: left;
        padding: 2px;
        width: 99.2%;
    }
    .calllisttwo
    {
        background-color:rgb(247, 247, 247);
    }
</style>
