@using Model
@using Utl
@using Entity
@model AjaxCRM
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@if (Model != null)
{
    Html.Telerik().Splitter().Name("sp2").HtmlAttributes(new { style = "height: 790px;" })
               .Orientation(SplitterOrientation.Vertical).Panes(panes =>
               {
                   panes.Add().Size("20%").Content(@<text>@CompanyInfo()</text>);
                   panes.Add().Content(@<text>@LeadsInfo()</text>);
               }).Render();
}
@helper CompanyInfo()
    {
    <div class="fenge">
        <div class="fenge_2">
            <span id="currentCompanyName">@Model.CompanyName</span>
            <input class="salebtn" style=" background-image:url('../images/tianjia_3.jpg');" type="button" onclick="onLeadAdd(@(Model.CompanyID))" />
            <input type="button" class="salebtn"  style="background-image:url('../images/gengxin.jpg');"  onclick="onCompanyEdit(@(Model.CompanyID))" />
            <input type="button"class="salebtn"  style="background-image:url('../images/gaikuo.jpg'); " value="" onclick="onCompanyDetail(@(Model.CompanyID))" />
        </div>
        <div class="fenge_3">
            @Html.HiddenFor(model => model.ProjectID)
            @Html.HiddenFor(model => model.CRMID)
<<<<<<< .mine
              
                <dl class="fieldname">
                @if (!string.IsNullOrEmpty(Model.CompanyDistrictNumberString))
                {
                    <dd>
                        <font>区号：</font><span id="currentCompanyDistrictNumberString" class="datainfo">@Model.CompanyDistrictNumberString</span></dd>
                }
                    
                 @if (!string.IsNullOrEmpty(Model.CompanyContact))
                 {
                      <dd>  <font>公司总机：</font><span id="currentCompanyContact" class="datainfo">@Model.CompanyContact</span></dd>
                 }
                @if (!string.IsNullOrEmpty(Model.CompanyFax))
                {
                    <dd>
                        <font>传真：</font><span id="currentCompanyFax" class="datainfo">@Model.CompanyFax</span></dd>
                }
                @if (!string.IsNullOrEmpty(Model.CompanyCategoryStrings))
                {
                    <dd>

                        <font>细分行业：</font><span id="currentCompanyCategoryStrings" class="datainfo">@Model.CompanyCategoryStrings</span>
                    </dd>
                }
                 @if (!string.IsNullOrEmpty(Model.ProgressString))
                 {
                    <dd>
                        <font>成熟度：</font><span id="currentProgressString" class="datainfo">@Model.ProgressString</span>
                    </dd>
                 }
                </dl>
                
           
@*=======
            <span style="display: none" id="currentCompanyNameCN">@Model.CompanyNameCH</span>
            <dl class="fieldname">
                <dd>
                    <font>区号：</font><span id="currentCompanyDistrictNumberString" class="datainfo">@Model.CompanyDistrictNumberString</span></dd>
                <dd>
                    <font>公司总机：</font><span id="currentCompanyContact" class="datainfo">@Model.CompanyContact</span></dd>
                <dd>
                    <font>传真：</font><span id="currentCompanyFax" class="datainfo">@Model.CompanyFax</span></dd>
                <dd>
                    <font>细分行业：</font><span id="currentCompanyCategoryStrings" class="datainfo">@Model.CompanyCategoryStrings</span>
                </dd>
                <dd>
                    <font>成熟度：</font><span id="currentProgressString" class="datainfo">@Model.ProgressString</span>
                </dd>
            </dl>
>>>>>>> .r535*@
        </div>
    </div>    
}
@helper LeadsInfo()
    {     
        
        foreach (var lead in Model.AjaxLeads)
        {
    <div class="fenge" id="@(lead.LeadID)">

        <div class="fenge_2">@lead.LeadShowName

            <input style="background-image:url('../images/tianjia_2.jpg');" class="salebtn" type="button" onclick="onCallAdd(@(lead.LeadID))" value="" /><input class="salebtn" style=" background-image:url('../images/gengxin.jpg');" type="button" onclick="onLeadEdit(@(lead.LeadID))" /></div>
        <div class="fenge_3">
            @*  <div style=" width:100%; height:25px; margin-bottom:-5px; margin-top:10px;">
            
            </div>*@

          
                <ul class="fieldname">
                 @if (!string.IsNullOrEmpty(lead.LeadDistinctNumberString))
                 {
                     <li><font>客户区号：</font><span class="LeadDistinctNumberString datainfo">@lead.LeadDistinctNumberString</span></li>
                  }
                  @if (!string.IsNullOrEmpty(lead.LeadContact))
                  {
                    <li><font>直线：</font><span class="LeadContact datainfo">@lead.LeadContact</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.LeadMobile))
                  {
                    <li><font>手机：</font><span class="LeadMobile datainfo">@lead.LeadMobile</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.Gender))
                  {
                    <li><font>公司邮箱：</font><span class="LeadEmail datainfo">@lead.Gender</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.LeadFax))
                  {
                        <li><font>传真：</font><span class="LeadFax datainfo">@lead.LeadFax</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.LeadPersonalEmail))
                  {
                       <li><font>个人邮箱：</font><span class="LeadPersonalEmail datainfo">@lead.LeadPersonalEmail</span></li>
                  }
                  @if (!string.IsNullOrEmpty(lead.WeiBo))
                  {
                       <li><font>微博账号：</font><span class="WeiBo datainfo">@lead.WeiBo</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.WeiXin))
                  {
                       <li><font>微信账号：</font><span class="WeiXin datainfo">@lead.WeiXin</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.LinkIn))
                  {
                       <li><font>LinkIn账号：</font><span class="LinkIn datainfo">@lead.LinkIn</span> </li>
                  }
                  @if (!string.IsNullOrEmpty(lead.FaceBook))
                  {
                      <li><font>FaceBook账号：</font><span class="FaceBook datainfo">@lead.FaceBook</span>
                    </li>
                  }
                
                  @if (!string.IsNullOrEmpty(lead.Blog))
                  {
                       <li><font>博客地址：</font><span class="Blog datainfo">@lead.Blog</span> </li>
                  }
                </ul>
          
@*=======
            <ul class="fieldname">
                <li><font>Lead职位：</font><span class="leadTitle datainfo">@lead.LeadTitle</span>
                </li>
                <li><font>Lead性别：</font><span class="leadGender datainfo">@lead.Gender</span> </li>
                <li><font>客户区号：</font><span class="LeadDistinctNumberString datainfo">@lead.LeadDistinctNumberString</span>
                </li>
            </ul>
            <ul class="fieldname">
                <li><font>直线：</font><span class="LeadContact datainfo">@lead.LeadContact</span>
                </li>
                <li><font>手机：</font><span class="LeadMobile datainfo">@lead.LeadMobile</span> </li>
                <li><font>公司邮箱：</font><span class="LeadEmail datainfo">@lead.Gender</span> </li>
                <li><font>传真：</font><span class="LeadFax datainfo">@lead.LeadFax</span> </li>
                <li><font>个人邮箱：</font><span class="LeadPersonalEmail datainfo">@lead.LeadPersonalEmail</span></li>
                <li><font>微博账号：</font><span class="WeiBo datainfo">@lead.WeiBo</span> </li>
                <li><font>微信账号：</font><span class="WeiXin datainfo">@lead.WeiXin</span> </li>
                <li><font>LinkIn账号：</font><span class="LinkIn datainfo">@lead.LinkIn</span> </li>
                <li><font>FaceBook账号：</font><span class="FaceBook datainfo">@lead.FaceBook</span>
                </li>
                <li><font>博客地址：</font><span class="Blog datainfo">@lead.Blog</span> </li>
            </ul>
>>>>>>> .r535*@
            @*  <span style="font-size: 13px;">描述</span> 
                 <dd class="fieldname">
                        <div>
                            <font></font>
                        </div>
                    </dd>*@ @* <dt style="font-size: 13px;">致电列表</dt>
                <dd>*@
            @if (lead.AjaxCalls.Count() > 0)
            {
                <fieldset style="width: 97%">
                    <legend>通话记录</legend>
                    @(Html.Telerik().Grid<AjaxCall>(lead.AjaxCalls.OrderByDescending(o => o.CallDate)).Name("lead" + lead.LeadID)
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.CallType).Template(@<text><span id="@(item.LeadCallID)_CallType">@item.CallType</span></text>).Width(80);
                        columns.Bound(o => o.CallBackDate).Template(@<text><span id="@(item.LeadCallID)_CallBackDate">@item.CallBackDate</span></text>).Width(100);
                        columns.Bound(o => o.CallDate).Template(@<text><span id="@(item.LeadCallID)_CallDate">@item.CallDate</span></text>).Width(100);
                        columns.Bound(o => o.Caller).Template(@<text><span id="@(item.LeadCallID)_Caller">@item.Caller</span></text>).Width(80);
                        columns.Bound(o => o.Result).Template(@<text><span id="@(item.LeadCallID)_Result">@item.Result</span></text>);
                        columns.Bound(o => o.LeadCallID).Width(120).Template(@<text><input onclick='EditLeadCall(@item.LeadCallID)' type='button' class="salebtn" style=" background-image:url('../images/gengxin.jpg');" /></text>);
                    }).Pageable(paging => paging.Enabled(false)).Resizable(resizing => resizing.Columns(true)).Sortable().Scrollable(scrolling => scrolling.Enabled(false))
                      )
                    @*</dd>
                </dl>*@
                </fieldset>
            }
        </div>
    </div>     
        }

}
@(Html.Telerik().Window().Title("公司概况")
    .Name("DetailCompany")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-detailcompany">
        <div class="companyDetail-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="Javescript:$('#DetailCompany').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(800)
        .Height(300).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新公司")
    .Name("EditCompany")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-editcompany">
        <div class="companyEdit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="Editcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditcompany()" />
        </div>
    </div></text>)
    .Width(800)
        .Height(620).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("新增lead")
    .Name("AddLead")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-addlead">
        <div class="leadadd-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="AddLead()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddLead()" />
        </div>
    </div></text>)
    .Width(750)
        .Height(340).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新Lead")
    .Name("EditLead")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-editlead">
        <div class="leadedit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="UpdateLead()" />
            <input type="button" class="btn-quxiao" onclick="javascript:$('#EditLead').data('tWindow').close();" />
        </div>
    </div></text>)
    .Width(750)
        .Height(350).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("更新LeadCall")
    .Name("EditCall")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-editcall">
        <div class="calledit-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="UpdateCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelEditCall()" />
        </div>
    </div></text>)
    .Width(750)
        .Height(200).Draggable(true)
    .Modal(true).Visible(false)
)
@(Html.Telerik().Window().Title("新增LeadCall")
    .Name("AddCall")
    .Buttons(buttons => buttons.Close())
    .Content(@<text><div class="dialogue-addcall">
        <div class="calladd-wrapper">
        </div>
        <div class="dialogue-buttons">
            <input type="button" class="btn-queding" onclick="AddCall()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddCall()" />
        </div>
    </div></text>)
    .Width(750)
    .Height(250).Draggable(true)
    .Modal(true).Visible(false)
)
<style>
    .fieldblock
    {
    }
    .salebtn
    {
        width: 24px;
        height: 25px;
        border: none;
        display: inline-block;
        float: right;
        border: none;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .fieldError
    {
        border: 1px solid red !important;
    }
    
    .fieldname
    {
    }
    .fieldname dd
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .fieldname li
    {
        font-size: 15px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        background-color: #FFBB77;
    }
    .datainfo
    {
        font-size: 15px;
        color: Black;
        max-width: 76px;
        height: 21px;
        line-height: 21px;
        font-weight: bold;
    }
    .fenge
    {
        width: 98%;
        margin: 5px;
        float: left;
    }
    .fenge_2
    {
        background: #FF5809;
        line-height: 30px;
        border: 1px solid #000;
        border-bottom: none;
        text-align: center;
        color: #fff;
        padding: 2px;
        float: left;
        width: 99.2%;
    }
    .fenge_3
    {
        border: 1px solid #000;
        line-height: 24px;
        float: left;
        width: 100%;
    }
</style>
<script type="text/javascript">
    var currentCompanyName = undefined;
    function onCompanyEdit(currentCompanyId) {
       // currentCompanyName = $('#currentCompanyNameCN').html().replace(/(^\s*)|(\s*$)/g, '');
        $.post('GetEditCompany', { companyId: currentCompanyId }, function (result) {
            $('.companyEdit-wrapper').html(result);
            var window = $('#EditCompany').data('tWindow');
            window.center().open();

            while ($('.dialogue-editcompany form').length > 1) {
                $('.dialogue-editcompany form').last().remove();
            }
        });
    }

    function onCompanyDetail(currentCompanyId) {
        $.post('GetDetailCompany', { companyId: currentCompanyId }, function (result) {
            $('.companyDetail-wrapper').html(result);
            var window = $('#DetailCompany').data('tWindow');
            window.center().open();

            while ($('.dialogue-detailcompany form').length > 1) {
                $('.dialogue-detailcompany form').last().remove();
            }
        });
    }


    function Editcompany() {
        if ($('.dialogue-editcompany form').valid()) {
            var hasError = false;
            $('.dialogue-editcompany form input').removeClass('fieldError');
            $('.dialogue-editcompany form select').removeClass('fieldError');
            String.prototype.isEmpty = function () { return /^\s*$/.test(this); }
            if ($('.dialogue-editcompany form #DistrictNumberId option:selected').val().isEmpty()) {
                if ($('.dialogue-editcompany form #ZipCode').val().isEmpty()) {
                    $('.dialogue-editcompany form #ZipCode').addClass('fieldError');
                    hasError = true;
                }
                if ($('.dialogue-editcompany form #Address').val().isEmpty()) {
                    $('.dialogue-editcompany form #Address').addClass('fieldError');
                    hasError = true;
                }
            }
           
            if ($('.dialogue-editcompany form input[type=checkbox][name=Categories]:checked').length == 0) {
                $('fieldset#categories').addClass('fieldError');
                hasError = true;
            } else {
                $('fieldset#categories').removeClass('fieldError');
            }

            if (hasError) {
                return;
            }
            var companyName = $('.dialogue-editcompany form #Name_CN').val();
            $.post('CheckCompanyExist', { beforeUpdate: currentCompanyName, afterUpdate: companyName }, function (result) {
                if (result.length > 0) {
                    alert(result);
                } else {
                    var query = $('.dialogue-editcompany form').serializeArray();
                    $.post('EditCompany', query, function (result) {
                        if (result.length > 0) {
                            alert(result);
                        } else {
                            tempVal = $('.dialogue-editcompany form #Name_CN').val() + ' | ' + $('.dialogue-editcompany form #Name_EN').val();
                            $('#currentCompanyName').html(tempVal);
                            //                            tempVal = $('.dialogue-editcompany form #Name_CN').val();
                            //                            $('#currentCompanyNameCN').html(tempVal);
                            //                            tempVal = $('.dialogue-editcompany form #Name_EN').val();
                            //                            $('#currentCompanyNameEN').html(tempVal);
                            tempVal = $('.dialogue-editcompany form #DistrictNumberId option:selected').first().text();
                            $('#currentCompanyDistrictNumberString').html(tempVal);
                            tempVal = $('.dialogue-editcompany form #Phone').val();
                            $('#currentCompanyContact').html(tempVal);
                            tempVal = $('.dialogue-editcompany form #Fax').val();
                            $('#currentCompanyFax').html(tempVal);
                            tempVal = '';
                            $('.dialogue-editcompany form input[type=checkbox][name=Categories]:checked').each(function () {
                                tempVal += $(this).prev('label.company-category').html() + ',';
                            });
                            if (tempVal.length > 0) {
                                tempVal = tempVal.substr(0, tempVal.length - 1);
                            }
                            $('#currentCompanyCategoryStrings').html(tempVal);
                            tempVal = $('.dialogue-editcompany form #ProgressId option:selected').first().text();
                            $('#currentProgressString').html(tempVal);
                            $('#EditCompany').data('tWindow').close();
                            HandleEmptySpan()
                            alert('公司更新成功');
                        }
                    });
                }
            });
        }
    }

    function CancelEditcompany() {
        var window = $('#EditCompany').data('tWindow');
        window.close();
    }

    var currentLeadID = undefined;
    function onLeadEdit(leadId) {
        currentLeadID = leadId;
        $.post('GetEditLead', { leadId: leadId }, function (result) {
            $('.leadedit-wrapper').html(result);
            $('#EditLead').data('tWindow').center().open();
        });
    }

    function CancelEditLead() {
        var window = $('#EditLead').data('tWindow');
        window.close();
    }

    function UpdateLead() {
        if ($('.dialogue-editlead form').valid()) {
            var query = $('.dialogue-editlead form').serialize();
            $.post('EditLead?' + query, null, function (result) {
                if (result.length > 0) {
                    alert(result);
                } else {
                    //                    $('#' + currentLeadID + ' span.leadNameCN').html($('.dialogue-editlead form #Name_CN').val());
                    //                    $('#' + currentLeadID + ' span.leadNamEN').html($('.dialogue-editlead form #Name_EN').val());
                    $('#' + currentLeadID + ' span.t-leadName').html($('.dialogue-editlead form #Name_CN').val() + ' | ' + $('.dialogue-editlead form #Name_EN').val());
                    $('#' + currentLeadID + ' span.leadTitle').html($('.dialogue-editlead form #Title').val());
                    $('#' + currentLeadID + ' span.leadGender').html($('.dialogue-editlead form #Gender').val());
                    $('#' + currentLeadID + ' span.LeadEmail').html($('.dialogue-editlead form #WorkingEmail').val());
                    $('#' + currentLeadID + ' span.LeadPersonalEmail').html($('.dialogue-editlead form #PersonelEmail').val());
                    $('#' + currentLeadID + ' span.LeadContact').html($('.dialogue-editlead form #Telephone').val());
                    $('#' + currentLeadID + ' span.LeadMobile').html($('.dialogue-editlead form #CellPhone').val());
                    $('#' + currentLeadID + ' span.LeadFax').html($('.dialogue-editlead form #Fax').val());
                    $('#' + currentLeadID + ' span.WeiBo').html($('.dialogue-editlead form #WeiBo').val());
                    $('#' + currentLeadID + ' span.WeiXin').html($('.dialogue-editlead form #WeiXin').val());
                    $('#' + currentLeadID + ' span.LinkIn').html($('.dialogue-editlead form #LinkIn').val());
                    $('#' + currentLeadID + ' span.FaceBook').html($('.dialogue-editlead form #FaceBook').val());
                    $('#' + currentLeadID + ' span.Blog').html($('.dialogue-editlead form #Blog').val());
                    if ($('.dialogue-editlead form #DistrictNumberId option:selected').first().val() == '') {
                        $('#' + currentLeadID + ' span.LeadDistinctNumberString').html('');
                    } else {
                        $('#' + currentLeadID + ' span.LeadDistinctNumberString').html($('.dialogue-editlead form #DistrictNumberId option:selected').first().text());
                    }
                    $('#EditLead').data('tWindow').close();
                    HandleEmptySpan()
                    alert('Lead更新成功');
                }
            });
        }
    }

    function onLeadAdd(currentCompanyId) {
        $.post('GetAddLead', { companyId: currentCompanyId }, function (result) {
            $('.leadadd-wrapper').html(result);
            var window = $('#AddLead').data('tWindow');
            window.center().open();
        });
    }

    var currentLeadCallID = undefined;
    function EditLeadCall(leadCallID) {
        currentLeadCallID = leadCallID;
        $.post('GetEditLeadCall', { leadCallId: leadCallID }, function (result) {
            $('.calledit-wrapper').html(result);
            var window = $('#EditCall').data('tWindow');
            window.center().open();
        });
    }
    function CancelEditLead() {
        var window = $('#EditCall').data('tWindow');
        window.close();
    }
    function onCallAdd(currentLeadId) {
        currentCompanyRelationshipId = $('#CRMID').val();
        currentProjectId = $('#ProjectID').val().replace(/(^\s*)|(\s*$)/g, '');
        if (currentProjectId.length == 0) {
            currentProjectId = null;
        }
        $.post('GetAddCall', { leadId: currentLeadId, companyRelationId: currentCompanyRelationshipId, projectId: currentProjectId }, function (result) {
            $('.calladd-wrapper').html(result);
            var window = $('#AddCall').data('tWindow');
            window.center().open();
        });
    }
    function AddCall() {
        if ($('.dialogue-addcall form #ProjectId').val() == 'null') {
            $('.dialogue-addcall form #ProjectId').val('');
        }

        if ($('.dialogue-addcall form').valid()) {
            var query = $('.dialogue-addcall form').serialize();
            $.post('AddCall?' + query, null, function (result) {
                if (result.length > 0) {
                    alert('LeadCall新增失败');
                } else {
                    $('#AddCall').data('tWindow').close();
                    alert('LeadCall新增成功');
                    window.location = window.location;
                }
            });
        }
    }

    function CancelAddCall() {
        var window = $('#AddCall').data('tWindow');
        window.close();
    }
    function UpdateCall() {
        if ($('.calledit-wrapper form').valid()) {
            var query = $('.calledit-wrapper form').serialize();
            $.post('EditLeadCall?' + query, null, function (result) {
                if (result.length > 0) {
                    alert(result);
                } else {
                    $('#' + currentLeadCallID + '_CallType').html($('.dialogue-editcall form #CallTypeId option:selected').first().text());
                    $('#' + currentLeadCallID + '_CallBackDate').html($('.dialogue-editcall form #CallBackDate').val());
                    $('#' + currentLeadCallID + '_CallDate').html($('.dialogue-editcall form #CallDate').val());
                    $('#' + currentLeadCallID + '_Result').html($('.dialogue-editcall form #Result').val());
                    $('#EditCall').data('tWindow').close();
                    alert('LeadCall更新成功');
                }
            });
        }
    }
    function CancelEditCall() {
        var window = $('#EditCall').data('tWindow');
        window.close();
    }
    function AddLead() {
        if ($('.dialogue-addlead form').valid()) {
            var query = $('.dialogue-addlead form').serialize();
            $.post('AddLead?' + query, null, function (result) {
                if (result.length > 0) {
                    $('#AddLead').data('tWindow').close();
                    if (confirm('Lead新增成功,是否新增相应Call')) {
                        onCallAdd(result);
                    } else {
                        window.location = window.location;
                    }

                } else {
                    alert('Lead新增失败');
                }
            });
        }
    }
    function CancelAddLead() {
        var window = $('#AddLead').data('tWindow');
        window.close();
    }

    function HandleEmptySpan() {
        $('span.datainfo').each(function () {
            if ($(this).html().replace(/(^\s*)|(\s*$)/g, '').length == 0) {
                $(this).parent().hide();
            } else {
                $(this).parent().show();
            }
        });
    }

    $(function () {
        HandleEmptySpan();
    });
</script>
