@{
    ViewBag.Title = "Call List";
}
@using Model
@using Entity;
@using Utl
@model TotalLeadCallAmount
<br />
@Html.Partial("multipleprojectselector")
<fieldset>
    <legend>统计</legend>
    <table  width="100%">
        <tr>
            <td>
                TopSales
            </td>
            <td>
                OnPhone王
            </td>
            <td>
                通话最短
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">
            
               @(Html.Telerik().Grid(Model.TopSales).Name("TopSales").Columns(c =>
{
    c.Bound(item => item.Member.Name);
    c.Bound(item => item.DealInAmount);
}).HtmlAttributes(new { style="margin-top:0px"}))
            </td>
            <td>@(Html.Telerik().Grid(Model.TopCallers).Name("TopCallers").Columns(c =>
 {
     c.Bound(item => item.Member.Name);
     c.Bound(item => item.Duration.TotalHours).Template(@<text>@Math.Round(item.Duration.TotalHours,2)</text>);
     c.Bound(item => item.Member.SalesType.Name);
     c.Bound(item => item.CallListAmount);
 }))
            </td>
            <td>@(Html.Telerik().Grid(Model.WorstCallers).Name("WorstCallers").Columns(c =>
{
    c.Bound(item => item.Member.Name);
    c.Bound(item => item.Duration.TotalHours).Template(@<text>@Math.Round(item.Duration.TotalHours, 2)</text>);
}))
            </td>
        </tr>
    </table>

</fieldset>
<fieldset>
    @{
  
  
        <ul>
            <li>
                @foreach (var p in Model.ViewLeadCallAmountInProjects)
                {
                    <br />
                    <b><span>项目名称：@p.project.Name</span></b>
                    @(Html.Telerik().Grid(p.LeadCallAmounts).Name("project" + p.project.ID).DataKeys(keys =>
                {
                    keys.Add(s => s.Member.ID);
                }).Columns(c =>
                {
                    c.Bound(item => item.Member.Name).Width(60).FooterTemplate(@<text>总数：</text>);
                    c.Bound(item => item.Member.SalesType.Name).Width(80);
                    c.Bound(item => item.Duration).Template(@<text>@Math.Round(item.Duration.TotalHours, 1)</text>).Title("通话时间").Width(80);
                    c.Bound(item => item.Cold_Calls).Width(90).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.DMs).Width(65).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.New_DMs).Width(95).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Pitched).Width(70).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Full_Pitched).Width(100).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Call_Backed).Width(100).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Waiting_For_Approval).Width(155).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Qualified_Decision).Width(160).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.Closed).Width(70).Aggregate(item => item.Sum());
                    c.Bound(item => item.DealInAmount).Width(100).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>);
                    c.Bound(item => item.CheckInAmount).Width(100).Aggregate(item => item.Sum()).FooterTemplate(@<text>@item.Sum</text>); ;
                }).Resizable(resizing => resizing.Columns(true))
                                                                                                                      .Filterable().Sortable()
                                                                                                                      .Scrollable(scrolling => scrolling.Height(200))
                                                                                                                      .HtmlAttributes(new { style = "max-width:1310px" }))
                }
            </li>
        </ul>
    }
</fieldset>
