<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>决策者销售系统</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
@{
    Layout = null;
    ViewBag.Title = "登陆";
}
<script type="text/javascript" src=@Url.Content(@"/scripts/jquery-1.6.4.min.js")></script>@*确保在页面能引用到jquery*@   
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@model  Entity.LogOnModel
@using Utl
@using Entity
@using (Html.BeginForm())
{
    <body>
<div class="logo"><img src="/images/logo.jpg" width="929" height="191" alt="logo" /></div>
<div class="login">
  <div class="login_2">
  <div class="dl_rigrh">

  <div class="tu_left">
  @{
    var it = CH.GetAllData<Image>(i => i.ImageArea == "LoginPage").OrderByDescending(o => o.Sequence).FirstOrDefault();
    if (it == null)
  {
      <img src="/images/tu_2.jpg"  width="543" height="349" alt="tu" />
  }
  else
  {
     <img   width="543" height="349" alt="tu" src=@Url.Action("DisplayImage", "Image", new { id = it.ID }) />
  }
  
  }
   
 @* <img src="/images/tu_2.jpg"  width="543" height="349" alt="tu" />*@
  </div>

	<h2><img src="/images/文字.gif" width="227" height="57" alt="文字" />
    <p>CDMC Events Sales System</p></h2>
     <div class="input_2">

    <dl>
    <dt>用户名 Account：</dt>
        <dd> @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)</dd>
    </dl>
     </div>
      <div class="input_2">
    <dl>
    
   	  <dt>密码 Password：</dt>
      <dd> @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
       <br /><br />
 <a href="#">忘记密码 Forget Password
</a></dd>
    </dl>
    </div>
     <div class="input_2">
    <dl>
   	  <dt>&nbsp;</dt>
      <dd class="login_3"><input type="image" src="/images/denglu.gif"/></dd>
    </dl>
    </div>
  </div>
</div>
<div class="wenzi">

    </div>

</div>
<center style=" margin-top:50px;">
<h3>
@Html.ValidationSummary(true)
</h3>
</center>
</body>
    

}
</html>
