<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @* <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.telerik.css").Combined(true).Compress(true)))
    <script type="text/javascript" src=@Url.Content(@"~/vjs/view.js")></script>@*确保在页面能引用到jquery*@
</head>
<body>
    <div class="page">
        <header>
			<div id="title">
            <center>
				<h1>决策者</h1>
                </center>
			</div>

			@(Html.Telerik().Menu()
                    .Name("menu")
                    .Items(menu =>
                    {
                        menu.Add().Text("登录").Action("Index", "Login");
                        menu.Add().Text("About").Action("About", "Home");
                    }))
		</header>
        <section >
        <div style="float:left; width:13%">
                    @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                    .Name("f1")
                    .Items(menu =>
                    {
                        menu.Add().Text("公司类型").Action("index", "CompanyType");
                    }))
                     @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                    .Name("f2")
                    .Items(menu =>
                    {
                        menu.Add().Text("行业类型").Action("index", "Area");
                    }))
                     @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                    .Name("f3")
                    .Items(menu =>
                    {
                        menu.Add().Text("客户类型").Action("index", "ClientType");
                    }))
                    @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                    .Name("f4")
                    .Items(menu =>
                    {
                        menu.Add().Text("公司维护").Action("index", "Company");
                    }))
                    @(Html.Telerik().Menu().Orientation(MenuOrientation.Vertical)
                    .Name("f5")
                    .Items(menu =>
                    {
                        menu.Add().Text("客户维护").Action("index", "Client");
                    }))
                   
        </div>
        <section id="main" style="float:left;width:87%">@RenderBody()</section>
			
		</section>
        <footer>
		</footer>
    </div>
    @(Html.Telerik().ScriptRegistrar().Globalization(true).DefaultGroup(group => group.Combined(true).Compress(true)))</body>
</html>
