@{
    ViewBag.Title = "CRM";
}
@using Entity
@using Utl
@using BLL
@model Lead
<h2>
    客户关系管理</h2>
@*@using (Html.BeginForm())
{
    <fieldset>
        <legend>目标项目</legend>
        @Html.HiddenFor(m => m.ID)
        @Html.DropDownList("ProjectID", new SelectList(CH.GetAllData<Project>(), "ID", "Name"), "-请选择-", new { onchange = "this.form.submit();" })
    </fieldset>
}*@
@Html.Partial("LeadCallEditor", new LeadCall() { LeadID = Model.ID })
@Html.Partial("LeadPackageEditor", CRM_Logical.GetTargetOfPackage(Model, (object)ViewBag.ProjectID))
@(Html.Telerik().TabStrip().Name("TabStrip").SelectedIndex(0).Items(items =>
{
    items.Add().Text("公司信息").Content(@<text>@Company(Model)</text>);
    items.Add().Text("客户信息").Content(@<text>@Lead(Model)</text>);
    if (ViewBag.ProjectID != null)
    {
        items.Add().Text("Packages").Content(@<text>@Package(Model)</text>);
        items.Add().Text("LeadCall").Content(@<text>@LeadCallSheet(Model)</text>);
    }
})
)

@helper MakeDeal(Lead lead)
{
    
    }
@helper Company(Lead lead)
    { 
        var company = lead.Company;
    <div style="width: 500;">
        <ul>
            <li>
                <label>
                    公司名称:</label>@company.FullName</li>
            <li>
                <label>
                    行业:</label>@company.Category.FullName</li>
            <li>
                <label>
                    业务范围:</label>@company.Areas</li>
            <li>
                <label>
                    公司电话:</label>@company.Contact</li>
            <li>
                <label>
                    可打时间:</label>@company.Available</li>
            <li>
                <label>
                    座机:</label>@company.Contact</li>
            <li>
                <label>
                    电子邮箱:</label>@company.ForeignAssetPercentage</li>
            <li>
                <label>
                    传真:</label>@company.Fax</li>
        </ul>
    </div>
     
}
@helper Lead(Lead lead)
    { 
        var company = lead.Company;
    <div style="width: 500;">
        <img alt="photo"  style="width:80px;height:70px;float:right;" src=@Url.Content("~/Image/DisplayImage/" + lead.ImageID) />
        <ul>
            <li>
                <label>
                    Lead姓名:</label>@lead.FullName</li>
            <li>
                <label>
                    职位:</label>@lead.Title</li>
            <li>
                <label>
                    性别:</label>@lead.Gender</li>
            <li>
                <label>
                    公司电话:</label>@company.Contact</li>
            <li>
                <label>
                    可打时间:</label>@company.Available</li>
            <li>
                <label>
                    座机:</label>@lead.Contact</li>
            <li>
                <label>
                    电子邮箱:</label>@lead.EMail</li>
            <li>
                <label>
                    传真:</label>@lead.Fax</li>
        </ul>
    </div>
     
}
@helper Package(Lead lead)
    { 
        var TargetOfPackages = lead.TargetOfPackages;
        if (ViewBag.ProjectID != null)
        {
            var ProjectID = (int)ViewBag.ProjectID;
    <input class="setLeadPackage" type="button" value="设置销售Package" />
            TargetOfPackages = TargetOfPackages.FindAll(i => i.ProjectID == ProjectID);
            if (TargetOfPackages != null && TargetOfPackages.Count > 0)
            {
                var tp = TargetOfPackages.FirstOrDefault(i => i.ProjectID == ProjectID && i.LeadID == Model.ID);
                if (tp != null)
                {
                    var p = CH.GetDataById<Package>(tp.PackageID);
                   
    <div>
        <fieldset>
            <legend>Package</legend>
            <div>
                Package名称：@p.FullName</div>
            <div>
                价格（美元）：@p.Prize</div>
            <div>
                参会类型：@p.ParticipantType.FullName</div>
            <div>
                Package类型：@p.FullName</div>
            <div>
                详细：</div>
            <div>@p.SubName</div>
        </fieldset>
        @{
                    var pis = CH.GetAllData<PackageItem>(i => i.PackageID == p.ID);
            <fieldset>
                <legend>Items</legend>
                @if (pis != null)
                {
                    <ul>
                        @foreach (var pi in pis)
                        {
                            <li>
                                <p>
                                    名称：@pi.FullName</p>
                                <p>
                                    内容:</p>
                                <div>@pi.Content</div>
                            </li>
                        }
                    </ul>
                }
            </fieldset>
            @Html.ActionLink("出单", "MakeDeal", "Deal", new { projectid = ProjectID, packageid = p.ID,leadid=Model.ID }, null)
        }
    </div>
                }
            }
        }
        else
        {
    <p>
        未选定项目</p>
        }
     
}
@helper LeadCallSheet(Lead lead)
    { 
        if (ViewBag.ProjectID != null)
        {
            var ProjectID = (int)ViewBag.ProjectID;
    <input class="addLeadCall" id=@lead.ID  type="button" value="添加通话结果" />
            var calls = CH.GetAllData<LeadCall>(call => call.LeadID == lead.ID && call.ProjectID == ProjectID).OrderByDescending(item => item.ModifiedTime).ToList();
            if (calls != null && calls.Count > 0)
            {
    <br />
    <label>
        致电结果列表：</label>
    <table style="width: 700px" id="leadcalllist">
        <tr id="callheader">
            <td>
                FaxOut
            </td>
            <td>
                FirstPitch
            </td>
            <td>
                结果
            </td>
            <td>
                回打时间
            </td>
            <td>
                致电时间
            </td>
        </tr>
        @for (int i = 0; i < 10 && i < calls.Count; i++)
        {
            <tr>
                <td>@calls[i].FaxOut
                </td>
                <td>@calls[i].IsFirstPitch
                </td>
                <td>@calls[i].LeadCallType.Name
                </td>
                <td>@calls[i].CallBackDate
                </td>
                <td>@calls[i].CallingTime
                </td>
            </tr>
        }
        @if (calls.Count > 10)
        {
            <tr>
                <td colspan="5">
                    <a target="_blank" href=@Url.Content("~/Lead/LeadCallIndex/?leadid=" + lead.ID)>更多...</a>
                </td>
            </tr>
        }
    </table>
    <br />
        var todaycalls = calls.FindAll(c => Utl.IsToday(c.CallingTime));
        var dms = todaycalls.FindAll(c => CRM_Logical.IsDMS(c));
        var newDMS = todaycalls.FindAll(c => CRM_Logical.IsNewDMS(c));
        var qualifyDMS = todaycalls.FindAll(c => CRM_Logical.IsQualifiedDecision(c));
        var deal = todaycalls.FindAll(c => CRM_Logical.IsDealClosed(c));
        var pitchs = todaycalls.FindAll(c => CRM_Logical.IsPitched(c));
        var fullpitchs = todaycalls.FindAll(c => CRM_Logical.IsFullPitched(c));
    <label>
        Daily Call Sheet:</label>   
    <table style="width: 700px">
        <tr>
            <td>
                Cold Calls
            </td>
            <td>
                DMs reached
            </td>
            <td>
                New DMs reached
            </td>
            <td>
                Pitches
            </td>
            <td>
                Full Pitches
            </td>
            <td>
                Qualified Decisions
            </td>
            <td>
                Deals
            </td>
            <td>
                Duration
            </td>
        </tr>
        <tr align="center">
            <td>@todaycalls.Count
            </td>
            <td>@dms.Count
            </td>
            <td>@newDMS.Count
            <td>
                @pitchs.Count
            </td>
            <td>
                @fullpitchs.Count
            </td>
            <td>@qualifyDMS.Count
            </td>
            <td>@deal.Count
            </td>
            <td>
                Deals
            </td>
        </tr>
    </table>
            }
        }
        else
        {<p>未选定项目</p>}
         
}
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> var leadCallWindow = $('#LeadCallWindow');
    leadCallWindow.css("margin-left",leadCallWindow.width()/2); var addLeadCall = $('.addLeadCall');
    initialAddLeadCall(addLeadCall, leadCallWindow); var leadPackageWindow = $('#LeadPackageWindow');
    leadPackageWindow.css("margin-left",leadCallWindow.width()/2); var setLeadPackage
    = $('.setLeadPackage'); initialSetLeadPackage(setLeadPackage, leadPackageWindow);
    </text>);
}
