@{
    ViewBag.Title = "Index";
}
@using Entity
@using Sales.Model
@using Utl
@model AjaxCrmTypedList
@{
    //IEnumerable<SelectListItem> projectList=SelectHelper.ProjectSelectList(EditRight.DealsEdit.ToString(), Model.CurrentProjectId);
    var ps = BLL.CRM_Logical.GetUserInvolveProject();
    List<SelectListItem> projectList = new List<SelectListItem>();
    foreach (var p in ps)
    {
        projectList.Add(new SelectListItem() { Value = p.ID.ToString(), Text = p.ProjectCode });
    }
    // IEnumerable<SelectListItem> projectList = BLL.CRM_Logical.GetUserInvolveProject().AsEnumerable();
    if (projectList.Count > 0)
    {
        Model.CurrentProjectId = int.Parse(projectList.First().Value);
    }
}
<center>
    <div class="selections" style="width: 95%">
        <form>
        <center>
            <table>
                <tr>
                    <td>
                        <span>项目选择:@Html.DropDownListFor(model => model.CurrentProjectId, projectList, new { onchange = "seachBind();" })</span>
                    <td>
                        <span>最近通话: @Html.DropDownList("callprogress", SelectHelper.CallConditionSelectList(), "不指定")</span>
                    </td>
                    <td>
                        <span>通话状态: @Html.DropDownList("leadprogress", SelectHelper.LeadConditionSelectList(), "不指定")</span>
                    </td>
                    @*  <td>
                <span>分配时间: @Html.DropDownList("companyassigndate", SelectHelper.DurationSelectList(), "不指定")</span>
            </td>*@
                    <td>
                        <span>成熟程度: @Html.DropDownList("companyprogress", SelectHelper.CrmProgessSelectList(), "不指定")</span>
                    </td>
                    <td>
                        <span>出单状态: @Html.DropDownList("dealprogress", SelectHelper.DealConditionSelectList(), "不指定")</span>
                    </td>
                    <td>
                        <span>细分行业: @Html.DropDownList("f-category", SelectHelper.CategoresSelectList(Model.CurrentProjectId), "不指定")</span>
                    </td>
                    <td>
                        <span>是否展开:<select style="width: 200px;" id="unfoldCompany"><option value=''>不指定</option>
                            <option value='true'>展开公司/lead</option>
                            <option value='false'>展开公司</option>
                        </select>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <span>寻找匹配的名称,邮件,电话: @Html.TextBox("f-fuzzy", "", new { style = "width:225px;line-height:22px" })
                            <input id="search" style="border: none; width: 67px; height: 21px; background-image: url('../images/chazhao.jpg');"
                                type="button" />
                            <input type="button" style="border: none; width: 67px; height: 21px; background-image: url('../images/chongzhi.jpg');"
                                onclick="resetquery()" />
                            <input type="button" style="border: none; width: 67px; height: 21px; background-image: url('../images/tianjia_4.jpg');"
                                onclick="GetAddCompany()" />
                            <input type="button" style="border: none; width: 67px; height: 21px; background-image: url('../images/quick_entry.jpg');"
                                onclick="GetQuickEntry()" />
                            <input type="button" style="border: none; width: 67px; height: 21px; background-image: url('../images/bulk_entry.jpg');"
                                onclick="GetBulkEntry()" />
                        </span><span>最后通话状态:</span> <span style="color: red">NotCall</span> <span style="color: #0000C6">
                            Call-Backed</span> <span style="color: #000000">Blowed</span> <span style="color: #336666">
                                Pitched</span> <span style="color: #009393">Closed</span> <span style="color: #9F35FF">
                                    Waiting for Approval</span> <span style="color: #FF00CC">Qualified Decision</span>
                    </td>
                </tr>
            </table>
        </center>
        </form>
    </div>
</center>
<div style="clear: both;">
</div>
@(Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "height: 800px;overflow:auto;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("26%").Content(@<text>@GetCRMS()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }))
@helper GetCRMS()
    {
    
    <div>
        @(Html.Telerik().Window()
        .Name("groupWindow")
        .Title("分组")
        .Content(@<text>
        @Html.Partial("groupwindow", new UserFavorsCrmGroup())
        </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
        @(Html.Telerik().Window()
        .Name("groupListWindow")
        .Title("分组")
        .Content(@<text>
        @Html.Partial("grouplistwindow", Model.CustomCrmGroups)
        </text>).Width(600).ClientEvents(e => e.OnClose("onGroupListWindowSubmit"))
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
        <div id="mainnavigationcontainer">
            @Html.Partial("mainnavigationcontainer", Model)
        </div>
    </div>
 
}
@helper GetCompanyDetails()
    {
    <div id="crmdetailscontainer" style="overflow: scroll; height: 790px;">
        @if (Model.AllCRMs.FirstOrDefault() != null)
        {
            @Html.Partial("salesexitem", Model.AllCRMs.FirstOrDefault())
        }
    </div>
}
<ul id="groupcontextmenu" class="jeegoocontext cm_default">
    <li id="groupmanagement"><span class=""></span>
        <p class="regrouptext">
            分组管理</p>
    </li>
</ul>
<ul id="favorscontextmenu" class="jeegoocontext cm_default">
    <li class="regroup"><span class=""></span>
        <p class="regrouptext">
            移动可打公司至</p>
        <ul>
        </ul>
    </li>
    <li class="separator"></li>
    <li class="remove" id="remove"><span class=""></span>从组中移出 </li>
    <li class="separator"></li>
    <li class="blowed"><span class=""></span>Blowed，放回公海 </li>
</ul>
<ul id="contextmenu" class="jeegoocontext cm_default">
    <li class="regroup"><span class=""></span>
        <p class="regrouptext">
            移动可打公司至</p>
        <ul>
        </ul>
    </li>
    <li class="separator"></li>
    <li class="blowed"><span class="icon drive"></span>Blowed，放回公海 </li>
</ul>
@(Html.Telerik().Window()
    .Name("AddCompany")
    .Content(@<text><div class="dialogue-addcompany">
        <div class="companyAdd-wrapper">
        </div>
        <div class="dialogue-buttons" style="float: right;">
            <input type="button" class="btn-queding" onclick="Addcompany()" />
            <input type="button" class="btn-quxiao" onclick="CancelAddcompany()" />
        </div>
    </div></text>)
        .Width(1000)
        .Height(520).Title("添加公司")
        .Modal(true).Visible(false).Draggable(true)
    )
@(Html.Telerik().Window()
    .Name("QuickEntry")
    .Content(@<text>
<div class="dialogue-addcompany" style="margin-top: 0 20px 0 20px;">
    <div class="quickEntry-wrapper">
    </div>
    <div class="dialogue-buttons" style="float: right;">
        <input type="button" class="btn-queding" onclick="QuickEntry()" />
        <input type="button" class="btn-quxiao" onclick="CancelQuickEntry()" />
    </div>
</div></text>)
    .Width(1000)
    .Height(650).Title("快捷录入")
    .Modal(true).Visible(false).Draggable(true)
    )
@(Html.Telerik().Window()
    .Name("BulkEntry")
    .Content(@<text>
<div class="dialogue-addcompany" style="margin: 0px;">
    <div class="bulkEntry-wrapper">
    </div>
    <div class="dialogue-buttons" style="float: right;">
        <input type="button" class="btn-queding" onclick="BulkEntry()" />
        <input type="button" class="btn-quxiao" onclick="CancelBulkEntry()" />
    </div>
</div></text>)
    .Title("批量录入")
    .Modal(true).Visible(false).Draggable(true)
    )
<script type="text/javascript">

    $(document).ready(function () {
        initial();
        $('#CurrentProjectId').change(function () {
            CurrentProjectChange($('#CurrentProjectId').val());
        });
        RefreshCrmList(null);
        $('#crmdetailscontainer').html('');
        //        $('#search').unbind('click').bind('click', function () {
        //            RefreshCrmList(null);
        //            $('#crmdetailscontainer').html('');
        //        });
    });

    function seachBind() {
        initial();

        RefreshCrmList(null);
        $('#crmdetailscontainer').html('');
    }

</script>
<style>
    .fieldblock
    {
    }
    .fieldname div
    {
        padding: 2px;
        min-width: 100px;
        background-color: #FFDEAD;
        border-bottom-color: #FF8C00;
        border: 1px solid #CCC;
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .fieldname div font
    {
        font-size: 12px;
        color: Green;
    }
    
    .selections span
    {
    }
    .fieldError
    {
        border: 1px solid red !important;
    }
</style>
