@{
    ViewBag.Title = "Index";
}
@using Entity
@using Model
@model AjaxCrmTypedList


@(Html.Telerik().Splitter().Name("sp1").HtmlAttributes(new { style = "min-height: 800px;" })
              .Orientation(SplitterOrientation.Horizontal).Panes(panes =>
              {
                  panes.Add().Size("20%").Content(@<text>@GetCRMS()</text>);
                  panes.Add().Content(@<text>@GetCompanyDetails()</text>);
              }))
@helper GetCRMS()
{
    
<div>
<button id="addgroup-open-button" >添加分组</button>
@(Html.Telerik().Window()
        .Name("Window")
        .Title("添加分组")
        .Content(@<text>
          @Html.Partial("createwindow", new UserFavorsCrmGroup())
            </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)

<div id="crmdfavorsscontainer">
   @Html.Partial("FavorsCRM", Model.CustomCrmGroups)
  

</div>
<div>
    @(Html.Telerik().TreeView()
                .Name("navigationView").ExpandAll(true)
        .ClientEvents(e=>e.OnSelect("onIndexSelect"))
                .BindTo(Model.AllCRMs, mappings =>
        {
            mappings.For<AjaxCRM>(binding => binding
                    .ItemDataBound((item, ajaxCRM) =>
                    {
                        item.Text = ajaxCRM.DisplayText;
                        item.Value = ajaxCRM.CRMID.ToString();
                    })
                    .Children(company => company.AjaxLeads));

            mappings.For<AjaxLead>(binding => binding
                    .ItemDataBound((item, Lead) =>
                    {
                        item.Text = Lead.DisplayText;
                        item.Value = Lead.CRMID.ToString()+","+ Lead.LeadID.ToString();
                    }));
        })
) 
</div>
</div>
 
}
@helper GetCompanyDetails()
{
    <div id="crmdetailscontainer">
    @if (Model.AllCRMs.FirstOrDefault() != null)
    {
       @Html.Partial("salesexitem",Model.AllCRMs.FirstOrDefault())
    }
    </div>
}
 <ul id="favorscontextmenu" class="jeegoocontext cm_default">
        <li class="regroup">
            <span class=""></span>
            <p class= "regrouptext">移动可打公司至</p>
            <ul>
            </ul>
        </li>
         <li class="separator"></li>
        <li class="icon">
            <span class="icon drive"></span>
            从组中移出
        </li>
        <li class="separator"></li>
        <li class="icon">
            <span class="icon drive"></span>
            已经Blowed，释放回公司池
        </li>
    </ul>   
 <ul id="contextmenu" class="jeegoocontext cm_default">
        <li class="regroup">
            <span class=""></span>
            <p class= "regrouptext">移动可打公司至</p>
            <ul>
            </ul>
        </li>
        <li class="separator"></li>
        <li class="icon">
            <span class="icon drive"></span>
            已经Blowed，释放回公司池
        </li>
    </ul>    

<script type="text/javascript">

    $(document).ready(function () {

        //生成关联菜单子菜单
        var ul = $("#regroup ul");
        var customli = $('#customView >ul >li');
        customli.each(function () {
            var t = $(this).find('>div >span').text();
            var v = $(this).find('>div >input').val();
            ul.append('<li>' + t + '<input type="hidden" value=' + v + '></li>');
        });

        //        //取消checkbox
        //        var companys = $('#navigationView  .t-treeview-lines li ul');
        //        companys.find('.t-checkbox').remove();

        //添加分组
        $('#addgroup-open-button')
                .click(function (e) {
                    e.preventDefault();
                    $('#Window').data('tWindow').center().open();
                });

      
        $('#navigationView').find('>ul >li').jeegoocontext('contextmenu', {
            widthOverflowOffset: 0,
            heightOverflowOffset: 3,
            submenuLeftOffset: -4,
            submenuTopOffset: -5,
            onSelect: contextMenuSelected,
            onShow: generateContextMenu,
        });

         $('#customView').find('>ul >li >ul >li').jeegoocontext('favorscontextmenu', {
            widthOverflowOffset: 0,
            heightOverflowOffset: 3,
            submenuLeftOffset: -4,
            submenuTopOffset: -5,
            onSelect: contextMenuSelected,
            onShow: generateContextMenu,
        });
    });

    //生成动态子菜单
    function generateContextMenu(e, context) {
        //更新context菜单公司名
        var crmtext = $(context).find('>div >span.t-in').text();
        crmtext = crmtext.split(',')[0];
        $(' .regrouptext').text("拷贝" + crmtext + "到");

      
    }

    //子菜单选中
    function contextMenuSelected(e, context) {
                var crmid = $(context).find('>div >input').val();
                var groupid = $(e.currentTarget).find('input').val();

                $.post('JsonCopyCrmToGroup', { crmid: crmid, groupid: groupid }, function (result) {
                    $('#crmdfavorsscontainer').html(result);
                });
               // alert(groupid);
     }

    //获取主树
    function nv() {
        return $('#navigationView').data('tTreeView');
    }

    //公司选择 
    function onIndexSelect(e) {
      
        var indexs = nv().getItemValue(e.item);
        if (indexs.indexOf("分组") > 0 ) {
            $.post('JsonSelectedList', { indexs: indexs }, function (result) {
                $('#crmdetailscontainer').html(result);
            });
        }
    }

    //展开所有leads
    function expandRow(grid, row) {
            grid.expandRow(row);
    }

    function onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandRow(grid, e.row);
    }

</script>


<style>
    .fieldblock
    {
    
    }
    .fieldname div
    {
        padding: 2px;
        min-width: 100px;
        background-color: #FFDEAD;
        border-bottom-color: #FF8C00;
        border: 1px solid #CCC;
        display: inline-block;
      
      
        margin-left: 8px;
        margin-bottom: 8px;
    }
    .fieldname div font
    {
        font-size: 12px;
        color: Green;
    }
</style>


