@using Utl
@using Entity
@model Model.AjaxTargetOfMonth
<fieldset>
    <legend>请确认以下项目月目标</legend>
    <table style="padding: 10px; margin: 10px">
        <tr>
            <td>
                @Html.LabelFor(model => model.ProjectName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.ProjectName, new { @readOnly = "true", style = "border-style: none" })
            </td>
            <td>
                <label id="1stWeek">
                    第一周目标</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.TargetOf1stWeek, new { @readOnly = "true", style = "border-style: none" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.StartDate)
            </td>
            <td>
                @Html.TextBoxFor(model => model.StartDate, new { @readOnly = "true", style = "border-style: none" })
            </td>
            <td>
                <label id="2ndWeek">
                    第二周目标</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.TargetOf2ndWeek, new { @readOnly = "true", style = "border-style: none" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EndDate)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EndDate, new { @readOnly = "true", style = "border-style: none" })
            </td>
            <td>
                <label id="3rdWeek">
                    第三周目标</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.TargetOf3rdWeek, new { @readOnly = "true", style = "border-style: none" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Deal)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Deal, new { @readOnly = "true", style = "border-style: none" })
            </td>
            <td>
                <label id="4thWeek">
                    第四周目标</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.TargetOf4thWeek, new { @readOnly = "true", style = "border-style: none" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CheckIn)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CheckIn, new { @readOnly = "true", style = "border-style: none" })
            </td>
            <td id="hidenTd1">
                <label id="5thWeek">
                    第五周目标</label>
            </td>
            <td id="hidenTd2">
                @Html.TextBoxFor(model => model.TargetOf5thWeek, new { @readOnly = "true", style = "border-style: none" })
            </td>
        </tr>
    </table>
</fieldset>
