@model Model.AjaxEmployee
@using Entity
@using Utl
<fieldset>
    @Html.HiddenFor(model => model.ID)
    <legend>帐号</legend>
    <table style="padding: 10px; margin: 10px">
        <tr>
            <td>
                @Html.LabelFor(model => model.AccountName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.AccountName, new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.AccountName)
            </td>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AccountNameCN)
            </td>
            <td>
                @Html.TextBoxFor(model => model.AccountNameCN, new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.AccountNameCN)
            </td>
            <td>
                @Html.LabelFor(model => model.DepartmentName)
            </td>
            <td>
                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(CH.GetAllData<Department>(), "ID", "Name"), "-请选择-", new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AgentNum)
            </td>
            <td>
                @Html.TextBoxFor(model => model.AgentNum, new { style = "width:150px" })</br>
                @Html.ValidationMessageFor(model => model.AgentNum)
            </td>
            <td>
                @Html.LabelFor(model => model.ExpLevelName)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ExpLevelID, new SelectList(CH.GetAllData<ExpLevel>(), "ID", "Name"), "-请选择-", new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.ExpLevelID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.RoleName)
            </td>
            <td>
                @Html.DropDownListFor(model => model.RoleID, new SelectList(CH.GetAllData<Role>(), "ID", "Name"), "-请选择-", new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.RoleID)
            </td>
            <td>
                @Html.LabelFor(model => model.StartDate)
            </td>
            <td>
                @Html.Telerik().DatePickerFor(model => model.StartDate).HtmlAttributes(new { style = "width:150px" })<br>
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
    </table>
</fieldset>
