@using Utl
@using Entity
@model Model.AjaxViewDeal
<fieldset>
    @{if (Employee.CurrentRole.Level == 4)
      {
        <legend>请填写到账金额</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Income)
        </div>
        <div class="editor-field">
            @Html.Telerik().CurrencyTextBoxFor(model => model.Income)
        </div>
      }
      else
      {
        <legend>是否确定出单</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CompanyName, new { @readOnly = "true", style = "width:300px" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DealCode)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DealCode, new { @readOnly = "true", style = "width:300px" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PackageName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PackageName, new { @readOnly = "true", style = "width:300px" })
        </div>
      }
    }
</fieldset>
