@model AjaxParticipant
@using Entity
@using Utl
    <fieldset>
     <legend>参会人信息</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>
                    <div id="dispName"></div>
                    @Html.HiddenFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
                <td>@Html.LabelFor(model => model.Title)</td>
                <td>
                    <div id="dispTitle"></div>
                    @Html.HiddenFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Gender)</td>
                <td>
                    <div id="dispGender"></div>
                    @Html.HiddenFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender)
                </td>
                <td>@Html.LabelFor(model => model.Mobile)</td>
                <td>
                    <div id="dispMobile"></div>
                    @Html.HiddenFor(model => model.Mobile)
                    @Html.ValidationMessageFor(model => model.Mobile)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Contact)</td>
                <td>
                     <div id="dispContact"></div>
                    @Html.HiddenFor(model => model.Contact)
                    @Html.ValidationMessageFor(model => model.Contact)
                </td>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>
                    <div id="dispEmail"></div>
                    @Html.HiddenFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ZIP)</td>
                <td>
                    <div id="dispZIP"></div>
                    @Html.HiddenFor(model => model.ZIP)
                    @Html.ValidationMessageFor(model => model.ZIP)
                </td>
                <td>@Html.LabelFor(model => model.Address)</td>
                <td>
                    <div id="dispAddress"></div>
                    @Html.HiddenFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ParticipantTypeID)</td>
                <td>
                    @Html.DropDownListFor(model => model.ParticipantTypeID, new SelectList(CH.GetAllData<ParticipantType>(), "ID", "Name"), "-请选择-")<br />
                    @Html.ValidationMessageFor(model => model.ParticipantTypeID)
                </td>
                <td>
                    公司Lead
                </td>
                <td>
                    @*@Html.DropDownList("p", SelectHelper.LeadSelectListByCRMID((int)ViewBag.CompanyRelationshipID))*@
                    @Html.DropDownList("CompanyLeadID", SelectHelper.LeadSelectListByCRMID((int)ViewBag.CompanyRelationshipID), "- 请选择 -", new { onchange = "onLeadQuickSelected(this.value)" })
                </td>
            </tr>
        </table>
    </fieldset>

    <script type="text/javascript" language="javascript">

        function onLeadQuickSelected(leadid) {
            if (leadid != null && leadid != "") {
                $.ajax({
                    url: "/Sales/GetLeadById",
                    type: "post",
                    data: { id: leadid },
                    error: function () {
                        alert("获取Lead信息失败");
                    },
                    success: function (data) {
                        var leadstring = data;
                        var lead = new Array();
                        lead = leadstring.split(",");

                        $("#Name").val(lead[0]);
                        $("#Title").val(lead[1]);
                        $("#Gender").val(lead[2]);
                        $("#Mobile").val(lead[3]);
                        $("#Contact").val(lead[4]);
                        $("#Email").val(lead[5]);
                        $("#ZIP").val(lead[6]);
                        $("#Address").val(lead[7]);

                        $("#dispName").html(lead[0]);
                        $("#dispTitle").html(lead[1]);
                        $("#dispGender").html(lead[2]);
                        $("#dispMobile").html(lead[3]);
                        $("#dispContact").html(lead[4]);
                        $("#dispEmail").html(lead[5]);
                        $("#dispZIP").html(lead[6]);
                        $("#dispAddress").html(lead[7]);
                    }
                });
            } else {
                $("#Name").val(lead[0]);
                $("#dispName").val(lead[0]);
                $("#Title").val();
                $("#Gender").val();
                $("#Mobile").val();
                $("#Contact").val();
                $("#Email").val();
                $("#ZIP").val();
                $("#Address").val();

                $("#dispName").html();
                $("#dispTitle").html();
                $("#dispGender").html();
                $("#dispMobile").html();
                $("#dispContact").html();
                $("#dispEmail").html();
                $("#dispZIP").html();
                $("#dispAddress").html();
            }
        }

    </script>
