@model Entity.ChangePasswordModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend>更换密码</legend>
        <p>
            请使用下面的表单更新您的密码
        </p>
        <p>
            新密码要求的最小长度为 @Membership.MinRequiredPasswordLength
        </p>
        <p>
            @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        </p>
        <p id="errorChangePassword" style="color: #FF0000">
        </p>
        <table style="padding: 10px; margin: 10px">
            <tr style="height: 40px">
                <td>
                    用户名
                </td>
                <td>
                    @Utl.Employee.CurrentUserName
                </td>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword, new { style = "width:150px" })<br />
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </td>
            </tr>
            <tr style="height: 40px">
                <td>
                    @Html.LabelFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword, new { style = "width:150px" })<br />
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:150px" })<br />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>
        </table>
    </fieldset>
}
