@{
    ViewBag.Title = "分配公司";
}
@using Entity
@using Utl
@using BLL
@using Model

@{
@(Html.Telerik().Grid<AjaxCRM>().Name("Company")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.CRMID);
                })
                .ToolBar(toolBar => toolBar.Template(
                    @<text>
                    <div id="filter-container" style="height: 60px; margin-top:5px;">
                    
                        <div class="assignableMembers">
                            <span>
                            <label style="margin:5px">可分配销售:</label>
                                @foreach (SelectListItem selectListItem in SelectHelper.MemberSelectListForProject((int)ViewBag.ProjectID))
                                {
                                    if (selectListItem.Value != (string)ViewBag.MemberFilterForCompany && selectListItem.Value != "-1" && selectListItem.Value != "" && selectListItem.Value != "-2")
                                    {
                                    <span style="display: inline-block;">@Html.CheckBox(selectListItem.Value, false, new { value = selectListItem.Value })
                                        <label>@selectListItem.Text</label></span>
                                    }
                                }
                            </span>
                            <button id="AssignCompanies" onclick="AssignCompanies()">分配</button>
                        </div>

                        <div style=" float: left;">
                            <span>
                                <label style="margin:8px 0px 0px 5px;">项目:</label>
                                @Html.DropDownList("projectFilter", SelectHelper.ProjectSelectList(EditRight.DealsEdit.ToString(), (int?)ViewBag.ProjectID))
                            </span>
                            <span>
                                <label style="margin:8px 0px 0px 5px;">销售:</label>
                                @Html.DropDownList("companyFilter", SelectHelper.MemberSelectListForProject((int)ViewBag.ProjectID, (string)ViewBag.MemberFilterForCompany), "所有公司", new { style = "margin:8px;" })
                            </span>
                            <button id="UnsignCompanies" onclick="UnsignCompanies()">取消分配</button>
                        </div>

                        <div style="float: left;">
                            <span>
                                <label style="margin:8px 0px 0px 20px;"> 字头筛选:</label>
                                @Html.DropDownList("prefixFilter", SelectHelper.PrefixFilterSelectList((string)ViewBag.selectVal), new { style = "margin:8px;" })
                            </span>
                        </div>

                        <div style="float: left;">
                            <span>
                                <label style="margin:8px 0px 0px 20px;">寻找匹配的名称,邮件,电话: </label>
                                @Html.TextBox("fuzzyInput", (string)ViewBag.fuzzyInput, new { style = "width:225px;margin:8px;" })
                            </span>
                            <button id="fuzzySearch" onclick="freshPage()">查找</button>
                        </div>
                        
                    </div>
                    </text>
                ))
                .DataBinding(dataBinding => dataBinding.Ajax().Select("_AjaxAssignCompany", "Project"))
                .Columns(c =>
                {
                    c.Bound(item => item.CRMID).ClientTemplate("<input name='checkedRecords' class='companybox' type='checkbox' value='<#= CRMID #>' title='checkedRecords'/>")
                    .Title("<input type='checkbox' id='allCompanyBox' />").Filterable(false).Sortable(false).Width(30).HtmlAttributes(new { style = "text-align:center" });
                    c.Bound(item => item.CompanyName).Title("公司名").Width(300);
                    c.Bound(item => item.MembersString).Title("销售").Width(70);
                    //c.Bound(item => item.Importancy).Width(80);
                    c.Bound(item => item.CompanyCategoryStrings).Title("细分行业");
                    c.Bound(item => item.CompanyType).Width(100);
                    c.Bound(item => item.CrmCreateDate).Title("添加时间").Width(200);
                    c.Bound(item => item.CrmCreator).Title("添加人").Width(100);

                })
                .ClientEvents(events => events.OnDataBinding("dataBinding"))
                .Resizable(resizing => resizing.Columns(true))
                .Pageable(paging => paging.PageSize(40).Style(GridPagerStyles.Status).PageOnScroll(true))
                .Sortable()
                .Filterable()
                .Scrollable(scrolling => scrolling.Height(400))
)}

<script type="text/javascript">
    $(
        function () {
            $('#projectFilter').change(function () {
                $('#companyFilter option').eq(0).prop('selected', true);
                freshPage();
                freshProjectSales();
            });
            $('#companyFilter').change(
                function () {
                    freshPage();
                }
            );
            $('#prefixFilter').change(
                function () {
                    freshPage();
                }
            );

            $("#allCompanyBox").click(
            function () {
                $(".companybox").attr("checked", $(this).attr("checked") ? true : false);
            }
        );
        }
    );
    
    function AssignCompanies() {
        var selectedCompanies = "";
        $('.t-grid tbody input[type=checkbox]:checked').each(
            function () {
                selectedCompanies += $(this).val() + ",";
            }
        );
        var selectedMembers = "";
        $('.assignableMembers input[type=checkbox]:checked').each(
                function () {
                    selectedMembers += $(this).val() + ",";
                }
            );
        if (selectedCompanies.length > 0) {
            selectedCompanies = selectedCompanies.substr(0, selectedCompanies.length - 1);
        } else {
            alert('请选择相应的公司');
            return;
        }
        if (selectedMembers.length > 0) {
            selectedMembers = selectedMembers.substr(0, selectedMembers.length - 1);
        } else {
            alert('请选择相应的销售');
            return;
        }
        //$("#AssignCompanies").attr("disabled", "disabled");
        $.post('AssignCompanies', { selectedCompanies: selectedCompanies, selectedMembers: selectedMembers }, function (result) {
            alert(result);
            freshPage();
            freshProjectSales();
        });
    }

    function UnsignCompanies() {
        var selectedCompanyFilter = $('#companyFilter').val();

        var selectedCompanies = "";
        $('.t-grid tbody input[type=checkbox]:checked').each(
            function () {
                selectedCompanies += $(this).val() + ",";
            });

        if (selectedCompanies.length > 0) {
            selectedCompanies = selectedCompanies.substr(0, selectedCompanies.length - 1);
        } else {
            alert('请选择相应的公司');
            return;
        }
        $.post('UnsignCompanies',{ selectedCompanyFilter: selectedCompanyFilter, selectedCompanies: selectedCompanies },function (result) {
                alert(result);
                freshPage();
            }
        );
    }

    function dataBinding(e) {
        var projectFilterId = $('#projectFilter').val();
        var assignCompanyId = $('#companyFilter').val();
        var prefixLetter = $('#prefixFilter').val();
        var fuzzyValue = $('#fuzzyInput').val();
        e.data = $.extend(e.data, { projectId: projectFilterId, memberFilterForCompany: assignCompanyId, prefixFilter: prefixLetter, fuzzyInput: fuzzyValue });
    }


    function freshPage() {
        $("#Company").data("tGrid").rebind();
    }

    function freshProjectSales() {
        var projectFilterId = $('#projectFilter').val();
        var assignCompanyId = $('#companyFilter').val();
        var myurl = new SF.URL(window.location.href);
        myurl.set('projectId', projectFilterId);
        myurl.set('memberFilterForCompany', assignCompanyId);
        window.location = myurl.url();
    }
</script>
