@{
    ViewBag.Title = "Project";
}
@using Entity
@using Utl
@using BLL
@model Project
<h2>
    项目管理</h2>

@*@Html.Partial("MemberEditor", new LeadCall() { LeadID = Model.ID })
@Html.Partial("LeadPackageEditor", CRM_Logical.GetTarget_Package(Model, (object)ViewBag.ProjectID))*@
@(Html.Telerik().TabStrip().Name("TabStrip").SelectedIndex(0).Items(items =>
{
    items.Add().Text("基本信息").Content(@<text>@BaseInfo(Model)</text>);
    items.Add().Text("成员信息").Content(@<text>@Member(Model)</text>);
    items.Add().Text("每月目标").Content(@<text>@Target(Model)</text>);
    items.Add().Text("目标划分").Content(@<text>@BreakDown(Model)</text>);
    items.Add().Text("核心公司").Content(@<text>@Company(Model)</text>);

})
)
@helper BaseInfo(Project project)
    { 
   
    <div style="width: 500;">
        <ul>
            <li>
                <label>
                    项目名称:</label>@project.Name</li>
            <li>
                <label>
                    开始时间:</label>@project.StartDate</li>
            <li>
                <label>
                    结束时间:</label>@project.EndDate</li>
            <li>
                <label>
                    项目状态:</label>@project.IsActived</li>
            <li>
                <label>
                    销售目标:</label>@project.Target</li>
            <li>
                <label>
                    激活:</label>@project.IsActived</li>
                    <li>
            <label>
                    板块负责人:</label>@project.Manager</li>
            <li>
                <label>
                    团队负责人:</label>@project.TeamLeader</li>
        </ul>
    </div>
     
}
@helper Member(Project p)
    { 

    @(Html.Telerik().Grid<Member>(p.Members).Name("members")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {
                    c.Bound(item => item.Name).Width(200);
                    c.Bound(item => item.Characters);
                    c.Bound(item => item.ID).Title("操作").Width(200).Template(@<span> <a href=@Url.Content("~/Member/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/Member/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Member/delete/" + item.ID) >
                            删除</a> </span>);
                }).Scrollable(scrolling => scrolling.Height(350))

)
        
@Html.ActionLink("创建新成员", "Create", "Member", new { projectid = Model.ID }, null)
<span>     </span>
@Html.ActionLink("分配公司", "Distribution", "Project", new { projectid = Model.ID }, null)
}

@helper Company(Project p)
    {  
    @Html.ActionLink("管理销售对象", "SelectCompany", "Project", new { projectid = Model.ID }, null)
}

@helper BreakDown(Project p)
    {  
    @Html.ActionLink("目标划分", "Breakdown", "Project", new { projectid = Model.ID }, null)
}

@helper Target(Project p)
    { 
      @(Html.Telerik().Grid<TargetOfMonth>(p.TargetOfMonths).Name("TargetOfMonths")
                .DataKeys(keys =>
                {
                    keys.Add(s => s.ID);
                })
                .Columns(c =>
                {

                    c.Bound(item => item.BaseDeal).Template(@<text>@Html.Partial("DisplayCurrency", DisplayCurrency.Dollars(item, "BaseDeal")) </text>).Width(100);
                    c.Bound(item => item.Deal).Width(100).Template(@<text>@Html.Partial("DisplayCurrency", DisplayCurrency.Dollars(item, "Deal")) </text>).Width(100);
                    c.Bound(item => item.CheckIn).Template(@<text>@Html.Partial("DisplayCurrency", DisplayCurrency.Dollars(item, "CheckIn")) </text>).Width(100);
                    c.Bound(item => item.StartDate).Template(@<text><p>@item.StartDate.ToShortDateString()</p></text>).Width(100);
                    c.Bound(item => item.EndDate).Template(@<text><p>@item.EndDate.ToShortDateString()</p></text>).Width(100);
                    c.Bound(item => item.ID).Title("操作").Width(200).Template(@<span> <a href=@Url.Content("~/TargetOfMonth/Edit/" + item.ID) >
                        编辑</a> | <a href=@Url.Content("~/TargetOfMonth/Details/" + item.ID)>详细</a> | <a href=@Url.Content("~/Project/Breakdown/?projectid=" +item.ProjectID+"&TargetOfMonthid="+ item.ID) >
                            目标划分</a>| <a href=@Url.Content("~/TargetOfMonth/delete/" + item.ID) >删除</a> </span>);
                }).Scrollable(scrolling => scrolling.Height(350))
           )
      
@Html.ActionLink("创建新月目标", "Create", "TargetOfMonth", new { projectid = Model.ID }, null)     
}


