@model Entity.LeadCall

@{
    ViewBag.Title = "删除";
}
@using Utl

<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">IsFirstPitch</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsFirstPitch)
    </div>

    <div class="display-label">Lead</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lead.Gender)
    </div>

    <div class="display-label">CompanyRelationship</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyRelationship.Description)
    </div>

    <div class="display-label">LeadCallType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeadCallType.Name)
    </div>

    <div class="display-label">FaxOut</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FaxOut)
    </div>

    <div class="display-label">Result</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Result)
    </div>

    <div class="display-label">CallBackDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CallBackDate)
    </div>

    <div class="display-label">CallDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CallDate)
    </div>

    <div class="display-label">Caller</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.Name)
    </div>
</fieldset>

