
@using Sales.Model
@using Entity
@model List<ManagerScore>
           
@{
    ViewBag.Title = "Index";
}


<fieldset>
    <legend>月份</legend>
    @{
        using (Html.BeginForm())
        {
            var m = ViewBag.Month as int?;
            m = m == null ? DateTime.Now.Month : m;
        @Html.DropDownList("month", new SelectList(new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 }, m), new { onchange = "this.form.submit();" })
        }
    }
</fieldset>
@{
var month = ViewBag.Month as int?;
var query = ViewBag.fuzzyInput as string;
var rolelvl = ViewBag.RoleLevel as int?;
}


@{ 
    if (rolelvl >= SuperManagerRequired.LVL)
    { 
        <fieldset>
        <legend>版块负责人考核</legend>
            @(Html.Telerik().Grid<_ManagerScore>().Name("manager")

            .DataKeys(keys =>
            {
                keys.Add(o => o.ID);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax().Select("_SelectManagerIndex", "Performance", new { month = month })
                    .Update("_UpdateManagerScore", "Performance", new { month = month });
            })
        .Columns(columns =>
        {
            columns.Bound(p => p.TargetName).Width(80).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.Assigner).Width(60).HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(p => p.ResponsibilityDisp).Width(50).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.DisciplineDisp).Width(50).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.ExcutionDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.TargetingDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.SearchingDisp).Width(100).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.ProductionDisp).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.PitchPaperDisp).Width(90).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.WeeklyMeetingDisp).Width(60).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.MonthlyMeetingDisp).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.Calllist).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.AddLeads).Width(90).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.CheckIn).Width(80).HtmlAttributes(new { style = "text-align:right" }).Format("{0:p0}");
            columns.Bound(p => p.Rate).Width(60).HtmlAttributes(new { style = "text-align:right" });
            columns.Bound(p => p.Score).Width(60).HtmlAttributes(new { style = "text-align:right" }).ClientTemplate("<p><#= $.telerik.formatString('{0:p0}', Score/100) #></p>");
            columns.Bound(p => p.Confirmed).Width(60);
            //columns.Bound(p => p.Month).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
            //columns.Bound(p => p.Year).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
            if (ViewBag.RoleLevel == SuperManagerRequired.LVL || Utl.Employee.CurrentUserName == "ray" || Utl.Employee.CurrentUserName == "karen")
            {
                columns.Command(commands =>
                {
                    commands.Edit().ButtonType(GridButtonType.Text);
                    commands.Custom("Confirm")
                     .Text("确认")
                      .DataRouteValues(route => route.Add(o => o.ID)
                                              .RouteKey("id")
                                          )
                     .Ajax(true)
                     .Action("_ConfirmManagerScore", "Performance", new { month = month });
                }).Title("编辑").Width(100);
            }
        }).Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("ManagerScoreEdit"))
              .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForManager"))
              .ClientEvents(events => events.OnEdit("ChangeWinTitleForManager"))
              .ClientEvents(events => events.OnComplete("onManagerComplete"))
              .ClientEvents(events => events.OnCommand("onManagerCommand"))
          .Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(350)).Sortable().Resizable(r => r.Columns(true))
                   )
            
            </fieldset>
    }
}
@{ 
    if (rolelvl>= LeaderRequired.LVL)
    {
        <fieldset>
<legend>销售经理考核</legend>
@(Html.Telerik().Grid<_TeamLeadPerformance>().Name("lead")
     .DataKeys(keys =>
     {
         keys.Add(o => o.ID);
     })
    .DataBinding(dataBinding =>
    {
        dataBinding.Ajax().Select("_SelectLeadIndex", "Performance", new { month = month })
            .Update("_UpdateTeamLeadPerformance", "Performance", new { month = month });
    })
.Columns(columns =>
{
    columns.Bound(p => p.Name).Width(50).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.User).Width(50).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.RoleLevel).Width(50);
    columns.Bound(p => p.CompletePercent).Width(120).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" }).Format("{0:#,##0%}");
    columns.Bound(p => p.CheckinScore).Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadNotQualifiedWeeksCount).Width(100).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AddLeadScore).Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.HoursOrFaxNotQualifiedWeeksCount).Width(130).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxCallScore).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AssignedScore).Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Rate).Width(80).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Score).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxOutCountString).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadAddCountString).Width(90).HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
    if (ViewBag.RoleLevel == ManagerRequired.LVL || Utl.Employee.CurrentUserName == "karen")
    {
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);

        }).Title("编辑").Width(100);
    }

})
    .Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("TeamLeadPerformanceEdit"))
          .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForLead"))
          .ClientEvents(events => events.OnEdit("ChangeWinTitleForLead"))
  .Pageable(p => p.Style(GridPagerStyles.Status)
       .PageOnScroll(true).PageSize(25)).Scrollable(scrolling => scrolling.Height(350)).Sortable().Resizable(r => r.Columns(true))
)
</fieldset>
    }
}    

@{ 
    if ( rolelvl >= SalesRequired.LVL)
    {
        <fieldset>
<legend>销售考核</legend>   
@(Html.Telerik().Grid<_SalesPerformance>().Name("sales")
     .DataKeys(keys =>
     {
         keys.Add(o => o.ID);
     })
    .DataBinding(dataBinding =>
    {
        dataBinding.Ajax().Select("_SelectSalesIndex", "Performance", new { month = month })
            .Update("_UpdateSalesPerformance", "Performance", new { month = month });
    })
.Columns(columns =>
{
    columns.Bound(p => p.Name).Width(80).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.User).Width(50).HtmlAttributes(new { style = "text-align:left" });
    columns.Bound(p => p.RoleLevel).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.CompletePercent).Width(120).HtmlAttributes(new { style = "text-align:right" }).Format("{0:#,##0%}");
    columns.Bound(p => p.CheckinScore).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadNotQualifiedWeeksCount).Width(100).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AddLeadScore).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.HoursOrFaxNotQualifiedWeeksCount).Width(130).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxCallScore).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.AssignedScore).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Rate).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.Score).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.FaxOutCountString).Width(80).HtmlAttributes(new { style = "text-align:right" });
    columns.Bound(p => p.LeadAddCountString).Width(80).HtmlAttributes(new { style = "text-align:right" });
    if (ViewBag.RoleLevel == LeaderRequired.LVL || Utl.Employee.CurrentUserName == "karen")
    {
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);

        }).Title("编辑").Width(100);
    }
}).Editable(editing => editing
                                .Mode(GridEditMode.PopUp).TemplateName("SalesPerformanceEdit"))
          .ClientEvents(e => e.OnRowDataBound("ChangeButtonTextForSales"))
          .ClientEvents(events => events.OnEdit("ChangeWinTitleForSales"))
              .ClientEvents(events => events.OnDataBinding("dataBinding"))

.Pageable(p => p.Style(GridPagerStyles.Status)
               .PageOnScroll(true).PageSize(35)).Scrollable(scrolling => scrolling.Height(350)).Resizable(r => r.Columns(true))
.ToolBar(factory => factory
      .Template(@<text>
         <div>
             员工: @Html.TextBox("fuzzyInput", (string)ViewBag.fuzzyInput)
             <a class="t-grid-action t-button t-state-default" onclick="refreshGrid();">查找</a>
         </div>
     </text>))
)
</fieldset>
    }
}    
 
<fieldset>
    <legend>销售和销售经理考核标准</legend>
    <table width="100%">
        <tr>
            <td>
                CheckIn每月目标完成
            </td>
            <td>
                R≥140%, 70%
            </td>
            <td>
                R≥120%,60%
            </td>
            <td>
                R≥100%,50%
            </td>
            <td>
                R≥80%,40%
            </td>
            <td>
                R≥60%,30%
            </td>
            <td>
                R<60%,0%
            </td>
        </tr>
        <tr>
        
        <td colspan="7"> 说明：销售经理月目标为团队月目标，入账额为团队入账额，销售月目标为个人目标，入账额为个人入账额 </td>
        </tr>
    
        <tr>
            <td>
                调研每周达标
            </td>
            <td>
                每周达标, 20%
            </td>
            <td>
                一周不达标, 15%
            </td>
            <td>
                两周不达标, 10%
            </td>
            <td>
                三周不达标, 5%
            </td>
            <td colspan="2">
                四周及以上不达标,0%
            </td>
          
        </tr>
        <tr>
            <td>
                FaxOut|Call每周达标
            </td>
            <td>
                每周达标, 20%
            </td>
            <td>
                一周不达标, 15%
            </td>
            <td>
                两周不达标, 10%
            </td>
            <td>
                三周不达标, 5%
            </td>
            <td colspan="2">
                四周及以上不达标,0%
            </td>
        </tr>
        <tr>
            <td>
                完成布置的任务
            </td>
            <td colspan="2">
                始终做到,10%
            </td>
            <td colspan="2">
                一次做不到,5%
            </td>
            <td colspan="2">
                两次及以上做不到,0%
            </td>
        </tr>
        <tr>
        <td>
                考核系数
            </td>
        <td colspan="6"> 销售系统使用情况 本人或组员未按公司要求使用系统,0 本人及组员系统使用情况良好,1.2 （Karen打分, 系统默认考核系数为1）</td></tr>
    </table>
    
</fieldset>
<script>

    function ChangeButtonTextForManager(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        var rowConfirmButton = $row.find(".t-grid-Confirm");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.Confirmed == "是")) {
            rowButton.remove();
            rowConfirmButton.remove();
            return;
        }
        if ((e.dataItem.User == "karen")) {
            rowButton[0].innerText = "修改系数";
            rowConfirmButton.remove();
            return;
        }
        else if ((e.dataItem.User == "theresa")) {
            rowButton[0].innerText = "打分";
            rowConfirmButton.remove();
        }
        else if ((e.dataItem.User == "ray")) {
            rowButton.remove();
            return;
        }
        else {
            
            rowButton.remove();
        }
        
    }
    function ChangeWinTitleForManager(e) {
        
        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }
    function onManagerCommand(e) {
        //if the custom command is triggered
        if ((e.dataItem.ID == "0" && e.dataItem.User == "ray")) {
            alert("还没有打分，不能确认。")
            return;
        }
        if (e.name == 'Confirm') {
            if (!confirm("确实要确认吗?")) {
                // prevent the request        
                e.preventDefault();
            }
        }
    }
    function ChangeButtonTextForLead(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.User == "karen")) {
            rowButton[0].innerText = "修改系数";
            return;
        }
        else if ((e.dataItem.RoleLevel == "500")) {
            rowButton[0].innerText = "打分";
            return;
        }
        else {
            rowButton.remove();
        }
    }
    function ChangeWinTitleForLead(e) {
        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }

    function ChangeButtonTextForSales(e) {
        var $row = $(e.row);
        var rowButton = $row.find(".t-grid-edit");
        if (rowButton[0] == null)
            return;
        if ((e.dataItem.User == "karen")) {
            rowButton[0].innerText = "修改系数";
            return;
        }
        else if ((e.dataItem.RoleLevel == "100")) {
            rowButton[0].innerText = "打分";
            return;
        }
        else {
            rowButton.remove();
        }
    }
    function ChangeWinTitleForSales(e) {
        var popup = $("#" + e.currentTarget.id + "PopUp");
        var popupDataWin = popup.data("tWindow");
        var l = ($(window).width() / 2 - $(popup).width() / 2);
        popup.css({ "left": l + "px", "margin-left": "0", "width": $(popup).width() });
        if ((e.dataItem.User == "karen")) {
            popupDataWin.title("修改系数");
        }
        else
            popupDataWin.title("打分");
    }
    function onManagerComplete(e) {
        if (e.name == "Confirm") {
            var $grid = $("#manager").data("tGrid");
            $grid.dataBind(e.response.data);
        }
    }
</script>
<script>
    function dataBinding(e) {
      
        var fuzzyValue = $('#fuzzyInput').val();
        e.data = $.extend(e.data, {fuzzyInput: fuzzyValue });
    }
    function refreshGrid() {
        $("#sales").data("tGrid").rebind();

    }

</script> 