@model Entity.ProjectRight
@using Utl
@using Entity
<fieldset>
    <legend>@SR.Form</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.ProjectID)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.ProjectID, new SelectList(CH.GetAllData<Project>(p=>p.IsActived==true),"ID","Name"),"-请选择-")
        @Html.ValidationMessageFor(model => model.ProjectID)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</fieldset>
<fieldset>
<legend>项目权限</legend>
<div>
<ul>
@{
    var rights = CH.GetAllData<AccessRight>();
    List<int> checkedright = new List<int>(); 
    if(Model!=null)
    {
        checkedright = Model.AccessRights.Select(s => s.ID).ToList();
    }
    foreach(var r in rights )
    {
        <li  style="width:30%; float:left;"><span><input type="checkbox"
        
        @if (checkedright.Contains(r.ID))
        {
            <text> checked="checked" </text>
        }
         name="rights" value=@r.ID />  @r.Name</span></li>
    }
}
</ul>
</div>
</fieldset>
