@using Utl;
@model Entity.Company
<fieldset>
    <legend>@SR.Form</legend>

    <div class="display-label">公司英文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_EN)
    </div>

    <div class="display-label">公司中文名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name_CH)
    </div>
    <div class="display-label">区号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictNumber.Name)
    </div>

    <div class="display-label">联系方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>
    <div class="display-label">公司类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyType.Name)
    </div>
    <div class="display-label">行业类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.Name)
    </div>
    <div class="display-label">公司架构</div>
    <div class="display-field">
    @if (Model != null)
    {
        <div style="max-width:300px; max-height:250px;">
      <img alt="公司架构图"  src=@Url.Content("~/Image/DisplayImage/" +  Model.ImageID) />
      </div>
    }
    </div>
    <div class="display-label">公司地址</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="display-label">外资比例</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForeignAssetPercentage)
    </div>
    <div class="display-label">内资比例</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DomesticAssetPercentage)
    </div>
</fieldset>


